@import '../../../../../../assets/variable/variable.scss';

.sales-report-section {
    background-color: $white;

    .download-link {
        display: flex;
        width: 100%;
        justify-content: end;
        padding: 10px 20px;
    }

    nz-table {
        padding: 10px 20px;
    }

    ::ng-deep .nz-table-out-bordered>.ant-table-container {
        overflow-y: scroll;
    }
}
