@import '../../../../../../assets/variable/variable.scss';

.return-in-transit-section {
    .action {
        display: flex;

        button {
            margin: 5px;
        }

        .clear-btn {
            height: 35px !important;
            padding: 0px 9px !important;
            border-radius: 50% !important;
            float: none;
            background-color: $white;
            color: $darkBlue;
            border: 1px solid $darkBlue;
        }
    }
}

.model-section {
    padding: 24px;
    padding-bottom: 0px;

    form {
        width: 100%;
        padding: 0 2px;

        nz-form-label {
            font-size: 16px !important;
            //  font-weight: 700 !important;
            padding-bottom: 2px;
        }

        ::ng-deep .ant-input-prefix {
            font-size: 18px;
            margin-left: -11px;
            margin-right: 10px;
            padding: 0 10px;
            background: $darkBlue;
            border-radius: 5px 0 0 5px;
            color: $white;
        }

        ::ng-deep .ant-input {
            border-radius: 5px !important;
        }

        ::ng-deep .ant-form-item {
            margin-bottom: 10px;
        }

        ::ng-deep .ant-input-affix-wrapper {
            padding: 0px 11px !important;
        }

        nz-input-group {
            border-radius: 5px;

            input {
                height: 35px;
                font-size: 16px;
            }
        }

        button {
            height: 35px !important;
        }

        .button-disabled {
            background: $darkBlue;
            opacity: 0.8;
            color: $white;
        }
    }

    .Neon {
        font-family: sans-serif;
        font-size: 14px;
        color: #494949;
        position: relative;
    }

    .Neon * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .Neon-input-dragDrop {
        display: block;
        width: 343px;
        margin: 0 auto 25px auto;
        padding: 25px;
        color: $gray;
        background: $white;
        border: 2px dashed $border;
        text-align: center;
        -webkit-transition: box-shadow 0.3s, border-color 0.3s;
        -moz-transition: box-shadow 0.3s, border-color 0.3s;
        transition: box-shadow 0.3s, border-color 0.3s;
    }

    .Neon-input-dragDrop .Neon-input-icon {
        font-size: 48px;
        margin-top: -10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .Neon-input-text h3 {
        margin: 0;
        font-size: 18px;
    }

    .Neon-input-text span {
        font-size: 12px;
    }

    .Neon-input-choose-btn.blue {
        color: $darkBlue;
        border: 1px solid $darkBlue;
    }

    .Neon-input-choose-btn {
        display: inline-block;
        padding: 8px 14px;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        color: $gray;
        border-radius: 3px;
        border: 1px solid $border;
        vertical-align: middle;
        background-color: $white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
}
