<div class="return-section">
  <app-section-header [header]="'Return Section'"></app-section-header>

  <div class="body-section">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Return Initiated">
        <app-return-initiated></app-return-initiated>
      </nz-tab>
      <nz-tab nzTitle="Return In-Transit">
        <app-return-in-transit></app-return-in-transit>
      </nz-tab>
      <nz-tab nzTitle="Return Received">
        <app-return-received></app-return-received>
      </nz-tab>
      <nz-tab nzTitle="In Carrier Claims">
        <app-in-carrier-claims></app-in-carrier-claims>
      </nz-tab>
      <nz-tab nzTitle="All">
        <app-all-return></app-all-return>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
