<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Order Processing</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Courier Preferences</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="courier-preferences-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Courier Preferences</span>
    </div>
  </div>
  <div class="body-section">
    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="courierPreferenceList"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Address Nickname</th>
          <th>Active/Inactive</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="courierPreferenceList">
          <tr>
            <td>{{ data?.courierPreferenceName }}</td>
            <td>
              <nz-switch
                nzSize="small"
                [ngModel]="data.activeStatus"
              ></nz-switch>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
