<nz-breadcrumb *ngIf="path[0] !=='dashboard'" style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item *ngFor="let data of breadcrumbList; let no = index">
    <a (click)="backButton(breadcrumbList[0], no)">{{ formatTitle(data) }}</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-breadcrumb *ngIf="path && path[0]==='dashboard'" style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item *ngFor="let data of breadcrumbList; let no = index">
    <a (click)="backButton(breadcrumbList[0], no)">{{ data }}</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
