<app-breadcrumb></app-breadcrumb>

<div class="restricted-via-order-section">
  <app-section-header [header]="'Restricted Via Order'"></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'Restricted Via Order'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'Restricted Via Order'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="restrictedViaOrderList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>Serial No</th>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Reason for Restriction</th>
          <th>Date of Restriction (if Available)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>{{ no + 1 }}</td>
          <td>{{ data?.mpn }}</td>
          <td>{{ data?.upc }}</td>
          <td>{{ data?.productName }}</td>
          <td>{{ data?.amazonASIN }}</td>
          <td>{{ data?.reasonForRestriction }}</td>
          <td>{{ data?.dateOfRestriction }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              class="action-button"
              style="margin-top: 0; height: 35px"
            >
              Match
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
</div>
