<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
    <a (click)="backButton(i, 'profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
    <a (click)="backButton(i, 'profile')">Payment</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
    <a>Ach set up</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="asc-form-section">
  <div class="user-content">
    <div class="tab-header">
      <span>ACH Set Up</span>
    </div>
  </div>
  <div class="body-section">
    <form nz-form [formGroup]="ascSetupForm">
      <nz-form-item>
        <nz-form-label
          [nzXl]="4"
          [nzSm]="7"
          [nzXs]="24"
          nzRequired
          nzFor="name_of_account"
          nzTooltipTitle="Account Holder Name must match the name on 
          your bank account. Do not include the name of your bank 
          itself. Example: John Doe or Company XYZ. Match what your 
          bank has on file using ISO basic Latin characters. This 
          information must be accurate in order to receive your 
          payments."
          [nzTooltipIcon]="tooltipIcon"
          >Account Name</nz-form-label
        >
        <nz-form-control
          [nzXl]="8"
          [nzSm]="12"
          [nzXs]="24"
          [nzErrorTip]="nameOfAccount"
        >
          <nz-input-group>
            <input
              formControlName="name_of_account"
              type="text"
              nz-input
              placeholder="Enter An Account Name"
            />
            <ng-template #nameOfAccount let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 1 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 22 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your name of account!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input valid name of account!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzXl]="4"
          [nzSm]="7"
          [nzXs]="24"
          nzRequired
          nzFor="account_number"
          nzTooltipTitle="Your account must be enabled to receive deposits 
          through the Automated Clearing House (ACH). Please contact 
          your bank for assistance. (Up to 17 digits)"
          [nzTooltipIcon]="tooltipIcon"
          >Account Number</nz-form-label
        >
        <nz-form-control
          [nzXl]="8"
          [nzSm]="12"
          [nzXs]="24"
          [nzErrorTip]="accountNumber!"
        >
          <nz-input-group>
            <input
              formControlName="account_number"
              type="text"
              nz-input
              placeholder="Enter An Account Number"
            />
            <ng-template #accountNumber let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 4 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 17 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your account number!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input only number!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzXl]="4"
          [nzSm]="7"
          [nzXs]="24"
          nzRequired
          nzFor="re_type_account_number"
          nzTooltipTitle="Your account must be enabled to receive deposits 
          through the Automated Clearing House (ACH). Please contact 
          your bank for assistance. (Up to 17 digits)"
          [nzTooltipIcon]="tooltipIcon"
          >Re-Type Account Number</nz-form-label
        >
        <nz-form-control
          [nzXl]="8"
          [nzSm]="12"
          [nzXs]="24"
          [nzValidateStatus]="reTypeAccountNumber ? 'error' : ''"
        >
          <nz-input-group>
            <input
              formControlName="re_type_account_number"
              type="text"
              nz-input
              placeholder="Re-Type An Account Number"
              (input)="reTypeAccount($event)"
            />
            <span *ngIf="reTypeAccountNumber" style="color: red"
              >Account Number is not match!</span
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzXl]="4"
          [nzSm]="7"
          [nzXs]="24"
          nzRequired
          nzFor="bank_name"
          nzTooltipTitle="Enter your US bank name (e.g., Bank of America, 
          Chase, Wells Fargo) for accurate deposit processing."
          [nzTooltipIcon]="tooltipIcon"
          >Bank Name</nz-form-label
        >
        <nz-form-control
          [nzXl]="8"
          [nzSm]="12"
          [nzXs]="24"
          [nzErrorTip]="bankName"
        >
          <nz-input-group>
            <input
              formControlName="bank_name"
              type="text"
              nz-input
              placeholder="Enter Bank Name"
            />
            <ng-template #bankName let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 4 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 30 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your bank name!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input valid bank name!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzXl]="4"
          [nzSm]="7"
          [nzXs]="24"
          nzRequired
          nzFor="routing_transfer_number"
          nzTooltipTitle="(Federal ABA Number) Provide a routing number 
          for Automated Clearing House (ACH) or electronic funds 
          transfers instead of wire transfers. Please contact your bank 
          for assistance."
          [nzTooltipIcon]="tooltipIcon"
          >Routing Transfer Number</nz-form-label
        >
        <nz-form-control
          [nzXl]="8"
          [nzSm]="12"
          [nzXs]="24"
          [nzErrorTip]="routingTransferNumber"
        >
          <nz-input-group>
            <input
              formControlName="routing_transfer_number"
              type="text"
              nz-input
              placeholder="Enter Routing Transfer Number"
            />
            <ng-template #routingTransferNumber let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 9 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 9 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your routing transfer number!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input only number!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col [nzXl]="12" [nzSm]="19" [nzXs]="24">
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            (click)="submitForm()"
            [disabled]="!ascSetupForm.valid || reTypeAccountNumber"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
