<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Order processing</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>shipout location</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="manage-pickup-address">
  <div class="button-group">
    <button
      nz-button
      class="pull-push-btn"
      (click)="addPickupAddress('upload', '')"
    >
      <span nz-icon nzType="download"></span>
    </button>
    <button nz-button class="pull-push-btn">
      <span nz-icon nzType="upload" nzTheme="outline"></span>
    </button>
    <button
      (click)="addPickupAddress('Add', '')"
      nz-button
      nzType="primary"
      class="action-button"
      style="line-height: 0.5; margin-top: 0"
    >
      <span nz-icon nzType="plus"></span> Add Pickup Address
    </button>
  </div>

  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="shipOut"
    nzTableLayout="fixed"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>Address Nickname</th>
        <th>Location Id</th>
        <!-- <th>Status</th>
        <th>Set Primary Address</th> -->
        <th>Active/Inactive</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="shipOut">
        <tr>
          <td>{{ data?.address_nickname }}</td>
          <td>{{ data?.location_id }}</td>
          <!-- <td>
            <span
              *ngIf="data?.status === 1"
              class="badge"
              style="background: #00c13b"
              >Active</span
            >
            <span
              *ngIf="data?.status === 0"
              class="badge"
              style="background: #f41e2c"
              >Inactive</span
            >
          </td>
          <td>
            <a class="radio" (click)="primaryClick(data.id)">
              <label
                *ngIf="data.primaryAddress"
                style="display: flex; align-items: center"
                ><span class="radio-selected">&#10687;</span> Primary
                Address</label
              >
              <label *ngIf="!data.primaryAddress"
                ><span style="margin-left: 2px">&#9711;</span> Primary
                Address</label
              >
            </a>
          </td> -->
          <td>
            <nz-switch nzSize="small" [ngModel]="data.activeStatus"></nz-switch>
          </td>
          <td>
            <a
              style="margin: 0 5px; color: #2121c3"
              (click)="addPickupAddress('Edit', data)"
              ><span nz-icon nzType="edit" nzTheme="outline"></span
            ></a>
            <a
              style="margin: 0 5px; color: #2121c3"
              (click)="addPickupAddress('View', data)"
              ><span nz-icon nzType="eye" nzTheme="outline"></span
            ></a>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="addAddressVisible"
  [nzTitle]="modelHeader + ' Pickup Address'"
  (nzOnCancel)="handleCancel()"
  nzWidth="70%"
>
  <div *nzModalContent>
    <app-add-pickup-address
      [editData]="editData"
      [modelHeader]="modelHeader"
      (closeModel)="handleCancel()"
    ></app-add-pickup-address>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="uploadModelVisible"
  nzTitle="The first Modal"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-upload-model (closeModel)="handleCancel()"></app-upload-model>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="viewAddressVisible"
  nzTitle="View Pickup Address"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-view-pickup-address
      [viewData]="viewData"
      (closeModel)="handleCancel()"
    ></app-view-pickup-address>
  </ng-container>
</nz-modal>
