@import'../../../../../../assets/variable/variable.scss';

.manage-pickup-address {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    min-height: 95%;
    padding: 20px;

    ::ng-deep .anticon {
        line-height: 1;
        font-size: 19px;
    }


    .pull-push-btn {
        float: right;
        margin: 0px 0px 0px 7px;
        border-radius: 5px;
        background: #2a3036f0;
        border: 0;
        color: white;
        width: 52px;
    }

    .Pickup-Address {
        float: right;
        margin: 0px 0px 0px 7px;
        border-radius: 5px;
        border: 0;
    }

    .manage-pickup-table {
        padding: 20px 0px;
    }

    .bagde {
        background: #00c13b;
        border-radius: 8px;
        color: white;
        padding: 1px 22px;
        font-weight: 600;
        margin-right: 19px;
    }

    .merge-cel {
        display: flex;
        justify-content: end;
        padding: 16px 0px;
    }

    .plus-icon {
        padding: 16px 0px 15px 0px;
    }

    .plus-icon-span {
        float: right;
    }

    ::ng-deep .anticon-edit {
        float: right;
    }

    .edit-icon {
        padding-right: 0px;
    }

}
