<app-breadcrumb></app-breadcrumb>
<div class="rebate-section">
  <app-section-header [header]="'Rebate'"></app-section-header>

  <div class="body-section">
    <nz-divider nzText="Rebate Info" nzOrientation="left"></nz-divider>
    <nz-descriptions>
      <nz-descriptions-item nzTitle="Rebate Code"
        ><b>{{ rebateDate.code }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Rebate Year"
        ><b>{{ rebateDate.year }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Rebate Type"
        ><b>{{ rebateDate.type }}</b></nz-descriptions-item
      >
    </nz-descriptions>
    <nz-divider nzText="Rebate Table" nzOrientation="left"></nz-divider>
    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="rebateList"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Lower Threshold ($)</th>
          <th>Upper Threshold ($)</th>
          <th>Discount %</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="rebateList">
          <tr>
            <td>{{ data?.lowerThreshold }}</td>
            <td>{{ data?.upperThreshold }}</td>
            <td>{{ data?.discount }} %</td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
