<div class="orders-section">
  <app-section-header [header]="'Order Section'"></app-section-header>

  <div class="body-section">
    <nz-tabset
      [nzSelectedIndex]="selectedTab"
      (nzSelectedIndexChange)="changeTabIndex($event)"
      nzType="card"
    >
      <nz-tab nzTitle="New"
        ><app-new-orders (changeTab)="selectedTab = 1"></app-new-orders
      ></nz-tab>
      <nz-tab nzTitle="Pending Shipment"
        ><app-pending-shipment></app-pending-shipment
      ></nz-tab>
      <nz-tab nzTitle="Cancellation Requested"
        ><app-cancellation-requested></app-cancellation-requested
      ></nz-tab>
      <nz-tab nzTitle="In Transit"><app-in-transit></app-in-transit></nz-tab>
      <nz-tab nzTitle="Delivered"><app-delivered></app-delivered></nz-tab>
      <!-- <nz-tab nzTitle="RTO"><app-rto-orders></app-rto-orders></nz-tab> -->
      <nz-tab nzTitle="All"><app-all-orders></app-all-orders></nz-tab>
    </nz-tabset>
  </div>
</div>
