 @import'../../../../../assets/variable/variable.scss';

 .orders-section {
     border: 0 solid rgba(0, 0, 0, 0.125);
     background-color: $white;
     background-clip: border-box;
     border-radius: 5px;

     .body-section {
         padding: 15px 10px;

         ::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
         .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
             background-color: $white;
         }

         ::ng-deep.ant-tabs-card .ant-tabs-content {
             height: auto;
             margin-top: -16px;
         }

         ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
             color: $darkBlue;
             font-weight: 700;
             font-size: 14px;
         }

         ::ng-deep.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
             background: $white;
             padding: 15px;
         }

         ::ng-deep.ant-tabs-card>.ant-tabs-nav::before {
             display: none;
         }

         ::ng-deep.ant-tabs-nav-wrap {
             border-bottom: 1px solid $border !important;
         }

         ::ng-deep.ant-tabs-tab:hover {
             color: $darkBlue !important;
             font-weight: 700;
             font-size: 14px;
         }

         ::ng-deep.ant-tabs-card .ant-tabs-tab {
             border-color: transparent;
             background: transparent;
             color: $gray;
             font-weight: 700;
             font-size: 14px;
         }

         ::ng-deep.ant-tabs-card .ant-tabs-tab-active {
             // border-color: $white;
             border-bottom: 2px solid $black;
         }
     }
 }


 @media screen and (max-width:765px) {
     .asc-form-section {
         .body-section {
             max-height: 70vh;
             overflow-y: auto;
         }
     }
 }
