<div class="login-form-layout">
  <app-section-header [header]="'Change Password'"></app-section-header>
  <div class="login-content">
    <form nz-form [formGroup]="changePasswordForm">
      <nz-form-item>
        <nz-form-label
          [nzXl]="8"
          [nzLg]="9"
          [nzXs]="24"
          nzRequired
          nzFor="oldPassword"
          >Old Password
        </nz-form-label>
        <nz-form-control
          [nzXl]="14"
          [nzLg]="15"
          [nzXs]="24"
          [nzValidateStatus]="
            submitError && !changePasswordForm.controls['oldPassword'].value
              ? 'error'
              : ''
          "
          nzErrorTip="Please input your old password!"
        >
          <nz-input-group>
            <input
              formControlName="oldPassword"
              type="password"
              nz-input
              [type]="'text'"
              placeholder="Enter old Password"
            />
            <!-- <a (click)="newPasswordShow = !newPasswordShow"
              ><span
                *ngIf="!newPasswordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="newPasswordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a> -->
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzXl]="8"
          [nzLg]="9"
          [nzXs]="24"
          nzRequired
          nzFor="newPassword"
          >New Password
        </nz-form-label>
        <nz-form-control
          [nzXl]="14"
          [nzLg]="15"
          [nzXs]="24"
          [nzValidateStatus]="
            submitError && !changePasswordForm.controls['newPassword'].value
              ? 'error'
              : ''
          "
          nzErrorTip="Please input your new password!"
        >
          <nz-input-group>
            <input
              formControlName="newPassword"
              type="password"
              nz-input
              [type]="newPasswordShow ? 'password' : 'text'"
              placeholder="Enter New Password"
            />
            <a (click)="newPasswordShow = !newPasswordShow"
              ><span
                *ngIf="!newPasswordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="newPasswordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzXl]="8"
          [nzLg]="9"
          [nzXs]="24"
          nzRequired
          nzFor="confirmPassword"
          >Confirm Password
        </nz-form-label>
        <nz-form-control
          [nzXl]="14"
          [nzLg]="15"
          [nzXs]="24"
          [nzValidateStatus]="
            submitError && !changePasswordForm.controls['confirmPassword'].value
              ? 'error'
              : ''
          "
          nzErrorTip="Please input your confirm password!"
        >
          <nz-input-group>
            <input
              formControlName="confirmPassword"
              type="password"
              nz-input
              [type]="passwordShow ? 'password' : 'text'"
              placeholder="Enter Confirm Password"
              (input)="checkPassword()"
            />
            <span *ngIf="!sameAsPassword" style="color: red; margin: 16px"
              >Passwords do not match.</span
            >
            <a (click)="passwordShow = !passwordShow"
              ><span
                *ngIf="!passwordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="passwordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="action-btn" nz-row>
        <div nz-col [nzXl]="8" [nzLg]="9" [nzXs]="24"></div>
        <button
          nz-col
          nz-button
          nzType="primary"
          (click)="submitForm()"
          [disabled]="isLoading"
          [ngClass]="{
            'button-disabled': isLoading
          }"
        >
          <span
            *ngIf="isLoading"
            style="color: white; font-size: 16px"
            nz-icon
            nzType="loading"
          ></span
          >Change Password
        </button>
      </div>
    </form>
  </div>
</div>
