@import'../../../../assets/variable/variable.scss';

.login-form-layout {
  background-color: $white;
  // height: 100%;

  .login-content {
    // height: 90%;
    padding: 20px;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    form {
      width: 50%;
      padding: 0 2px;

      nz-form-label {
        font-size: 16px !important;
        //  font-weight: 700 !important;
        padding-bottom: 2px;
      }

      ::ng-deep .ant-input-prefix {
        font-size: x-large;
        margin-right: 10px;
      }

      ::ng-deep .ant-input {
        border-radius: 5px !important;
      }

      ::ng-deep .ant-form-item {
        margin-bottom: 10px;
      }

      nz-input-group {
        border-radius: 5px;

        input {
          height: 35px;
          font-size: 16px;
        }
      }

      a,
      a:hover {
        color: $black;
        position: absolute;
        top: 8px;
        left: 90%;
        z-index: 10;

        span {
          font-size: large;
        }
      }

      .action-btn {
        width: 100%;
        display: flex;
        // justify-content: center;
        // padding: 0px 13px;
        padding-top: 10px;

        button {
          min-width: 181px;
          height: 35px;
          border-radius: 4px;
          font-size: 16px;
        }
      }
    }
  }
}
