@import '../../../../../../assets/variable/variable.scss';

.return-in-transit-section {
    .header-section {
        display: flex;
        border: 1px solid $border;
        padding: 10px;
        margin-top: 15px 0;

        .date-range {
            margin-right: 10px;
        }

        .filter {
            display: flex;
            align-items: center;
        }
    }

}
