<div class="profile-section" style="padding: 30px">
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="insurance" class="card-icon"></span>
            <span class="card-title">Billing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
          <a href=""><li nz-submenu nzTitle="SubMenu Title"></li></a>
        </ul>
      </nz-card>
    </div>
  </div>
</div>
