.profile-section {
    ::ng-deep .ant-card-head-title {
        padding: 16px 18px;
    }


    ::ng-deep .ant-card-body {
        padding: 2px 0px;
        // padding: 0px 30px;
        border: none;
        height: 398px;
     
    }

    .card-title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
    }

    ::ng-deep .ant-col {
        // border: 1px solid #d9d9d9;
        margin: 15px 15px;
        // border-radius: 11px;
    }

    ::ng-deep .ant-menu-submenu-title {
        padding-left: 28px !important;
    }

    ::ng-deep .anticon svg {
        display: inline-block;
        color: #1890ff;
        // font-size: 20px;
    }

    .card-icon {
        font-size: 20px;
    }

    ::ng-deep .ant-menu-submenu-arrow::before {
        color: #1890ff;
    }

    ::ng-deep .ant-menu-submenu-arrow::after {
        color: #1890ff;
    }


    ::ng-deep .ant-menu-submenu {
        padding: 0px;
    }


    @media only screen and (max-width: 1230px) {
        ::ng-deep .ant-col {
            margin: 15px 0px;

        }
      }
}
