<div class="profile-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Profile</span>
    </div>
  </div>
  <div class="body-section" nz-row>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="hdd" class="card-icon"></span>
            <span class="card-title">Company</span>
          </li>
        </ul>
        <ul nz-menu>
          <a href=""><li nz-submenu nzTitle="Company Profile"></li></a>
          <a href=""><li nz-submenu nzTitle="Wq Set up"></li></a>
          <a href=""><li nz-submenu nzTitle="Col"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="home" class="card-icon"></span>
            <span class="card-title">Order processing</span>
          </li>
        </ul>
        <ul nz-menu>
          <a href=""><li nz-submenu nzTitle="Label prefernaces"></li></a>
          <a href=""
            ><li
              nz-submenu
              nzTitle="Shipout Location/Manage pickup Address"
            ></li
          ></a>
          <a href=""
            ><li nz-submenu nzTitle="Po (Sending method)/ prefernaces"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="Holidays"></li></a>
          <a href=""
            ><li nz-submenu nzTitle="Invoice Set-up/Prefernaces"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="dollar" class="card-icon"></span>
            <span class="card-title">Catalog & feed (inventory)</span>
          </li>
        </ul>
        <ul nz-menu>
          <a href=""><li nz-submenu nzTitle="Catalog prefernaces"></li></a>
          <a href=""><li nz-submenu nzTitle="Feed prefernaces"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="file" class="card-icon"></span>
            <span class="card-title">Return</span>
          </li>
        </ul>
        <ul nz-menu>
          <!-- <a (click)="navigate()"
            ><li nz-submenu nzTitle="ACH satup profile"></li
          ></a> -->
          <a href=""
            ><li nz-submenu nzTitle="Return settings/Prefernace"></li
          ></a>
          <a href=""><li nz-submenu nzTitle="Return Location/Address"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="user-delete" class="card-icon"></span>
            <span class="card-title">Allowances</span>
          </li>
        </ul>
        <ul nz-menu>
          <a href=""><li nz-submenu nzTitle="Rebate"></li></a>
          <a href=""><li nz-submenu nzTitle="Co-op"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="book" class="card-icon"></span>
            <span class="card-title">Payments</span>
          </li>
        </ul>
        <ul nz-menu>
          <a (click)="navigate()"><li nz-submenu nzTitle="ACH set up "></li></a>
          <a href=""><li nz-submenu nzTitle="ACH verification"></li></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="bell" class="card-icon"></span>
            <span class="card-title">Communications</span>
          </li>
        </ul>
        <ul nz-menu>
          <a href=""><li nz-submenu nzTitle="Contact prefernaces"></li></a>
          <a href=""><li nz-submenu nzTitle="Notification prefernaces"></li></a>
        </ul>
      </nz-card>
    </div>
  </div>
</div>
