<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Return</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Return Location</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="return-location-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Return Location</span>
    </div>
  </div>
  <div class="body-section">
    <div class="button-group">
      <button
        (click)="addPickupAddress('Add', '')"
        nz-button
        nzType="primary"
        class="action-button"
        style="line-height: 0.5; margin-top: 0"
      >
        <span nz-icon nzType="plus"></span> Add Return Location
      </button>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="returnLocationList"
      nzTableLayout="fixed"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th style="width: 55px"></th>
          <th>Address Nickname</th>
          <th>Location Id</th>
          <th>Active/Inactive</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="returnLocationList">
          <tr>
            <td [(nzExpand)]="data.expand"></td>
            <td>{{ data?.address_nickname }}</td>
            <td>{{ data?.location_id }}</td>
            <td>
              <nz-switch
                nzSize="small"
                [ngModel]="data.activeStatus"
              ></nz-switch>
            </td>
            <td>
              <a style="margin: 0 5px" (click)="addPickupAddress('Edit', data)"
                ><span nz-icon nzType="edit" nzTheme="outline"></span
              ></a>
              <a style="margin: 0 5px" (click)="addPickupAddress('View', data)"
                ><span nz-icon nzType="eye" nzTheme="outline"></span
              ></a>
            </td>
          </tr>
          <tr [nzExpand]="data.expand">
            <nz-table
              style="margin: 6px 0"
              #innerTable
              [nzData]="[data]"
              nzSize="middle"
              [nzShowPagination]="false"
            >
              <!-- <thead>
                  <tr>
                    <th>Guests</th>
                  </tr>
                </thead> -->
              <tbody>
                <tr>
                  <td>No Data</td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="addAddressVisible"
  [nzTitle]="modelHeader + ' Return Address'"
  (nzOnCancel)="handleCancel()"
  nzWidth="70%"
>
  <div *nzModalContent>
    <app-add-pickup-address
      [editData]="editData"
      (closeModel)="handleCancel()"
    ></app-add-pickup-address>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="viewAddressVisible"
  nzTitle="View Return Address"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-view-pickup-address
      [viewData]="viewData"
      (closeModel)="handleCancel()"
    ></app-view-pickup-address>
  </ng-container>
</nz-modal>
