<div class="invoice-payment-status-section">
  <div class="filter-section">
    <form [formGroup]="filterForm">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <div class="editor-tag" (click)="focusTagInput()">
              <span class="tag-item" *ngFor="let tag of tags">
                {{ tag }}
                <span class="remove-tag" (click)="removeTag(tag)">×</span>
              </span>
              <input
                placeholder="Add Invoice/ PO Number"
                #tagInput
                type="text"
                class="input-tag"
                (keyup)="onKeyUp($event)"
                formControlName="filter"
              />
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <span style="font-weight: 500"
        >Note : Press enter/ backspace to add multiple values</span
      >
    </form>
    <button
      nz-button
      nzType="primary"
      style="margin-top: 4px"
      class="action-button"
    >
      Submit
    </button>
  </div>

  <app-payment-table
    [listOfData]="invoicePaymentStatusList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'Invoice Payment Status'"
  ></app-payment-table>
</div>
