<div class="invoice-payment-status-section">
  <div class="filter-section">
    <form [formGroup]="filterForm">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <div class="editor-tag" (click)="focusTagInput()">
              <span class="tag-item" *ngFor="let tag of tags">
                {{ tag }}
                <span class="remove-tag" (click)="removeTag(tag)">×</span>
              </span>
              <input
                placeholder="Add Invoice/ PO Number"
                #tagInput
                type="text"
                class="input-tag"
                (keyup)="onKeyUp($event)"
                formControlName="filter"
              />
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <span><b>Note : Press enter/ backspace to add multiple values</b></span>
    </form>
    <button
      nz-button
      nzType="primary"
      style="margin-top: 0px"
      class="action-button"
    >
      Submit
    </button>
  </div>
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="invoicePaymentStatusList"
    
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>Invoice #</th>
        <th>Invoice Date</th>
        <th>Invoice Amount</th>
        <th>PO #</th>
        <th>Payment Due Date</th>
        <th>Chargeback Amount</th>
        <th>To Be Paid Amount</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="invoicePaymentStatusList">
        <tr>
          <td>{{ data?.invoiceNo }}</td>
          <td>{{ data?.invoiceDate }}</td>
          <td>{{ data?.invoiceAmount | currency }}</td>
          <td><a style="color: #1221c3"
            ><u
              ><b>{{ data.poNumber }}</b></u
            ></a
          ></td>
          <td>{{ data?.paymentDueDate }}</td>
          <td>{{ data?.chargebackAmount | currency }}</td>
          <td>{{ data?.toBePaidAmount | currency }}</td>
          <td>{{ data?.remarks }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>
