<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Catalog & Feed</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Catalog Prefernaces</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="catalog-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Catalog Prefernaces</span>
    </div>
  </div>

  <div class="catalog-content">
    <form nz-form [formGroup]="catalogForm">
      <nz-form-item>
        <nz-form-label nz-col nzFor="map"   
        [nzXl]="4"
        [nzSm]="7"
        [nzXs]="24">Map</nz-form-label>
        <nz-form-control
          [nzXl]="10"
          [nzSm]="12"
          [nzXs]="24"
          nzErrorTip="PO Method is required!"
        >
          <nz-input-group>
            <nz-radio-group formControlName="map">
              <label nz-radio nzValue="yes">Yes</label>
              <label nz-radio nzValue="no">No</label>
              <label nz-radio nzValue="incart">Incart</label>
            </nz-radio-group>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nz-col nzFor="map"   
        [nzXl]="4"
        [nzSm]="7"
        [nzXs]="24">Handling set up</nz-form-label>
        <nz-form-control
          [nzXl]="10"
          [nzSm]="12"
          [nzXs]="24"
          nzErrorTip="PO Method is required!"
        >
          <nz-input-group>
            <nz-radio-group
              (ngModelChange)="selectPrepaidLabel($event)"
              formControlName="handlingSetup"
              
            >
              <label nz-radio nzValue="yes">Account level</label>
              <label nz-radio nzValue="no">Product level</label>
            </nz-radio-group>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row  *ngIf="showLabelSection">
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="12"
          style="padding: 0 8px"
        >
          <nz-form-label nzFor="date"  
          [nzXl]="8"
          [nzSm]="14"
          [nzXs]="24">Choose number of days </nz-form-label>
          <nz-form-control  [nzErrorTip]="day"
          
          [nzXl]="10"
          [nzSm]="12"
          [nzXs]="24">
            <nz-input-group>
              <input
                type="number"
                nz-input
                
                formControlName="choose_number_of_days_data"
              />

              <ng-template #day let-control>
                <ng-container *ngIf="control.hasError('min')"
                  >Please input minimum 1 number!</ng-container
                >
                <ng-container *ngIf="control.hasError('max')"
                  >Please input maximum 30 number!</ng-container
                >
                <ng-container *ngIf="control.hasError('required')"
                  >day is required!</ng-container
                >
                <ng-container *ngIf="control.hasError('pattern')"
                  >Please input valid number!</ng-container
                >
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <div nz-col [nzXl]="7" [nzLg]="15" [nzSm]="16" [nzXs]="24">
          <button
            nz-button
            class="login-form-button login-form-margin"
            style="height: 35px"
            class="submit-btn"
          >
          <span nz-icon nzType="file-text" nzTheme="outline"></span> Save
          </button>

         
        </div>
      </div>
    </form>
  </div>
</div>
