<div #section class="delivered-section">
  <div class="body-section">
    <app-date-range
      (export)="isExportVisible = true"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
      (searchChange)="searchDataChanges($event)"
    ></app-date-range>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectSku]="selectSku"
        [selectCarrier]="selectCarrier"
        [selectRangeDate]="selectRangeDate"
      ></app-filter-tag>
    </div>

    <app-order-table
      [listOfData]="deliveredData"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [isLoading]="isLoading"
      [tabName]="'Delivered'"
    ></app-order-table>
  </div>

  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [sku]="selectSku"
      [carrier]="selectCarrier"
      [rangeDate]="selectRangeDate"
      [tabName]="'delivered'"
    ></app-filter-section>
  </div>

  <nz-modal
    [(nzVisible)]="isExportVisible"
    nzTitle="Which order would you like to export?"
    (nzOnCancel)="isExportVisible = false"
  >
    <ng-container *nzModalContent>
      <app-export-model
        [exportType]="false"
        [sectionName]="'order'"
        [description]="
          'Your order will be exported as a CSV file and sent to your email.'
        "
        [listOfFilter]="listOfFilter"
        [noOfFilter]="total"
        (close)="isExportVisible = false"
      ></app-export-model>
    </ng-container>
  </nz-modal>
</div>
