<div class="add-pickup-address-section">
  <div class="body-section">
    <form nz-form [formGroup]="ascSetupForm">
      <nz-divider nzText="Contact Info" nzOrientation="left"></nz-divider>
      <div style="margin-bottom: 10px" nz-row [nzGutter]="16">
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control nzErrorTip="Address nickname is required!">
            <nz-form-label nzFor="address_nickname"
              >Address Nickname<span style="color: red; font-weight: 500"
                >*</span
              >
            </nz-form-label>
            <span
              nzTooltipTitle="It acts a nickname for your pick up address. We recommended you to enter a value which can be easily recalled."
              nzTooltipPlacement="right"
              nz-button
              nz-tooltip
              nz-icon
              nzType="question-circle"
              nzTheme="twotone"
            ></span>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="address_nickname"
                type="text"
                nz-input
                placeholder="Enter Address Nickname"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control nzErrorTip="Company name is required!">
            <nz-form-label nzFor="company_name"
              >Company Name<span style="color: red; font-weight: 500">*</span>
            </nz-form-label>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="company_name"
                type="text"
                nz-input
                placeholder="Enter Company Name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control nzErrorTip="Contact name is required!">
            <nz-form-label nzFor="contact_name"
              >Contact Name<span style="color: red; font-weight: 500">*</span>
            </nz-form-label>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="contact_name"
                type="text"
                nz-input
                placeholder="Enter Contact Name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control [nzErrorTip]="phone">
            <nz-form-label nzFor="phone"
              >Phone<span style="color: red; font-weight: 500">*</span>
            </nz-form-label>
            <span
              nzTooltipTitle="Enter contact details of your warehouse manager/operations head available at this pickup location."
              nzTooltipPlacement="right"
              nz-button
              nz-tooltip
              nz-icon
              nzType="question-circle"
              nzTheme="twotone"
            ></span>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="phone"
                type="text"
                nz-input
                placeholder="Enter Phone Number"
              />
              <ng-template #phone let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Phone number is required!<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Please input valid name of account!</ng-container
                >
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control nzErrorTip="Extension is required!">
            <nz-form-label nzFor="extension">Extension </nz-form-label>
            <span
              nzTooltipTitle="Provide a secondary contact number for your buyers (For example: Customer Care Number)."
              nzTooltipPlacement="right"
              nz-button
              nz-tooltip
              nz-icon
              nzType="question-circle"
              nzTheme="twotone"
            ></span>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="extension"
                type="text"
                nz-input
                placeholder="Enter Extension"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzMd]="12"
          [nzXl]="6"
        >
          <nz-form-control [nzErrorTip]="email">
            <nz-form-label nzFor="email"
              >Email<span style="color: red; font-weight: 500">*</span>
            </nz-form-label>
            <nz-input-group>
              <input
                [readonly]="modelHeader === 'View'"
                formControlName="email"
                type="email"
                nz-input
                placeholder="Enter Email"
              />
              <ng-template #email let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Email is required!<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('email')"
                  >Please input valid email!</ng-container
                >
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-divider
        style="margin-top: 35px"
        nzText="Address Details"
        nzOrientation="left"
      ></nz-divider>
      <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzLg]="24" [nzXl]="12">
          <div nz-row [nzGutter]="16">
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="24">
              <nz-form-control nzErrorTip="Address 1 is required!">
                <nz-form-label nzFor="address_line_1"
                  >Address Line 1<span style="color: red; font-weight: 500"
                    >*</span
                  >
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="address_line_1"
                    type="text"
                    nz-input
                    placeholder="Enter Address 1"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="24">
              <nz-form-control nzErrorTip="Address 2 is required!">
                <nz-form-label nzFor="address_line_2"
                  >Address Line 2
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="address_line_2"
                    type="text"
                    nz-input
                    placeholder="Enter Address 2"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="12">
              <nz-form-control [nzErrorTip]="pinCode">
                <nz-form-label nzFor="pin_code"
                  >Pin Code<span style="color: red; font-weight: 500">*</span>
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="pin_code"
                    type="text"
                    nz-input
                    placeholder="Enter Pin Code"
                  />
                  <ng-template #pinCode let-control>
                    <ng-container *ngIf="control.hasError('minlength')"
                      >Please input minimum 6 number!<br
                    /></ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')"
                      >Please input maximum 6 number!<br
                    /></ng-container>
                    <ng-container *ngIf="control.hasError('required')"
                      >Pin Code is required!<br
                    /></ng-container>
                    <ng-container *ngIf="control.hasError('pattern')"
                      >Please input valid pin code!</ng-container
                    >
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="12">
              <nz-form-control nzErrorTip="City is required!">
                <nz-form-label nzFor="city"
                  >City<span style="color: red; font-weight: 500">*</span>
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="city"
                    type="text"
                    nz-input
                    placeholder="Enter City"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="12">
              <nz-form-control nzErrorTip="State is required!">
                <nz-form-label nzFor="state"
                  >State<span style="color: red; font-weight: 500">*</span>
                </nz-form-label>
                <nz-input-group>
                  <nz-select
                    [nzDisabled]="modelHeader === 'View'"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a state"
                    formControlName="state"
                  >
                    <nz-option nzLabel="State 1" nzValue="state 1"></nz-option>
                    <nz-option nzLabel="State 2" nzValue="state 2"></nz-option>
                    <nz-option nzLabel="State 3" nzValue="state 3"></nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div
          style="width: 100%"
          nz-col
          class="gutter-row"
          [nzLg]="24"
          [nzXl]="12"
        >
          <div nz-row [nzGutter]="16">
            <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzMd]="24">
              <nz-form-control nzErrorTip="Warehouse Timings is required!">
                <nz-form-label nzFor="warehouseTimings"
                  >Warehouse Timings
                </nz-form-label>
                <div nz-row>
                  <div nz-col class="gutter-row" [nzSm]="24" [nzMd]="8">
                    <nz-form-control nzErrorTip="Open At is required!">
                      <label nzFor="open_at">Open At</label>
                      <nz-input-group>
                        <nz-time-picker
                          [nzDisabled]="modelHeader === 'View'"
                          formControlName="open_at"
                        ></nz-time-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </div>
                  <div nz-col class="gutter-row" [nzSm]="24" [nzMd]="8">
                    <nz-form-control nzErrorTip="Close At is required!">
                      <label nzFor="close_at">Close At</label>
                      <nz-input-group>
                        <nz-time-picker
                          [nzDisabled]="modelHeader === 'View'"
                          formControlName="close_at"
                        ></nz-time-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </div>
                  <div nz-col class="gutter-row" [nzSm]="24" [nzMd]="8">
                    <nz-form-control nzErrorTip="Time Zone is required!">
                      <label nzFor="close_at">Time Zone</label>
                      <nz-input-group>
                        <nz-select
                          [nzDisabled]="modelHeader === 'View'"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="Select time zone"
                          formControlName="time_zone"
                        >
                          <nz-option nzLabel="EST" nzValue="EST"></nz-option>
                          <nz-option nzLabel="PST" nzValue="PST"></nz-option>
                          <nz-option nzLabel="CST" nzValue="CST"></nz-option>
                          <nz-option nzLabel="MST" nzValue="MST"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- <nz-form-item nz-col class="gutter-row" [nzSm]="24">
          <nz-form-control>
            <label
              [nzDisabled]="modelHeader === 'View'"
              nz-checkbox
              formControlName="vendor_address"
              (ngModelChange)="updateAllChecked('vendor', $event)"
              >Add this address as supplier/vendor address</label
            >
            <span
              nzTooltipTitle="Enabled this to ship order directly from your vendor's location and generate customer invoice with vendor details."
              nzTooltipPlacement="right"
              nz-button
              nz-tooltip
              nz-icon
              nzType="question-circle"
              nzTheme="twotone"
            ></span>
          </nz-form-control>
        </nz-form-item>

        <div nz-col class="gutter-row" [nzSm]="24" *ngIf="vendorAddress">
          <div nz-row>
            <nz-form-item
              nz-col
              class="gutter-row"
              [nzSm]="24"
              [nzMd]="12"
              [nzXl]="6"
            >
              <nz-form-control>
                <nz-form-label nzFor="supplier_name"
                  >Supplier/Vendor's Name
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="supplier_name"
                    type="text"
                    nz-input
                    placeholder="Enter Name"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item
              nz-col
              class="gutter-row"
              [nzSm]="24"
              [nzMd]="12"
              [nzXl]="6"
            >
              <nz-form-control>
                <nz-form-label nzFor="supplier_gstin"
                  >Supplier/Vendor's GSTIN
                </nz-form-label>
                <nz-input-group>
                  <input
                    [readonly]="modelHeader === 'View'"
                    formControlName="supplier_gstin"
                    type="text"
                    nz-input
                    placeholder="Enter GSTIN"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <div class="model-footer">
    <div class="model-action">
      <button
        nz-button
        nzType="default"
        style="color: black; margin-right: 5px"
        (click)="handleCancel('close')"
      >
        Cancel
      </button>
      <button
        *ngIf="modelHeader !== 'View'"
        nz-button
        class="action-button"
        (click)="submitForm()"
        [disabled]="!ascSetupForm.valid || isLoading"
        [ngClass]="{
          'button-disabled': !ascSetupForm.valid || isLoading
        }"
        [nzType]="'primary'"
        style="width: 150px; margin-top: 0px; margin-right: 10px"
      >
        <span
          *ngIf="isLoading"
          style="color: white; font-size: 16px"
          nz-icon
          nzType="loading"
        ></span>
        Save Address
      </button>
    </div>
  </div>
</div>
