<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Company</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Certificate of Insurance</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="certi-of-insurance-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Certificate of Insurance</span>
      <button nz-button class="gotohome-btn">Download</button>
    </div>
  </div>

  <div class="body-section">
    <nz-descriptions>
      <nz-descriptions-item nzTitle="Producer (Name + Address)"
        ><b>{{
          certiOfInsuranceDate.producerNameAddress
        }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Insured Identification Number"
        ><b>{{
          certiOfInsuranceDate.insuredNameAddress
        }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Date insured"
        ><b>{{ certiOfInsuranceDate.dateInsured }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Classification"
        ><b>{{ certiOfInsuranceDate.classification }}</b></nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Document Type Type"
        ><b>{{ certiOfInsuranceDate.documentType }}</b></nz-descriptions-item
      >
    </nz-descriptions>
    <button nz-button class="ticket-btn">Go to Ticket page</button>
  </div>
</div>
