<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Order Processing</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Holidays</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="holiday-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Holiday</span>
    </div>
  </div>
  <div class="body-section">
    <form nz-form [formGroup]="holidayForm">
      <div nz-row [nzGutter]="16">
        <div formArrayName="holidayDetail" style="width: 50%">
          <div
            nz-col
            class="gutter-row"
            [nzSm]="24"
            *ngFor="let holiday of holidayDetail.controls; let i = index"
          >
            <div nz-row [nzGutter]="16" [formGroupName]="i">
              <nz-form-item nz-col class="gutter-row" [nzSm]="24" [nzXl]="11">
                <nz-form-label nzFor="date">Date</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <nz-date-picker formControlName="date"></nz-date-picker>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nz-col class="gutter-row" [nzSm]="20" [nzXl]="11">
                <nz-form-label nzFor="date">Remark</nz-form-label>
                <nz-form-control nzErrorTip="Remark is required!">
                  <nz-input-group>
                    <input
                      type="text"
                      nz-input
                      placeholder="Enter Remark"
                      formControlName="remark"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <div nz-col class="gutter-row add-row" [nzSm]="4" [nzXl]="2">
                <a
                  *ngIf="i === holidayDetail.controls.length - 1"
                  nz-button
                  class="add-button"
                  nzShape="circle"
                  (click)="addHolidays()"
                >
                  +
                </a>
                <a
                  *ngIf="i !== holidayDetail.controls.length - 1"
                  nz-button
                  class="add-button"
                  nzShape="circle"
                  (click)="removeHoliday(i)"
                >
                  -
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXl]="12" [nzSm]="19" [nzXs]="24">
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
