<app-breadcrumb></app-breadcrumb>

<div class="view-inventory-section">
  <app-section-header [header]="'Inventory Feed Details'"></app-section-header>

  <nz-spin [nzSpinning]="isLoading" nzTip="Loading...">
    <div class="body-section">
      <div nz-row [nzGutter]="16" class="header-section">
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="12"
          class="left-section"
        >
          <span *ngIf="feedResult.toLocaleLowerCase() === 'processed'"
            ><b>Feed Code : </b>{{ editData.requested_feed_code }}</span
          >
          <span
            ><b>Date (EST) : </b
            >{{
              editData.feed_process_time | date : "dd-MM-yyyy HH:MM a"
            }}</span
          >
          <span><b>Feed Method : </b>{{ editData.feed_method }}</span>
          <span><b>Feed Status : </b>{{ editData.feed_method }}</span>
          <span *ngIf="feedResult.toLocaleLowerCase() === 'processed'"
            ><b>Total Products : </b>{{ total }}</span
          >
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="12"
          class="right-section"
        >
          <span
            ><a [href]="editData.raw_file_url" class="link"
              >download raw file</a
            ></span
          >
          <span
            ><a [href]="editData.processed_file_url" class="link"
              >download processed file</a
            ></span
          >
        </div>
      </div>
      <div *ngIf="feedResult.toLocaleLowerCase() === 'processed'">
        <div style="display: flex; justify-content: center; margin: 10px 0">
          <h3 style="margin-bottom: 0">Inventory Feed Update</h3>
        </div>
        <nz-table
          #nzTable
          nzOuterBordered
          [nzData]="inventoryFeedUpdate"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th style="width: 60%"></th>
              <th class="text-end">In Stock</th>
              <th class="text-end">Out of Stock</th>
              <th class="text-end">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Active</b></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <ng-template ngFor let-data [ngForOf]="inventoryFeedUpdate">
              <tr>
                <td
                  [ngClass]="{
                    'padding-left':
                      inventoryFeedUpdate[0].name === data?.name ||
                      inventoryFeedUpdate[1].name === data?.name ||
                      inventoryFeedUpdate[2].name === data?.name ||
                      inventoryFeedUpdate[3].name === data?.name
                  }"
                >
                  <span
                    [ngClass]="{
                      bold: !(
                        inventoryFeedUpdate[0].name === data?.name ||
                        inventoryFeedUpdate[1].name === data?.name ||
                        inventoryFeedUpdate[2].name === data?.name ||
                        inventoryFeedUpdate[3].name === data?.name
                      )
                    }"
                    >{{ data?.name }}</span
                  >
                </td>
                <td class="text-end">
                  <span
                    [ngClass]="{
                      bold: !(
                        inventoryFeedUpdate[0].name === data?.name ||
                        inventoryFeedUpdate[1].name === data?.name ||
                        inventoryFeedUpdate[2].name === data?.name ||
                        inventoryFeedUpdate[3].name === data?.name
                      )
                    }"
                    >{{ data?.in_stock ? data?.in_stock : 0 }}</span
                  >
                </td>
                <td class="text-end">
                  <span
                    [ngClass]="{
                      bold: !(
                        inventoryFeedUpdate[0].name === data?.name ||
                        inventoryFeedUpdate[1].name === data?.name ||
                        inventoryFeedUpdate[2].name === data?.name ||
                        inventoryFeedUpdate[3].name === data?.name
                      )
                    }"
                    >{{ data?.out_stock ? data?.out_stock : 0 }}</span
                  >
                </td>
                <td class="text-end">
                  <span
                    [ngClass]="{
                      bold: !(
                        inventoryFeedUpdate[0].name === data?.name ||
                        inventoryFeedUpdate[1].name === data?.name ||
                        inventoryFeedUpdate[2].name === data?.name ||
                        inventoryFeedUpdate[3].name === data?.name
                      )
                    }"
                    >{{ data.total }}</span
                  >
                </td>
              </tr>
            </ng-template>
            <tr>
              <td><b>Total</b></td>
              <td class="text-end">
                <b>{{ totalInStock }}</b>
              </td>
              <td class="text-end">
                <b>{{ totalOutStock }}</b>
              </td>
              <td class="text-end">
                <b>{{ total }}</b>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</div>
