<app-breadcrumb></app-breadcrumb>

<div class="view-inventory-section">
  <app-section-header [header]="'Inventory Feed Details'"></app-section-header>

  <nz-spin [nzSpinning]="isLoading">
    <div class="body-section">
      <div nz-row [nzGutter]="16" class="header-section">
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="16"
          class="left-section"
        >
          <span><b>Feed Code : </b>{{ editData.requsted_feed_code }}</span>
          <span
            ><b>Date (EST) : </b
            >{{
              editData.feed_process_time | utcDateToLocalConverter : false
            }}</span
          >
          <span><b>Feed Method : </b>{{ editData.feed_method }}</span>
          <span
            ><b>Feed Status : </b
            >{{
              editData.feed_status
                ? editData.feed_status
                : editData?.rejection_details?.rejection_reason
            }}</span
          >
          <span *ngIf="feedResult.toLocaleLowerCase() === 'processed'"
            ><b>Total Products : </b>{{ total }}</span
          >
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="8"
          class="right-section"
        >
          <span
            ><a [href]="editData.raw_file_url" class="link"
              >Download Original Feed File</a
            ></span
          >
          <span
            ><a
              [href]="
                feedResult.toLocaleLowerCase() === 'processed'
                  ? editData.processed_file_url
                  : editData.rejected_file_url
              "
              class="link"
              >Download
              {{
                feedResult.toLocaleLowerCase() === "processed"
                  ? "Processed"
                  : "Error"
              }}
              File</a
            ></span
          >
        </div>
      </div>
      <div *ngIf="feedResult.toLocaleLowerCase() === 'processed'">
        <div class="table-header">
          <span>Inventory Feed Update</span>
        </div>
        <nz-table
          #nzTable
          nzOuterBordered
          [nzData]="editData"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th style="width: 60%"></th>
              <th class="text-end">In Stock</th>
              <th class="text-end">Out of Stock</th>
              <th class="text-end">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <b>Active</b><br />
                <span
                  >"Out of Stock" products that have now come back "In Stock". (
                  {{ editData?.active_out_of_stock_to_in_stock }}
                  )</span
                >
                <br />
                "In Stock" products that continue to remain "In Stock". ({{
                  editData?.active_in_stock_to_in_stock
                }})<br />
                "In Stock" products that have gone "Out of Stock". ({{
                  editData?.active_in_stock_to_out_of_stock
                }})<br />
                "Out of Stock" products that continue to remain "Out of Stock.
                ({{ editData?.active_out_of_stock_to_out_of_stock }})
              </td>
              <td class="text-end">
                {{ editData?.active_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.active_out_of_stock }}
              </td>
              <td class="text-end">
                {{ editData?.active_in_stock + editData?.active_out_of_stock }}
              </td>
            </tr>
            <!-- <tr>
              <td>123Stores Restricted</td>
              <td class="text-end">
                {{ editData?.suppressed_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.suppressed_out_of_stock }}
              </td>
              <td class="text-end">
                {{
                  editData?.suppressed_in_stock ??
                    0 + editData?.suppressed_out_of_stock ??
                    0
                }}
              </td>
            </tr> -->
            <tr>
              <td>123Stores Restricted</td>
              <td class="text-end">
                {{ editData?.suppressed_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.suppressed_out_of_stock }}
              </td>
              <td class="text-end">
                {{
                  editData?.suppressed_in_stock +
                    editData?.suppressed_out_of_stock
                }}
              </td>
            </tr>
            <tr>
              <td>LTL</td>
              <td class="text-end">
                {{ editData?.ltl_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.ltl_out_of_stock }}
              </td>
              <td class="text-end">
                {{ editData?.ltl_in_stock + editData?.ltl_out_of_stock }}
              </td>
            </tr>
            <tr>
              <td>Discontinued</td>
              <td class="text-end">
                {{ editData?.discontinued_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.discontinued_out_of_stock }}
              </td>
              <td class="text-end">
                {{
                  editData?.discontinued_in_stock +
                    editData?.discontinued_out_of_stock
                }}
              </td>
            </tr>
            <tr>
              <td>Partner Restricted</td>
              <td class="text-end">
                {{ editData?.restricted_in_stock ?? 0 }}
              </td>
              <td class="text-end">
                {{ editData?.restricted_out_of_stock ?? 0 }}
              </td>
              <td class="text-end">
                {{
                  (editData?.restricted_in_stock ?? 0) +
                    (editData?.restricted_out_of_stock ?? 0)
                }}
              </td>
            </tr>

            <tr>
              <td>Stranded (In-Feed)</td>
              <td class="text-end">
                {{ editData?.stranded_in_feed_in_stock }}
              </td>
              <td class="text-end">
                {{ editData?.stranded_in_feed_out_of_stock }}
              </td>
              <td class="text-end">
                {{
                  editData?.stranded_in_feed_in_stock +
                    editData?.stranded_in_feed_out_of_stock
                }}
              </td>
            </tr>
            <tr>
              <td><b>Total</b></td>
              <td class="text-end">
                <b>{{
                  (editData?.active_in_stock ? editData?.active_in_stock : 0) +
                    (this.editData?.suppressed_in_stock
                      ? this.editData?.suppressed_in_stock
                      : 0) +
                    (editData?.discontinued_in_stock
                      ? editData?.discontinued_in_stock
                      : 0) +
                    (editData?.restricted_in_stock
                      ? editData?.restricted_in_stock
                      : 0) +
                    (editData?.ltl_in_stock ? editData?.ltl_in_stock : 0) +
                    (editData?.stranded_in_feed_in_stock
                      ? editData?.stranded_in_feed_in_stock
                      : 0)
                }}</b>
              </td>
              <td class="text-end">
                <b>{{
                  (editData?.active_out_of_stock
                    ? editData?.active_out_of_stock
                    : 0) +
                    (this.editData?.suppressed_out_of_stock
                      ? this.editData?.suppressed_out_of_stock
                      : 0) +
                    (editData?.discontinued_out_of_stock
                      ? editData?.discontinued_out_of_stock
                      : 0) +
                    (editData?.restricted_out_of_stock
                      ? editData?.restricted_out_of_stock
                      : 0) +
                    (editData?.ltl_out_of_stock
                      ? editData?.ltl_out_of_stock
                      : 0) +
                    (editData?.stranded_in_feed_out_of_stock
                      ? editData?.stranded_in_feed_out_of_stock
                      : 0)
                }}</b>
              </td>
              <td class="text-end">
                <b>{{
                  (editData?.active_in_stock ? editData?.active_in_stock : 0) +
                    (editData?.active_out_of_stock
                      ? editData?.active_out_of_stock
                      : 0) +
                    (this.editData?.suppressed_in_stock
                      ? this.editData?.suppressed_in_stock
                      : 0) +
                    (this.editData?.suppressed_out_of_stock
                      ? this.editData?.suppressed_out_of_stock
                      : 0) +
                    (editData?.discontinued_in_stock
                      ? editData?.discontinued_in_stock
                      : 0) +
                    (editData?.discontinued_out_of_stock
                      ? editData?.discontinued_out_of_stock
                      : 0) +
                    (editData?.restricted_in_stock
                      ? editData?.restricted_in_stock
                      : 0) +
                    (editData?.restricted_out_of_stock
                      ? editData?.restricted_out_of_stock
                      : 0) +
                    (editData?.ltl_in_stock ? editData?.ltl_in_stock : 0) +
                    (editData?.ltl_out_of_stock
                      ? editData?.ltl_out_of_stock
                      : 0) +
                    (editData?.stranded_in_feed_in_stock
                      ? editData?.stranded_in_feed_in_stock
                      : 0) +
                    (editData?.stranded_in_feed_out_of_stock
                      ? editData?.stranded_in_feed_out_of_stock
                      : 0)
                }}</b>
              </td>
            </tr>
            <tr>
              <td style="padding: 26px"></td>
              <td style="padding: 26px"></td>
              <td style="padding: 26px"></td>
              <td style="padding: 26px"></td>
            </tr>
            <tr>
              <td>Stranded (In Catalog)</td>
              <td class="text-end">0</td>
              <td class="text-end">
                {{ editData?.stranded_in_catalog_out_of_stock }}
              </td>
              <td class="text-end">
                {{ editData?.stranded_in_catalog_out_of_stock }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</div>
