<app-breadcrumb></app-breadcrumb>

<div class="view-inventory-section">
  <app-section-header [header]="'View Inventory'"></app-section-header>

  <div class="body-section">
    <div nz-row [nzGutter]="16" class="header-section">
      <div
        nz-col
        class="gutter-row"
        [nzSm]="24"
        [nzXl]="12"
        class="left-section"
      >
        <span><b>Feed Code : </b>{{ editData.feedCode }}</span>
        <span><b>Time : </b>{{ editData.time }}</span>
        <span><b>Method : </b>{{ editData.method }}</span>
      </div>
      <div
        nz-col
        class="gutter-row"
        [nzSm]="24"
        [nzXl]="12"
        class="right-section"
      >
        <span><a href="#" class="link">download raw file</a></span>
        <span><a href="#" class="link">download processed file</a></span>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <nz-table
        style="margin-top: 20px"
        #nzTable
        nzOuterBordered
        [nzData]="inStockProduct"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        nz-col
        [nzXl]="12"
        [nzSm]="24"
      >
        <thead>
          <tr>
            <th style="width: 80%">IN-STOCK PRODUCTS</th>
            <th>COUNT</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="inStockProduct">
            <tr>
              <td>{{ data?.name }}</td>
              <td>
                <b>{{ data?.count }}</b>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <nz-table
        style="margin-top: 20px"
        #nzTable
        nzOuterBordered
        [nzData]="outOfStockProduct"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        nz-col
        [nzXl]="12"
        [nzSm]="24"
      >
        <thead>
          <tr>
            <th style="width: 80%">OUT OF STOCK PRODUCTS</th>
            <th>COUNT</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="outOfStockProduct">
            <tr>
              <td>{{ data?.name }}</td>
              <td>
                <b>{{ data?.count }}</b>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
