<div class="login-form-layout">
  <div class="side-image"></div>
  <div class="card">
    <div class="logo">
      <img nz-image height="60px" nzSrc="assets/img/logo.png" alt="" />
    </div>
    <h3>Forgot Password</h3>
    <form nz-form [formGroup]="forgotForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your eye!">
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="email"
            >Email
          </nz-form-label>
          <nz-input-group>
            <input
              formControlName="email"
              type="email"
              nz-input
              placeholder="Enter Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <h4>
        <a (click)="logIn()">Sign In?</a>
      </h4>
      <div class="action-btn">
        <button
          nz-button
          nzType="primary"
          (click)="submitForm()"
          [disabled]="!forgotForm.valid || isLoading"
          [ngClass]="{
            'button-disabled': !forgotForm.valid || isLoading
          }"
        >
          <span
            *ngIf="isLoading"
            style="color: white; font-size: 16px"
            nz-icon
            nzType="loading"
          ></span>
          Send Email
        </button>
      </div>
    </form>
  </div>
</div>
