<div class="inventory-list-section">
  <app-section-header [header]="'Inventory List'"></app-section-header>

  <div class="body-section">
    <div class="button-group">
      <div class="filter">
        <b>Filter : </b>
        <nz-range-picker></nz-range-picker>
      </div>
      <div>
        <button
          style="margin-right: 10px"
          nz-button
          (click)="openModal('download')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="download" nzTheme="outline"></span> Import
        </button>
        <button
          (click)="openModal('Upload')"
          style="margin-right: 10px"
          nz-button
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="upload" nzTheme="outline"></span> Export
        </button>
      </div>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="inventoryList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>Feed Code</th>
          <!-- <th>Time</th> -->
          <th class="text-center">Method</th>
          <th class="text-center">In Stock</th>
          <th class="text-center">Out Of Stock</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="inventoryList">
          <tr>
            <td>{{ data?.feedCode }}</td>
            <!-- <td>{{ data?.time }}</td> -->
            <td class="text-center">{{ data?.method }}</td>
            <td class="text-center">
              <span
                *ngIf="data.inStock"
                style="font-size: 16px; width: 10px; margin: 0 auto"
                nz-icon
                nzType="check"
              ></span>
              <span
                *ngIf="!data.inStock"
                style="font-size: 16px; width: 10px; margin: 0 auto"
                nz-icon
                nzType="close"
              ></span>
            </td>
            <td class="text-center">
              <span
                *ngIf="data.outOfStock"
                style="font-size: 16px; width: 10px; margin: 0 auto"
                nz-icon
                nzType="check"
              ></span>
              <span
                *ngIf="!data.outOfStock"
                style="font-size: 16px; width: 10px; margin: 0 auto"
                nz-icon
                nzType="close"
              ></span>
            </td>
            <td class="text-center">
              <a
                (click)="
                  navigatePage('inventory-list/view-inventory/' + data?.id)
                "
                style="margin: 0 5px; color: #2121c3; font-size: 20px"
                ><span nz-icon nzType="eye" nzTheme="outline"></span
              ></a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isUploadVisible"
  nzTitle="Upload"
  (nzOnCancel)="handleCancel('download')"
>
  <ng-container *nzModalContent>
    <app-upload-model
      (closeModel)="handleCancel('download')"
    ></app-upload-model>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isDownloadVisible"
  nzTitle="Which Products would you like to export?"
  (nzOnCancel)="handleCancel('Upload')"
>
  <ng-container *nzModalContent>
    <app-export-model
      [exportType]="exportType"
      (close)="handleCancel('Upload')"
    ></app-export-model>
  </ng-container>
</nz-modal>
