@import'../../../../../../assets/variable/variable.scss';

.map-conflict-section {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    // min-height: 95%;

    .user-content {
        border: 0 solid rgba(0, 0, 0, 0.125);
        background-color: $white;
        background-clip: border-box;
        border-radius: 5px;
        margin-top: 10px;
        background-color: $white;

        .table-layout {
            padding: 15px;
        }
    }

    .body-section {
        padding: 10px 20px 0px 20px;

        .button-group {
            display: flex;
            justify-content: end;
            margin-bottom: 10px;

            button {
                border-radius: 5px;
                border: 0;
                margin-left: 5px;
                height: 35px !important;
                font-size: 15px;
            }

            .pull-push-btn {
                background: #2a3036f0;
                color: $white;
                width: 52px;
            }
        }

        .tag-section {
            border-left: 1px solid $border;
            border-right: 1px solid $border;
            padding-bottom: 13px;
            padding-left: 10px;
        }

        nz-table {
            input {
                height: 35px;
                font-size: 16px;
                border-radius: 5px;
            }

            ::ng-deep .ant-input {
                border-radius: 5px !important;
            }

            ::ng-deep .ant-form-item {
                margin-bottom: 0px;
                // padding: 5px;
            }

            nz-input-group {
                border-radius: 5px;

                input {
                    height: 40px;
                    font-size: 16px;
                }
            }
        }

        .badge {
            border-radius: 8px;
            color: $white;
            padding: 1px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
        }

        .filter-section {
            width: 0;
            position: fixed;
            z-index: 10;
            top: 116px;
            right: 16px;
            overflow-x: hidden;
            transition: 0.5s;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            padding-top: 30px;
            height: 87%;
            overflow-y: scroll;
            background-color: white;
        }
    }

}
