<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('dashboard')">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Handling Time Conflict</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="handling-time-conflict-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Handling Time Conflict</span>
    </div>
  </div>
  <div class="body-section">
    <div class="button-group">
      <nz-badge style="margin-right: 10px" [nzShowZero]="false" [nzCount]="0">
        <button nz-button nzType="primary" nzShape="round">
          <span nz-icon nzType="filter" nzTheme="outline"></span>
          Filter
        </button>
      </nz-badge>
      <button
        nz-button
        nzType="primary"
        class="action-button"
        style="line-height: 0.5; margin-top: 0"
      >
        <span nz-icon nzType="plus"></span> Multi Product Edit
      </button>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="returnLocationList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Partner Handling Time provided to 123Stores (Days)</th>
          <th>
            Conflicting Handling Time on Amazon offered by Conflicting Provider
            (Days)
          </th>
          <th>No. of Conflicting Providers</th>
          <th>Conflicting Providers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="returnLocationList">
          <tr>
            <td>{{ data?.id }}</td>
            <td>{{ data?.mpn }}</td>
            <td>{{ data?.upc }}</td>
            <td>{{ data?.product_Name }}</td>
            <td>{{ data?.amazonASIN }}</td>
            <td>{{ data?.partnerHandlingTimeProvided }}</td>
            <td>{{ data?.conflictingHandlingTime }}</td>
            <td>{{ data?.noOfConflictingProviders }}</td>
            <td>{{ data?.conflictingProviders }}</td>
            <td></td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
