<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Order Processing</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>PO, Label and Invoice Preferences</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="po-label-and-invoice-section">
  <div class="user-content">
    <div class="tab-header">
      <span>PO, Label and Invoice Preferences</span>
    </div>
  </div>
  <div class="body-section">
    <div class="po-label-preferences-section">
      <form nz-form [formGroup]="poForm">
        <nz-divider nzText="PO Preferences" nzOrientation="left"></nz-divider>
        <nz-form-item>
          <nz-form-label
            nz-col
            [nzXl]="2"
            [nzSm]="4"
            [nzXs]="24"
            nzFor="poMethod"
            >PO Method
          </nz-form-label>
          <nz-form-control
            [nzXl]="8"
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="PO Method is required!"
          >
            <nz-input-group>
              <nz-radio-group formControlName="poMethod">
                <label nz-radio nzValue="edi">EDI</label>
                <label nz-radio nzValue="email">Email</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-divider
          style="margin-top: 35px"
          nzText="Label Preferences"
          nzOrientation="left"
        ></nz-divider>
        <nz-form-item>
          <nz-form-label
            nz-col
            [nzXl]="2"
            [nzSm]="4"
            [nzXs]="24"
            nzFor="prepaidLabel"
          >
            Prepaid Label</nz-form-label
          >
          <nz-form-control
            [nzXl]="8"
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Prepaid Label is required!"
          >
            <nz-input-group>
              <nz-radio-group
                (ngModelChange)="selectPrepaidLabel($event)"
                formControlName="prepaidLabel"
              >
                <label nz-radio nzValue="yes">Yes</label>
                <label nz-radio nzValue="no">No</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="showLabelSection">
          <nz-form-label
            style="
              display: flex;
              justify-content: end;
              align-items: center;
              margin-bottom: 15px;
            "
            [nzXl]="2"
            [nzSm]="4"
            [nzXs]="24"
            nz-col
            nzFor="size"
          >
            Size</nz-form-label
          >
          <nz-form-control
            [nzXl]="8"
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Size is required!"
          >
            <nz-input-group>
              <nz-radio-group formControlName="size">
                <label nz-radio nzValue="4By6">
                  <div class="radio-label">
                    <nz-divider nzType="vertical" nzText="6"></nz-divider>
                    <div class="create-box">
                      <div class="box">6*4</div>
                      <nz-divider nzType="horizontal" nzText="4"></nz-divider>
                    </div>
                  </div>
                </label>
                <label nz-radio nzValue="8.5By11">
                  <div class="radio-label">
                    <nz-divider nzType="vertical" nzText="11"></nz-divider>
                    <div class="create-box">
                      <div class="box">11*8.5</div>
                      <nz-divider nzType="horizontal" nzText="8.5"></nz-divider>
                    </div>
                  </div>
                </label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="showLabelSection">
          <nz-form-label
            nz-col
            [nzXl]="2"
            [nzSm]="4"
            [nzXs]="24"
            nzFor="formate"
          >
            Formate</nz-form-label
          >
          <nz-form-control
            [nzXl]="8"
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Formate is required!"
          >
            <nz-input-group>
              <nz-radio-group formControlName="formate">
                <label nz-radio nzValue="png">PNG</label>
                <label nz-radio nzValue="pdf">PDF</label>
                <label nz-radio nzValue="zpl">ZPL</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-divider
          style="margin-top: 35px"
          nzText="Invoice Preferences"
          nzOrientation="left"
        ></nz-divider>
        <div nz-row formArrayName="emailList" style="width: 50%">
          <nz-form-label nzFor="email">Email List</nz-form-label>
          <div
            nz-col
            class="gutter-row"
            [nzXs]="24"
            *ngFor="let email of emailList.controls; let i = index"
          >
            <div [formGroupName]="i">
              <nz-form-item>
                <nz-form-control
                  [ngStyle]="{ 'margin-left: 33%;': i !== 0 }"
                  nzErrorTip="Email is required!"
                >
                  <nz-input-group>
                    <input
                      type="text"
                      nz-input
                      placeholder="Enter Email"
                      formControlName="emails"
                    />
                  </nz-input-group>
                </nz-form-control>
                <a
                  *ngIf="i === emailList.controls.length - 1"
                  nz-button
                  class="add-button"
                  nzShape="circle"
                  [disabled]="emailList.controls.length > 9"
                  (click)="addEmails()"
                >
                  +
                </a>
                <a
                  *ngIf="i !== emailList.controls.length - 1"
                  nz-button
                  class="add-button"
                  nzShape="circle"
                  (click)="removeEmail(i)"
                >
                  -
                </a>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXl]="12" [nzSm]="19" [nzXs]="24">
            <button
              nz-button
              class="action-button"
              style="height: 35px"
              [nzType]="'primary'"
            >
              <span nz-icon nzType="file-text" nzTheme="outline"></span> Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
