 @import'../../../../../../assets/variable/variable.scss';

 .po-label-and-invoice-section {
     border: 0 solid rgba(0, 0, 0, 0.125);
     background-color: $white;
     background-clip: border-box;
     border-radius: 5px;
     //  min-height: 95%;

     ::ng-deep .ant-divider-horizontal {
         margin: 0;
     }

     .user-content {
         border: 0 solid rgba(0, 0, 0, 0.125);
         background-color: $white;
         background-clip: border-box;
         border-radius: 5px;
         margin-top: 10px;
         background-color: $white;

         .table-layout {
             padding: 15px;
         }
     }

     .body-section {
         padding: 0 24px;
         max-height: 75vh;
         overflow-y: scroll;

         .po-label-preferences-section {
             padding: 24px;

             a {
                 border-radius: 50%;
                 margin: 10px;
                 color: $white;
                 font-size: 16px;
                 line-height: 0;
                 width: 20px;
                 height: 20px;
                 display: flex;
                 border: none;
                 justify-content: center;
                 padding-top: 9px;
             }

             a.ant-btn {
                 padding-top: 1.01px !important;
             }

             .radio-label {
                 display: flex;
                 margin-left: 5px;

                 .left-divider {
                     padding-bottom: 20px;
                     padding-right: 3px;

                     .left-border {
                         margin-left: 7px;
                         height: 40%;
                         border-left: 1px solid lightgray;
                     }

                     .text {
                         height: 20%;
                         display: flex;
                         align-items: center;
                     }

                     .right-border {
                         margin-left: 7px;
                         height: 40%;
                         border-left: 1px solid lightgray;
                     }
                 }

                 .create-box {
                     width: 110px;
                     height: 140px;

                     .box {
                         width: 80px;
                         height: 120px;
                         padding: 20px 5ox !important;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         border: 1px solid lightgray;
                         font-size: 14px;
                         font-weight: 600;
                     }

                     .bottom-divider {
                         display: flex;
                         width: 80px;
                         min-width: 80px;

                         .left-border {
                             width: 30%;
                             margin-top: 11px;
                             border-top: 1px solid lightgray;
                         }

                         .text {
                             width: 40%;
                             display: flex;
                             justify-content: center;
                         }

                         .right-border {
                             width: 30%;
                             margin-top: 11px;
                             border-top: 1px solid lightgray;
                         }
                     }

                     ::ng-deep .ant-divider-horizontal.ant-divider-with-text {
                         font-weight: 400 !important;
                         font-size: 12px !important;
                         border-top-color: rgba(0, 0, 0, 0.25);
                     }

                     ::ng-deep .ant-divider-horizontal {
                         width: 80px;
                         min-width: 80px;
                     }

                 }

                 ::ng-deep .ant-divider-vertical {
                     height: 8.9em !important;
                     margin: 0px;
                     border-left: 1px solid rgba(0, 0, 0, 0.25);

                     .ant-divider-inner-text {
                         padding: 7px !important;
                         margin-left: -16px;
                         height: 125px;
                         display: flex;
                         align-items: center;
                     }
                 }
             }
         }

         nz-divider {
             margin-bottom: 15px;
         }

         form {
             width: 100%;

             nz-form-label {
                 font-size: 16px !important;
                 font-weight: 600 !important;
                 padding-bottom: 2px;
             }

             ::ng-deep .ant-input-prefix {
                 font-size: x-large;
                 margin-right: 10px;
             }

             ::ng-deep .ant-input {
                 border-radius: 5px !important;
             }

             ::ng-deep .ant-form-item {
                 margin-bottom: 10px;
             }

             nz-input-group {
                 border-radius: 5px;

                 input {
                     height: 40px;
                     font-size: 16px;
                 }
             }

             nz-divider {
                 margin-bottom: 10px;
             }

             ::ng-deep .ant-divider-horizontal.ant-divider-with-text-left::before {
                 width: 0% !important;

             }

             ::ng-deep .ant-divider-inner-text {
                 padding-left: 0px !important;
             }
         }
     }
 }


 @media screen and (max-width:765px) {
     .asc-form-section {
         .body-section {
             max-height: 70vh;
             overflow-y: auto;
         }
     }
 }
