@import '../../../assets/variable/variable.scss';

.date-range-section {
    display: flex;
    justify-content: end;
    border: 1px solid $border;
    padding: 10px;
    margin-top: 15px 0;

    // .date-range {
    //     margin-right: 10px;

    //     nz-range-picker {
    //         border-radius: 5px;
    //         height: 35px;
    //     }
    // }

    .filter {
        display: flex;
        align-items: center;

        form {
            .search {
                // width: 12%;
                border-radius: 17px;
                float: right;
            }


            ::ng-deep .ant-form-item {
                display: inline-block;
                float: right;
                margin-left: 4px;
            }


        }
    }
}
