@import '../../../assets/variable/variable.scss';

.date-range-section {
    display: flex;
    border: 1px solid $border;
    padding: 10px;
    margin-top: 15px 0;

    .date-range {
        margin-right: 10px;

        nz-range-picker {
            border-radius: 5px;
            height: 35px;
        }
    }

    .filter {
        display: flex;
        align-items: center;
    }
}
