<div class="payment-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Payment Section</span>
    </div>
  </div>
  <div class="body-section">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Remittance">
        <app-remittance></app-remittance>
      </nz-tab>
      <nz-tab nzTitle="Scheduled Payments"
        ><app-scheduled-payments></app-scheduled-payments
      ></nz-tab>
      <nz-tab nzTitle="Invoice Payment Status"
        ><app-invoice-payment-status></app-invoice-payment-status
      ></nz-tab>
    </nz-tabset>
  </div>
</div>
