<app-breadcrumb></app-breadcrumb>

<div class="handling-time-conflict-section">
  <app-section-header
    [modifyLable]="true"
    [header]="'A04'"
  ></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'A04'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      [issueName]="'1'"
      [code]="code"
    ></app-home-filter-action>
    <!-- (showFilter)="openNav()" -->

    <!-- <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div> -->

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="handlingTimeConflictList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product Name</th>
          <th>Amazon ASIN</th>
          <th>Partner Handling Time provided to 123Stores (Days)</th>
          <th>
            Conflicting Handling Time on Amazon offered by Conflicting Provider
            (Days)
          </th>
          <th>No. of Conflicting Providers</th>
          <th>Conflicting Providers</th>
          <th nzRight class="action-column"><div>Actions</div></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>
            <a
              class="link"
              [routerLink]="'/main/products/details/' + data?.sku"
              >{{ data?.mpn }}</a
            >
          </td>
          <td>{{ data?.upc }}</td>
          <td>{{ data?.name }}</td>
          <td>
            <a
              class="link"
              [href]="'https://www.amazon.com/dp/' + data?.asin"
              >{{ data?.asin }}</a
            >
          </td>
          <td>
            {{ data?.handling_time }}
          </td>
          <td>{{ data?.other_sellers_minimum_handling }}</td>
          <td>{{ data?.other_seller_count_with_better_handling }}</td>
          <td>
            <span *ngFor="let value of data?.other_sellers; let sr = index"
              >{{ value
              }}{{ data.other_sellers.length - 1 !== sr ? "," : "" }}</span
            >
          </td>
          <td nzRight>
            <div style="display: flex; align-items: center">
              <a
                (click)="matchValue(data.mpn, data.handling_time)"
                style="margin: 0 5px; color: #2121c3; font-size: large"
                ><span nz-icon nzType="edit" nzTheme="outline"></span
              ></a>
            </div>
            <!-- <button
              nz-button
              nzType="primary"
              class="action-button"
              style="margin-top: 0; height: 35px"
              (click)="matchValue(data.mpn, data.handling_time)"
            >
              Edit Handling Time
            </button> -->
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div> -->
  </div>

  <div *ngIf="isVisible">
    <app-edit-time
      [isVisible]="isVisible"
      [editData]="editData"
      [editLabel]="editLabel"
      [section]="'Handling Time'"
      (close)="isVisible = false"
    ></app-edit-time>
  </div>
</div>
