<app-breadcrumb></app-breadcrumb>

<div class="handling-time-conflict-section">
  <app-section-header [header]="'Handling Time Conflict'"></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'Handling Time Conflict'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'Handling Time Conflict'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="handlingTimeConflictList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Partner Handling Time provided to 123Stores (Days)</th>
          <th>
            Conflicting Handling Time on Amazon offered by Conflicting Provider
            (Days)
          </th>
          <th>No. of Conflicting Providers</th>
          <th>Conflicting Providers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>{{ no + 1 }}</td>
          <td>{{ data?.mpn }}</td>
          <td>{{ data?.upc }}</td>
          <td>{{ data?.product_Name }}</td>
          <td>{{ data?.amazonASIN }}</td>
          <td>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group>
                  <input
                    [ngModel]="data?.partnerHandlingTimeProvided"
                    type="number"
                    nz-input
                    placeholder="Enter No"
                    (keypress)="editValue($event, data.id)"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>{{ data?.conflictingHandlingTime }}</td>
          <td>{{ data?.noOfConflictingProviders }}</td>
          <td>{{ data?.conflictingProviders }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              class="action-button"
              style="margin-top: 0; height: 35px"
              (click)="matchValue(data.conflictingHandlingTime, data.id)"
            >
              Match
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
</div>
