<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Catalog Prefernaces</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Feed Preferences</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="feed-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Feed Preferences</span>
    </div>
  </div>

  <div class="feed-content">
    <div class="feed-prefernaces-section">
      <div class="body-section">
        <div class="feed-prefernaces-section">
          <form nz-form [formGroup]="feedForm">
            <div nz-row [nzGutter]="16">
              <nz-form-item
                nz-col
                class="gutter-row"
                [nzSm]="24"
                style="padding-left: 8px; padding-right: 8px"
              >
                <nz-form-control nzErrorTip=" Method is required!">
                  <nz-form-label nzFor="Method">Method </nz-form-label>
                  <nz-input-group>
                    <nz-radio-group
                      (ngModelChange)="selectMethod($event)"
                      formControlName="feedMethod"
                    >
                      <label nz-radio nzValue="edi">EDI</label>
                      <label nz-radio nzValue="email">Email</label>
                    </nz-radio-group>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-label nzFor="email">Type</nz-form-label>

              <div nz-col class="gutter-row" [nzSm]="24">
                <nz-form-item>
                  <nz-form-control nzErrorTip=" Method is required!">
                    <nz-input-group>
                      <input
                        type="text"
                        nz-input
                        placeholder="Location specific consolidated"
                        formControlName="type"
                        class="minimize-witdh"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>

                <div *ngIf="showEmailSection">
                  <nz-form-label nzFor="email" class="mpn-quality-sec"
                    >MPN column header</nz-form-label
                  >
                  <div
                    nz-col
                    class="gutter-row"
                    [nzSm]="24"
                    class="mpn-quality-sec"
                  >
                    <nz-form-item>
                      <nz-form-control nzErrorTip=" Method is required!">
                        <nz-input-group>
                          <input
                            type="text"
                            nz-input
                            placeholder="Enter Mpn"
                            formControlName="mpn"
                            class="minimize-witdh"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <nz-form-label nzFor="email" class="mpn-quality-sec"
                    >Quantity column header</nz-form-label
                  >
                  <div
                    nz-col
                    class="gutter-row"
                    [nzSm]="24"
                    class="mpn-quality-sec"
                  >
                    <nz-form-item>
                      <nz-form-control nzErrorTip=" Method is required!">
                        <nz-input-group>
                          <input
                            type="text"
                            nz-input
                            placeholder="Enter Quantity"
                            formControlName="quantity"
                            class="minimize-witdh"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>

              <div
                *ngIf="showEmailSection"
                formArrayName="emailList"
                style="width: 50%"
              >
                <nz-form-label nzFor="email">Email List</nz-form-label>
                <div
                  nz-col
                  class="gutter-row"
                  [nzSm]="24"
                  *ngFor="let email of emailList.controls; let i = index"
                >
                  <div [formGroupName]="i">
                    <nz-form-item>
                      <nz-form-control nzErrorTip=" Method is required!">
                        <nz-input-group>
                          <input
                            type="text"
                            nz-input
                            placeholder="Enter Email"
                            formControlName="email"
                          />
                        </nz-input-group>
                      </nz-form-control>
                      <a
                        *ngIf="i === emailList.controls.length - 1"
                        nz-button
                        class="add-button"
                        nzShape="circle"
                        [disabled]="emailList.controls.length > 9"
                        (click)="addEmails()"
                      >
                        +
                      </a>
                      <a
                        *ngIf="i !== emailList.controls.length - 1"
                        nz-button
                        class="add-button"
                        nzShape="circle"
                        (click)="removeEmail(i)"
                      >
                        -
                      </a>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzXl]="12" [nzSm]="19" [nzXs]="24">
                <button
                  nz-button
                  class="login-form-button login-form-margin"
                  [nzType]="'primary'"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
