<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
    <nz-breadcrumb-item>
      <a (click)="backButton('profile')">Profile</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a (click)="backButton('profile')">Catalog & Feed</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Feed prefernaces</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  

  <div class="feed-section">
    <div class="user-content">
      <div class="tab-header">
        <span>Feed prefernaces</span>
      </div>
    </div>

    <div class="feed-content">
      

    </div>


  </div>