@import '../../../assets/variable/variable.scss';


.body-section {
    form {
        padding: 15px !important;
        width: 100%;
        padding: 0 2px;

        nz-form-label {
            font-size: 16px !important;
            //  font-weight: 700 !important;
            padding-bottom: 2px;
        }

        ::ng-deep .ant-input-prefix {
            font-size: 18px;
            margin-left: -11px;
            margin-right: 10px;
            padding: 0 10px;
            background: $darkBlue;
            border-radius: 4px 0 0 4px;
            color: $white;
        }

        ::ng-deep .ant-input {
            border-radius: 5px !important;
        }

        ::ng-deep .ant-form-item {
            margin-bottom: 10px;
        }

        ::ng-deep .ant-input-affix-wrapper {
            padding: 0px 11px !important;
        }

        nz-input-group {
            border-radius: 5px;

            input {
                height: 35px;
                font-size: 16px;
            }
        }

        button {
            height: 35px !important;
        }

        .button-disabled {
            background: $darkBlue;
            opacity: 0.8;
            color: $white;
        }
    }
}
