<div class="edit-time">
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="'Edit ' + section"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *nzModalContent>
      <div class="body-section">
        <form [formGroup]="editTimeForm">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">{{
              editLabel[0]
            }}</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24">
              <nz-input-group>
                <b style="padding-left: 10px">{{ editData.mpn }}</b>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24"
              >{{ editLabel[1] }}
            </nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24">
              <nz-input-group>
                <b style="padding-left: 10px">{{ editData.current }}</b>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">{{
              editLabel[2]
            }}</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24">
              <nz-input-group
                [nzPrefix]="
                  section === 'Amazon ASIN'
                    ? ''
                    : section === 'Handling Time'
                    ? ''
                    : '$'
                "
                [nzSuffix]="
                  section === 'Amazon ASIN'
                    ? ''
                    : section === 'Handling Time'
                    ? 'Day'
                    : ''
                "
              >
                <input
                  formControlName="new"
                  type="text"
                  nz-input
                  placeholder="Enter new"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div *ngIf="section === 'Amazon ASIN'">
            <nz-card nzSize="small" nzTitle="Recommendations">
              <div *ngFor="let recom of editData?.extraData; let i = index">
                <div [style.padding-top]="i > 0 ? '8px' : ''" nzRow>
                  <span style="font-weight: 600">#{{ i + 1 }}</span>
                  <div style="display: flex; flex-wrap: nowrap">
                    <span
                      style="
                        font-weight: 600;
                        display: flex;
                        white-space: nowrap;
                      "
                      >Amazon MPN : </span
                    ><span style="padding-left: 4px">{{ recom?.mpn }}</span>
                  </div>
                  <div style="display: flex; flex-wrap: nowrap">
                    <span
                      style="
                        font-weight: 600;
                        display: flex;
                        white-space: nowrap;
                      "
                      >Amazon ASIN : </span
                    ><span style="padding-left: 4px"
                      ><a class="link" (click)="navigateAsin(recom?.asin)">{{
                        recom?.asin
                      }}</a></span
                    >
                  </div>
                  <div style="display: flex; flex-wrap: nowrap">
                    <span
                      style="
                        font-weight: 600;
                        display: flex;
                        white-space: nowrap;
                      "
                      >Amazon Page Title : </span
                    ><span style="padding-left: 4px">{{
                      recom?.amazon_page_title
                    }}</span>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
        </form>
      </div>
      <div class="model-footer">
        <div class="model-action">
          <button
            nz-button
            nzType="default"
            style="color: black; margin-right: 5px"
            (click)="handleCancel()"
          >
            Cancel
          </button>
          <button
            nz-button
            class="action-btn"
            [nzType]="'primary'"
            style="width: 100px"
            (click)="submit()"
          >
            <span
              *ngIf="isLoading"
              style="color: white; font-size: 15px"
              nz-icon
              nzType="loading"
            ></span>
            <span
              *ngIf="!isLoading"
              nz-icon
              nzType="file-text"
              nzTheme="outline"
            ></span>
            Save
          </button>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
