<div class="login-form-layout" nz-row>
  <div
    class="side-image gutter-row"
    nz-col
    [nzXs]="24"
    [nzMd]="12"
    [nzLg]="14"
  ></div>

  <div class="card gutter-row" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="10">
    <div class="logo">
      <img nz-image height="60px" nzSrc="assets/img/logo.png" alt="" />
    </div>
    <span class="headers"
      ><span style="color: #2121c3">Set</span> Your Password</span
    >
    <form nz-form [formGroup]="resetForm">
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            submitError && !resetForm.controls['newPassword'].value
              ? 'error'
              : ''
          "
          nzErrorTip="Please input your new password!"
        >
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="newPassword"
            >New Password
          </nz-form-label>
          <nz-input-group>
            <input
              formControlName="newPassword"
              type="password"
              nz-input
              [type]="newPasswordShow ? 'password' : 'text'"
              placeholder="Enter New Password"
            />
            <a (click)="newPasswordShow = !newPasswordShow"
              ><span
                *ngIf="!newPasswordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="newPasswordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            submitError && !resetForm.controls['confirmPassword'].value
              ? 'error'
              : ''
          "
          nzErrorTip="Please input your confirm password!"
        >
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="confirmPassword"
            >Confirm Password
          </nz-form-label>
          <nz-input-group>
            <input
              formControlName="confirmPassword"
              type="password"
              nz-input
              [type]="passwordShow ? 'password' : 'text'"
              placeholder="Enter Confirm Password"
              (input)="checkPassword()"
            />
            <span *ngIf="!sameAsPassword" style="color: red; margin: 16px"
              >Passwords do not match.</span
            >
            <a (click)="passwordShow = !passwordShow"
              ><span
                *ngIf="!passwordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="passwordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="action-btn">
        <button
          nz-button
          nzType="primary"
          (click)="submitForm()"
          [disabled]="isLoading"
          [ngClass]="{
            'button-disabled': isLoading
          }"
        >
          <span
            *ngIf="isLoading"
            style="color: white; font-size: 16px"
            nz-icon
            nzType="loading"
          ></span
          >Set Password
        </button>
      </div>
    </form>
    <h4 *ngIf="!token">
      <a routerLink="/auth/login">< Back to Login</a>
    </h4>
  </div>
</div>
