<div class="completed-promotions-section">
  <!-- <div class="action">
    <nz-badge
      style="margin-right: 10px"
      [nzShowZero]="false"
      [nzCount]="badgeTotal"
    >
      <button (click)="openNav()" nz-button nzType="primary" nzShape="round">
        <span nz-icon nzType="filter" nzTheme="outline"></span>
        Filter
      </button>
    </nz-badge>
    <button
      style="margin-right: 10px"
      nz-button
      nzType="primary"
      nzShape="round"
    >
      <span nz-icon nzType="upload" nzTheme="outline"></span> Export
    </button>
    <form nz-form [formGroup]="searchForm">
      <nz-form-item style="margin-bottom: 0 !important">
        <nz-form-control nzErrorTip="Please input your valid code!">
          <nz-input-group nzPrefixIcon="search" class="search">
            <input (keyup)="accountSearch.next($event)" formControlName="search" nz-input placeholder="Search..." />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div> -->
  <app-promotion-table
    [listOfData]="completedPromotionsList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'Completed Promotions'"
    (pageChange)="pageIndexChange($event)"
  ></app-promotion-table>
</div>
