<div class="completed-promotions-section">
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="completedPromotionsList"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>Promo Code</th>
        <th>Added On</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Promotion Type</th>
        <!-- <th></th> -->
        <th>SKU Count</th>
        <th>Promotion Avg</th>
        <th>Status</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="completedPromotionsList">
        <tr>
          <td>{{ data?.promoCode }}</td>
          <td>{{ data?.addedOn }}</td>
          <td>{{ data?.startDate }}</td>
          <td>{{ data?.endDate }}</td>
          <td>{{ data?.promotionType }}</td>
          <!-- <td>{{ data?.sku }}</td> -->
          <td>{{ data?.count }}</td>
          <td>{{ data?.promotionAvg }} %</td>
          <td>{{ data?.status }}</td>
          <td>
            <button
              style="height: 35px"
              nz-button
              class="action-button"
              [nzType]="'primary'"
            >
              Download
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>
