 @import'../../../../assets/variable/variable.scss';

 .home-page {
     border: 0 solid rgba(0, 0, 0, 0.125);
     background-color: $white;
     background-clip: border-box;
     border-radius: 5px;
     height: 85vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
