<div class="history-section">
  <div class="history-content">
    <div class="user-content">
      <div class="tab-header">
        <span>May 18,2023</span>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXl]="8" [nzSm]="24">
        <div>0 Units Sold</div>
        <div>
          <a><u>View All</u></a>
        </div>
      </div>
      <div nz-col [nzXl]="8" [nzSm]="24">
        <div>0 Automated Price Revisions</div>
        <div>
          <a><u>View All</u></a>
        </div>
      </div>
      <div nz-col [nzXl]="8" [nzSm]="24">
        <div>0 Manual Price Revisions</div>
        <div>
          <a><u>View All</u></a>
        </div>
      </div>
    </div>

    <nz-divider></nz-divider>

    <div class="time-line">
      <nz-timeline>
        <nz-timeline-item *ngFor="let data of timeLine" [nzLabel]="data.label">
          <nz-collapse>
            <nz-collapse-panel
              [nzExpandedIcon]="'play-circle'"
              [nzExpandedIcon]="expandedIcon"
              [nzHeader]="data.header"
            >
              <ng-template #expandedIcon>
                <span
                  nz-icon
                  nzType="play-circle"
                  nzTheme="fill"
                  class="ant-collapse-arrow"
                  style="color: chartreuse"
                ></span>
              </ng-template>
              <div class="sub-date">{{ data.date }}</div>
              <div>
                <b>{{ data.event }}</b>
              </div>
              <ul class="sub-section">
                <li class="no-wrap" *ngFor="let note of data.eventList">
                  <div class="sub-val">{{ note }}</div>
                </li>
              </ul>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
</div>
