@import'../../../../../assets/variable/variable.scss';

.promotions-section {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    //  min-height: 95%;

    .body-section {
        padding: 15px 10px;

        .add-promotion-btn{
            display: flex;
            justify-content: right;
        }
     

        ::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
        .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
            background-color: $white;
        }

        ::ng-deep.ant-tabs-card .ant-tabs-content {
            height: auto;
            margin-top: -16px;
        }

        ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $darkBlue;
            font-weight: 700;
            font-size: 14px;
        }

        ::ng-deep.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
            background: $white;
            padding: 15px;
        }

        ::ng-deep.ant-tabs-card>.ant-tabs-nav::before {
            display: none;
        }

        ::ng-deep.ant-tabs-nav-wrap {
            border-bottom: 1px solid $border !important;
        }

        ::ng-deep.ant-tabs-tab:hover {
            color: $darkBlue !important;
            font-weight: 700;
            font-size: 14px;
        }

        ::ng-deep.ant-tabs-card .ant-tabs-tab {
            border-color: transparent;
            background: transparent;
            color: $gray;
            font-weight: 700;
            font-size: 14px;
        }

        ::ng-deep.ant-tabs-card .ant-tabs-tab-active {
            // border-color: $white;
            border-bottom: 2px solid $black;
        }
    }

    .sub-val {
        font-size: 12px;
    }
}
a{
    text-decoration: underline;
    font-weight: 500;
    color: #2121c3;
}

::ng-deep .ant-form-item {
    margin: 0px 0px 12px 0px !important;
}

::ng-deep .ant-select-selector{
    border-radius: 5px !important;
    height: 35px !important;
    font-size: 16px;
}
::ng-deep .ant-input{
    border-radius: 5px !important;
    height: 35px !important;
    font-size: 16px;
}
::ng-deep .ant-picker{
    border-radius: 5px !important;
    height: 35px !important;
    font-size: 16px;
}
::ng-deep .ant-input-affix-wrapper{
    padding: 0px 11px;
    border-radius: 5px;
}
::ng-deep .ant-input-suffix  {
    font-size: 18px;
    margin-right: -11px;
    margin-left: 10px;
    padding: 0 10px;
    background: #2121c3;
    border-radius: 0px 4px 4px 0px;
    color: #fff;
        
    }
