<div class="add-promotions">
  <div class="body-section">
    <h4>Use this tool to create a promotion with a single upload.</h4>
    <form [formGroup]="add_promotion">
      <nz-form-item>
        <nz-form-label [nzXl]="24" nzRequired nzFor="Start Date"
          >Start Date</nz-form-label
        >
        <nz-form-control [nzXl]="22" nzErrorTip="Please select start date.">
          <nz-date-picker
            formControlName="startDate"
            style="width: 100%"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXl]="24" nzRequired nzFor="End Date"
          >End Date</nz-form-label
        >
        <nz-form-control [nzXl]="22" nzErrorTip="Please select end date.">
          <nz-date-picker
            formControlName="endDate"
            style="width: 100%"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXl]="24" nzFor="End Date"
          >Download Template File</nz-form-label
        >
        <nz-form-control [nzXl]="22">
          <nz-radio-group formControlName="downloadTemplate">
            <label nz-radio [nzValue]="true"
              >Download Template with your existing products
            </label>
            <label nz-radio [nzValue]="false"
              >Download Template without your existing products
            </label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXl]="24" nzFor="End Date"
          >Upload Template File</nz-form-label
        >
        <nz-form-control [nzXl]="22">
          <div class="Neon Neon-theme-dragdropbox">
            <input
              style="
                z-index: 999;
                opacity: 0;
                width: 320px;
                height: 160px;
                position: absolute;
                right: 0px;
                left: 0px;
                margin-right: auto;
                margin-left: auto;
              "
              name="files[]"
              id="filer_input2"
              multiple="multiple"
              type="file"
              formControlName="uploadFile"
              #modelvel
            />
            <div class="Neon-input-dragDrop">
              <div
                *ngIf="modelvel.value == ''; else elseBlock"
                class="Neon-input-inner"
              >
                <div class="Neon-input-icon">
                  <i class="fa fa-file-image-o"></i>
                </div>
                <div class="Neon-input-text">
                  <h3>Drag&amp;Drop files here</h3>
                  <span style="display: inline-block; margin: 15px 0">or</span>
                </div>
                <a class="Neon-input-choose-btn blue">Browse Files</a>
              </div>
              <ng-template #elseBlock
                ><span nz-icon nzType="file" nzTheme="outline"></span>
                {{ add_promotion.value.uploadFile }}</ng-template
              >
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="model-footer">
    <div class="model-action">
      <button
        nz-button
        nzType="default"
        style="color: black; margin-right: 5px"
        (click)="handleCancel()"
      >
        Cancel
      </button>
      <button
        nz-button
        class="action-btn"
        [nzType]="'primary'"
        style="width: 100px"
        [disabled]="add_promotion.invalid"
        [ngClass]="{
          'button-disabled': add_promotion.invalid || isLoading
        }"
        (click)="submit()"
      >
        <span
          *ngIf="isLoading"
          style="color: white; font-size: 16px"
          nz-icon
          nzType="loading"
        ></span>
        Upload
      </button>
    </div>
  </div>
</div>
