<div class="carrier-claims-section">
  <app-date-range
    (modelChange)="onChange($event)"
    [badgeTotal]="badgeTotal"
  ></app-date-range>
  <!-- (filterChange)="openNav()" -->

  <app-return-table
    [listOfData]="carrierClaimsList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'In Carrier Claims'"
    (action)="modelVisible = true"
  ></app-return-table>

  <nz-modal
    [(nzVisible)]="modelVisible"
    nzTitle="Add RA #"
    (nzOnCancel)="modelVisible = false"
  >
    <ng-container *nzModalContent>
      <app-return-approve
        (closeModal)="modelVisible = false"
        (submitModal)="submitForm()"
      ></app-return-approve>
    </ng-container>
  </nz-modal>
</div>
