<app-breadcrumb></app-breadcrumb>
<div class="promotion-details-section">
  <app-section-header [header]="'View Details'"></app-section-header>
  <nz-spin [nzSpinning]="isLoading">
    <div class="body-section">
      <div nz-row [nzGutter]="16" class="header-section">
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="12"
          class="left-section"
        >
          <span
            ><b>Promotion Code : </b>{{ viewData?.requested_promo_code }}</span
          >
          <span><b>Number of SKUs : </b>{{ viewData?.total_mpn }}</span>
          <span><b>Status : </b>{{ viewData?.promo_status }}</span>
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzSm]="24"
          [nzXl]="12"
          class="right-section"
        >
          <span
            ><b>Start Date : </b
            >{{ viewData?.start_date | date : "MM-dd-yyyy" }}</span
          >
          <span
            ><b>End Date : </b
            >{{ viewData?.end_date | date : "MM-dd-yyyy" }}</span
          >
          <span style="display: flex; justify-content: end; margin-right: 3px">
            <a
              class="link"
              style="border-radius: 20px"
              (click)="downloadDetails(viewData?.promo_code)"
            >
              Download Promotion Details
            </a>
          </span>
        </div>
      </div>
      <div>
        <nz-table
          style="margin-top: 20px"
          #nzTable
          nzOuterBordered
          [nzData]="promotionList"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>MPN</th>
              <th class="text-end">Unit Price ($)</th>
              <th class="text-end">Promotion Unit Price ($)</th>
              <th class="text-end">Discount ($)</th>
              <th class="text-end">Discount (%)</th>
              <th class="text-end" *ngIf="userPermissions.partner_map">
                Map Price
              </th>
              <th class="text-end" *ngIf="userPermissions.partner_map">
                Promotional Map Price
              </th>
              <th class="text-end">Units Sold</th>
              <th class="text-end">Sales ($)</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="promotionList">
              <tr>
                <td>{{ data?.mpn }}</td>
                <td class="text-end">{{ data?.unit_price | currency }}</td>
                <td class="text-end">
                  {{ data?.promotional_unit_price | currency }}
                </td>
                <td class="text-end">
                  {{ data?.unit_price_discount | currency }}
                </td>
                <td class="text-end">
                  {{ data?.unit_price_discount_percentage }}
                  {{ data?.unit_price_discount_percentage ? "%" : "" }}
                </td>
                <td class="text-end" *ngIf="userPermissions.partner_map">
                  {{ data?.map_price | currency }}
                </td>
                <td class="text-end" *ngIf="userPermissions.partner_map">
                  {{ data?.promotional_map_price | currency }}
                </td>
                <td class="text-end">{{ data?.units_sold }}</td>
                <td class="text-end">{{ data?.sales | currency }}</td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</div>
