<app-breadcrumb></app-breadcrumb>

<div class="discontinued-update-section">
  <app-section-header [header]="'Discontinued Update'"></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'A18'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      [issueName]="'12'"
      [code]="code"
    ></app-home-filter-action>
    <!-- (showFilter)="openNav()" -->

    <!-- <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div> -->

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="discontinuedUpdateList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product Name</th>
          <th>Amazon ASIN</th>
          <th>Stock</th>
          <th nzRight class="action-column"><div>Actions</div></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>
            <a
              class="link"
              [routerLink]="'/main/products/details/' + data?.mpn"
              >{{ data?.mpn }}</a
            >
          </td>
          <td>{{ data?.upc }}</td>
          <td>{{ data?.name }}</td>
          <td>
            <a
              class="link"
              [href]="'https://www.amazon.com/dp/' + data?.asin"
              >{{ data?.asin }}</a
            >
          </td>
          <td>{{ data?.stock }}</td>
          <td nzRight>
            <div style="display: flex; align-items: center">
              <a
                (click)="matchValue(data.mpn, data.product_status)"
                style="margin: 0 5px; color: #2121c3; font-size: large"
                ><span nz-icon nzType="edit" nzTheme="outline"></span
              ></a>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div> -->
  </div>
  <div *ngIf="isVisible">
    <app-edit-time
      [isVisible]="isVisible"
      [editData]="editData"
      [editLabel]="editLabel"
      [section]="'Discontinued Update'"
      (close)="isVisible = false"
    ></app-edit-time>
  </div>
</div>
