@import'../../../../../../../assets/variable/variable.scss';

.discontinued-update-section {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    // min-height: 95%;

    .body-section {
        padding: 10px 20px 0px 20px;

        .action-column {
            width: 50px;
            padding: 0;
            background-color: rgba(239, 239, 250) !important;

            div {
                padding: 16px;
            }
        }
    }

}
