<div class="home-section">
  <nz-spin [nzSpinning]="isLoading" nzTip="Loading...">
    <div class="section">
      <div class="user-content">
        <div class="tab-header">
          <span>Overview</span>
        </div>
      </div>
      <div class="card">
        <div nz-row [nzGutter]="16">
          <div class="overview-section" nz-col [nzXl]="8" [nzXs]="24">
            <div nz-row [nzGutter]="16">
              <div
                class="first-card"
                nz-col
                [nzXl]="24"
                [nzMd]="12"
                [nzXs]="24"
              >
                <nz-card>
                  <div class="title">Today's Sales</div>
                  <div class="content">
                    <p><span>Units Sold Today</span><span>70</span></p>
                    <p>
                      <span>$ Sold Today</span
                      ><span>{{ 500 | currency }} </span>
                    </p>
                    <p style="margin-bottom: 0">
                      <span>Products Sold Today</span><span>5</span>
                    </p>
                  </div>
                </nz-card>
              </div>
              <div
                class="first-card"
                nz-col
                [nzXl]="24"
                [nzMd]="12"
                [nzXs]="24"
              >
                <nz-card>
                  <div class="title">WTD Sales</div>
                  <div class="content">
                    <p><span>Units Sold WTD</span><span>150</span></p>
                    <p>
                      <span>$ Sold WTD</span><span>{{ 1000 | currency }} </span>
                    </p>
                    <p style="margin-bottom: 0">
                      <span>Products Sold WTD</span><span>14</span>
                    </p>
                  </div>
                </nz-card>
              </div>
            </div>
          </div>

          <div
            class="chart-section overview-section"
            nz-col
            [nzXl]="8"
            [nzMd]="12"
            [nzSm]="24"
            [nzXs]="24"
          >
            <nz-card>
              <div class="title">Catalog</div>
              <div class="chart-content">
                <div class="canvas">
                  <canvas #dChart1></canvas>
                </div>
                <div class="chart-specs" nz-row [nzGutter]="16">
                  <div
                    class="legend"
                    nz-col
                    [nzXl]="8"
                    *ngFor="let item of chartOneLegend"
                  >
                    <div class="color-wrapper">
                      <div
                        class="color-ref"
                        [ngStyle]="{ background: item.color }"
                      ></div>
                      <div class="label-ref">
                        <div>
                          {{ item.label }}
                        </div>
                      </div>
                    </div>
                    <div class="percent">
                      <div>{{ item.data }}%</div>
                    </div>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
          <div
            class="chart-section overview-section"
            nz-col
            [nzXl]="8"
            [nzMd]="12"
            [nzSm]="24"
            [nzXs]="24"
          >
            <nz-card>
              <div class="title">Dropship products that can sell</div>
              <div class="chart-content">
                <div class="canvas">
                  <canvas #dChart2></canvas>
                </div>
                <div class="chart-specs" nz-row [nzGutter]="16">
                  <div
                    class="legend"
                    nz-col
                    [nzXl]="8"
                    *ngFor="let item of chartTwoLegend"
                  >
                    <div class="color-wrapper">
                      <div
                        class="color-ref"
                        [ngStyle]="{ background: item.color }"
                      ></div>
                      <div class="label-ref">
                        <div>
                          {{ item.label }}
                        </div>
                      </div>
                    </div>
                    <div class="percent">
                      <div>{{ item.data }}%</div>
                    </div>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="pendingActions">
    <div class="user-content">
      <div class="tab-header">
        <span>Pending Actions</span>
      </div>
    </div>
    <div class="body" nz-row [nzGutter]="16">
      <div
        nz-col
        [nzXl]="6"
        [nzSm]="12"
        [nzXs]="24"
        style="margin: 10px 0"
        *ngFor="let data of pendingActions; let i = index"
      >
        <a (click)="redirectPendingActions(data.url, i)">
          <nz-card>
            <div class="card">
              <div class="icon">
                <span nz-icon [nzType]="data.icon" nzTheme="outline"></span>
              </div>
              <div class="content">
                <span class="title">{{ data.name }}</span>
                <span>{{ data.content }}</span>
              </div>
              <div class="count">
                <span>1</span>
              </div>
            </div>
          </nz-card>
        </a>
      </div>
    </div>
  </div> -->
    <div class="section" nz-row [nzGutter]="16">
      <div nz-col [nzXl]="12" [nzSm]="24">
        <div class="user-content">
          <div class="tab-header">
            <span>Performance Issues</span>
          </div>
        </div>
        <div class="performance-issues-section">
          <nz-table
            style="margin-top: 10px"
            #nzTable
            nzOuterBordered
            [nzData]="performanceIssuesList"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>NO.</th>
                <th style="width: 80%">PERFORMANCE ISSUES</th>
                <th>COUNT</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-data [ngForOf]="performanceIssuesList">
                <tr>
                  <td>{{ data?.priority }}</td>
                  <td>
                    <a (click)="shoeIssuesPage(data.url)" class="link">{{
                      data?.name
                    }}</a>
                  </td>
                  <td>
                    <b>{{ data?.count }}</b>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div nz-col [nzXl]="12" [nzSm]="24">
        <div class="user-content">
          <div class="tab-header">
            <span>Recommendation Issues</span>
          </div>
        </div>
        <div class="performance-issues-section">
          <nz-table
            style="margin-top: 10px"
            #nzTable
            nzOuterBordered
            [nzData]="performanceIssuesList"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>NO.</th>
                <th style="width: 80%">RECOMMENDATION ISSUES</th>
                <th>COUNT</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-data [ngForOf]="recommendationIssuesList">
                <tr>
                  <td>{{ data.priority }}</td>
                  <td>
                    <a (click)="shoeIssuesPage(data.url)" class="link">{{
                      data?.name
                    }}</a>
                  </td>
                  <td>
                    <b>{{ data?.count }}</b>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
