@import "../../../../../assets/variable/variable.scss";

.home-section {
  padding-bottom: 10px;

  .flex-direction {
    flex-direction: column;
  }

  .tab-header {
    border-bottom: none;
  }

  .section {
    .user-content {
      margin-top: 10px;

      .table-layout {
        padding: 15px;
      }
    }

    .overview-section {
      min-height: 100%;
    }

    .card {
      padding: 15px;
      padding-top: 0;

      @media only screen and (max-width: 1199px) {
        ::ng-deep .flex-direction {
          flex-direction: row;
          padding-bottom: 16px;
        }
      }

      .body {
        margin: 10px 0;
      }

      .content {
        margin-top: 5px;

        p {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .title {
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      // text-decoration: underline;
    }

    ::ng-deep .ant-card-body {
      padding: 5px 15px;
    }

    .first-card {
      //  margin: 10px 0;      
      height: 200px;

      nz-card {
        height: 100%;
      }
    }

    .card-hover:hover {
      background-color: #fafafa;
      // border: 1px solid $border;
    }

    .chart-section {
      //  margin: 10px 0;

      nz-card {
        min-height: 100%;
      }

      .chart-content {

        .canvas {
          display: flex;
          justify-content: center;
        }

        canvas {
          width: 50% !important;
          height: 50% !important;
        }

        @media screen and (max-width: 600px) {
          canvas {
            margin-top: 30px;
          }
        }

        .chart-specs {
          display: flex;
          justify-content: center;

          .legend {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .color-wrapper {
              display: flex;
              justify-content: center;
              //  margin-right: 10px;

              .color-ref {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transform: translateY(4px);
                margin-right: 5px;
              }
            }

            .percent {
              padding-left: 16px;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }

    .performance-issues-section {
      padding: 15px;
      padding-top: 0;
    }
  }

  .pendingActions {
    ::ng-deep .ant-card-body {
      padding: 24px 15px;
    }

    .body {
      padding: 15px;
      padding-top: 0;

      .title {
        font-size: 16px;
        font-weight: 700;
      }

      .card {
        display: flex;

        .icon {
          width: 15%;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-size: xx-large;
          }
        }

        .content {
          width: 70%;
          display: flex;
          flex-direction: column;
        }

        .count {
          width: 15%;
          display: flex;
          align-items: center;

          span {
            width: 33px;
            border-radius: 50%;
            background-color: $darkBlue;
            color: $white;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
