<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="logo">
      <img
        *ngIf="isCollapsed"
        nz-image
        width="50px"
        height="40px"
        nzSrc="assets\img\small-logo.png"
        alt=""
      />
      <img
        *ngIf="!isCollapsed"
        nz-image
        width="150px"
        height="40px"
        nzSrc="assets\img\logo.png"
        alt=""
      />
    </div>
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-menu-item routerLinkActive="active" routerLink="/main/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLinkActive="active" routerLink="/main/profile">
        <span nz-icon nzType="user"></span>
        <span>Profile</span>
      </li>
      <li nz-submenu nzTitle="Products" nzIcon="shop">
        <ul>
          <li nz-menu-item routerLinkActive="active" routerLink="/main/product">
            View / Edit Products
          </li>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            Inventory
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Orders" nzIcon="shopping">
        <ul>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            Pending Acknowledgement
          </li>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            Pending Shipment
          </li>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            In-transit
          </li>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            Pending Customer Cancellation Only
          </li>
          <li nz-menu-item routerLinkActive="active" routerLink="##">
            Returns
          </li>
        </ul>
      </li>
      <li nz-menu-item routerLinkActive="active" routerLink="##">
        <span nz-icon nzType="dollar"></span>
        <span>Payments</span>
      </li>
      <li nz-menu-item routerLinkActive="active" routerLink="##">
        <span nz-icon nzType="apartment"></span>
        <span>Support</span>
      </li>
      <li nz-menu-item routerLinkActive="active" routerLink="##">
        <span nz-icon nzType="setting"></span>
        <span>Settings</span>
      </li>
    </ul>
    <ul nz-menu nzMode="inline" class="sider-menu" style="margin-top: auto">
      <li nz-menu-item [ngClass]="{ logout: isCollapsed }">
        <span nz-icon nzType="logout"></span>
        <span *ngIf="!isCollapsed">Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <div class="profile-menu">
        <a href="#">Help</a>
        <div class="profile-menu">
          <a
            style="color: black"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
          >
            <span>Account</span>
            <span nz-icon nzType="caret-down" nzTheme="fill"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <span nz-icon nzType="user" nzTheme="outline"></span>
                <span>Change Password</span>
              </li>
              <li nz-menu-item>
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                <span>Logout</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="p-2" style="height: 100%">
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
            <a (click)="backButton(i, data.path)">{{ data.path }}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
