@import'../../../assets/variable/variable.scss';

.app-layout {
  height: 100vh;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: $theme-color;
  }

  .logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 1px solid $border;
    padding-bottom: 5px;
  }

  nz-header {
    background: $white;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .profile-menu {
      margin-right: 10px;
      display: flex;
      align-items: center;

      a {
        margin: 0 10px;
        font-size: 16px;
        font-weight: 500;

        b {
          margin-right: 5px;
        }
      }
    }
  }

  ::ng-deep .ant-dropdown {
    background-color: $white;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

    .user-type {
      padding: 5px 20px 0px 20px;

      span {
        font-weight: 700;
        color: #24b563;
      }
    }

    .user-email {
      width: 100%;
      flex-direction: column !important;
      background-color: #fff;
      padding: 0px 20px 10px 20px;
      display: flex;
      border-bottom: 1px solid $border;

      span {
        font-weight: 500;
        // margin: 0 auto !important;
      }
    }
  }

  ::ng-deep .ant-dropdown-menu {
    box-shadow: none;
  }

  ::ng-deep .ant-dropdown-menu {
    width: 200px;
    padding: 10px !important;

    .anticon {
      margin-right: 10px;
    }
  }


  // ::ng-deep .ant-layout-header {
  //   height: 55px;
  // }

  nz-sider {
    background: $white;
    border-right: 1px solid $border;

    // overflow-y: auto;
    ::ng-deep .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }

    ul {
      li {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  .active {
    color: $teb-font-color;
    background-color: #ff8b4d14 !important;
    border-right: 3px solid $teb-font-color;
  }

  ::ng-deep .ant-menu-light .ant-menu-item:hover,

  .ant-menu-light .ant-menu-submenu-title:hover {
    color: $teb-font-color;
  }

  ::ng-deep .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    color: $black;
  }

  ::ng-deep .ant-menu-light .ant-menu-submenu-title:hover {
    color: $teb-font-color;
  }

  ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $white;
  }

  ::ng-deep .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: none;
  }

  // ::ng-deep .ant-menu-inline {
  //   height: -webkit-fill-available !important;
  // }

  ::ng-deep .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: $white;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: $white;
    min-height: 360px;
  }

  .p-2 {
    padding: 16px;
  }

  nz-content {
    max-height: 100vh;
    overflow-y: auto;

    nz-breadcrumb {
      margin-top: 0 !important;
    }
  }


  // model
  ::ng-deep .ant-modal-header {
    background-color: $header-of-tab;
    padding: 15px 24px;
    border-radius: 5px 5px 0px 0px;

    .ant-modal-title {
      color: $white;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  ::ng-deep .ant-modal-content {
    border-radius: 5px !important;
  }

  ::ng-deep .ant-modal-footer {
    display: none;
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
