@import'../../../../../../assets/variable/variable.scss';

.notification-preferences-section {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    // min-height: 95%;

    .body-section {
        padding: 20px;
        padding-top: 10px;
        max-height: 60vh;
        overflow-y: scroll;

        a {
            border-radius: 50%;
            margin: 10px 5px;
            color: $white;
            font-size: 16px;
            line-height: 0;
            width: 20px;
            height: 20px;
            display: flex;
            border: none;
            justify-content: center;
            padding-top: 9px;
        }

        form {
            width: 100%;

            nz-form-label {
                font-size: 16px !important;
                font-weight: 600 !important;
                padding-bottom: 2px;
            }

            ::ng-deep .ant-input-prefix {
                font-size: x-large;
                margin-right: 10px;
            }

            ::ng-deep .ant-input {
                border-radius: 5px !important;
            }

            ::ng-deep .ant-form-item {
                margin-bottom: 0;
            }

            nz-input-group {
                border-radius: 5px;

                input {
                    height: 40px;
                    font-size: 16px;
                }
            }

            .notification {
                display: flex;
                border-bottom: 1px solid $lightgrey;
                padding: 10px 0;
                // align-items: center;

                &-label {
                    display: flex;
                    // align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding-left: 1%;
                }
            }
        }
    }
}

@media screen and (max-width:765px) {
    .notification-preferences-section {
        .body-section {
            max-height: 70vh;
            overflow-y: auto;
        }
    }
}
