<div class="filter-section">
  <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar()"
    >&times;</a
  >
  <div class="filter-content">
    <nz-divider
      *ngIf="tabName === 'inTransit'"
      style="margin-top: 20px"
      nzText="Status"
      nzOrientation="left"
    ></nz-divider>
    <!-- In Transit Status -->
    <nz-select
      *ngIf="tabName === 'inTransit'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="status"
      (ngModelChange)="changeValue(status ? $event : '', 'status')"
    >
      <nz-option nzLabel="Picked Up" nzValue="Picked Up"></nz-option>
      <nz-option nzLabel="In Transit" nzValue="In Transit"></nz-option>
      <nz-option
        nzLabel="Out for Delivery"
        nzValue="Out for Delivery"
      ></nz-option>
    </nz-select>

    <nz-divider
      *ngIf="
        tabName === 'new' ||
        tabName === 'pendingShipment' ||
        tabName === 'allOrders'
      "
      nzText="Ship Out Locations"
      nzOrientation="left"
    ></nz-divider>
    <nz-select
      *ngIf="
        tabName === 'new' ||
        tabName === 'pendingShipment' ||
        tabName === 'allOrders'
      "
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Location"
      [(ngModel)]="shipOutLocation"
      (ngModelChange)="
        changeValue(shipOutLocation ? $event : '', 'shipOutLocation')
      "
    >
      <nz-option nzLabel="Ahmadabad" nzValue="ahmadabad"></nz-option>
      <nz-option nzLabel="Surat" nzValue="surat"></nz-option>
      <nz-option nzLabel="Rajkot" nzValue="rajkot"></nz-option>
      <nz-option nzLabel="Bhavnagar" nzValue="bhavnagar"></nz-option>
    </nz-select>

    <nz-divider
      *ngIf="
        tabName === 'new' ||
        tabName === 'inTransit' ||
        tabName === 'delivered' ||
        tabName === 'allOrders'
      "
      style="margin-top: 20px"
      nzText="SKU"
      nzOrientation="left"
    ></nz-divider>
    <nz-form-item
      *ngIf="
        tabName === 'new' ||
        tabName === 'inTransit' ||
        tabName === 'delivered' ||
        tabName === 'allOrders'
      "
    >
      <nz-form-control>
        <nz-input-group>
          <input
            [(ngModel)]="sku"
            type="text"
            nz-input
            placeholder="Enter SKU"
            (input)="changeValue(sku ? sku : '', 'sku')"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-divider
      *ngIf="
        tabName === 'new' ||
        tabName === 'inTransit' ||
        tabName === 'delivered' ||
        tabName === 'allOrders'
      "
      nzText="Carrier "
      nzOrientation="left"
    ></nz-divider>
    <nz-select
      *ngIf="
        tabName === 'new' ||
        tabName === 'inTransit' ||
        tabName === 'delivered' ||
        tabName === 'allOrders'
      "
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Carrier "
      [(ngModel)]="carrier"
      (ngModelChange)="changeValue(carrier ? $event : '', 'carrier')"
    >
      <nz-option nzLabel="Carrier 1" nzValue="carrier1"></nz-option>
      <nz-option nzLabel="Carrier 2" nzValue="carrier2"></nz-option>
      <nz-option nzLabel="Carrier 3" nzValue="carrier3"></nz-option>
    </nz-select>

    <nz-divider
      *ngIf="
        tabName === 'new' ||
        tabName === 'pendingShipment' ||
        tabName === 'allOrders'
      "
      nzText="Committed Ship Date"
      nzOrientation="left"
    ></nz-divider>
    <nz-date-picker
      *ngIf="
        tabName === 'new' ||
        tabName === 'pendingShipment' ||
        tabName === 'allOrders'
      "
      [(ngModel)]="committedShipDate"
      (ngModelChange)="
        changeValue(committedShipDate ? $event : '', 'committedShipDate')
      "
    ></nz-date-picker>

    <nz-divider
      *ngIf="
        tabName === 'pendingShipment' ||
        tabName === 'cancellationRequested' ||
        tabName === 'allOrders'
      "
      style="margin-top: 20px"
      nzText="Status"
      nzOrientation="left"
    ></nz-divider>
    <!-- pending status -->
    <nz-select
      *ngIf="tabName === 'pendingShipment'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="status"
      (ngModelChange)="changeValue(status ? $event : '', 'status')"
    >
      <nz-option nzLabel="Manifested" nzValue="Manifested"></nz-option>
      <nz-option
        nzLabel="Not yet Manifested"
        nzValue="Not yet Manifested"
      ></nz-option>
    </nz-select>

    <!-- Cancellation Requested -->
    <nz-select
      *ngIf="tabName === 'cancellationRequested'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="status"
      (ngModelChange)="changeValue(status ? $event : '', 'status')"
    >
      <nz-option nzLabel="Accepted" nzValue="Accepted"></nz-option>
      <nz-option
        nzLabel="Already Shipped"
        nzValue="Already Shipped"
      ></nz-option>
    </nz-select>

    <!-- All Status -->
    <nz-select
      *ngIf="tabName === 'allOrders'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="status"
      (ngModelChange)="changeValue(status ? $event : '', 'status')"
    >
      <nz-option nzLabel="New" nzValue="New"></nz-option>
      <nz-option
        nzLabel="Pending Shipment"
        nzValue="Pending Shipment"
      ></nz-option>
      <nz-option nzLabel="In-Transit" nzValue="In-Transit"></nz-option>
      <nz-option nzLabel="Delivered" nzValue="Delivered"></nz-option>
      <nz-option
        nzLabel="Cancellation Requested"
        nzValue="Cancellation Requested"
      ></nz-option>
      <nz-option nzLabel="Cancelled" nzValue="Cancelled"></nz-option>
      <nz-option nzLabel="RTO" nzValue="RTO"></nz-option>
    </nz-select>
  </div>
</div>
