<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
    <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
      <a (click)="backButton(i, 'profile')">Profile</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
      <a (click)="backButton(i, 'profile')">Company</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let data of breadcrumb; let i = index">
      <a>W9 Set up</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  


<div class="w9-setup-section">

    <div class="user-content">
        <div class="tab-header">
          <span>W9 Set up</span>
          <button nz-button class="gotohome-btn" >Download</button>
        </div>
      </div>

  

<div class="grid-sec">

<div nz-row [nzGutter]="16" *ngFor="let data of forminfo">
    <div nz-col class="gutter-row"  [nzMd]="{ span: 6}"  [nzLg]="{ span: 7} "  [nzXl]="{ span: 6}">
        <div>
            <h3 class="grid-key">Legal Name :</h3> <span class="kyc-grid-span">{{data.legalname}}</span>
        </div>
        
      

    </div>
    <div nz-col class="gutter-row"  [nzMd]="{ span: 5}"  [nzLg]="{ span: 7} "  [nzXl]="{ span: 6}">
        <div>
            <h3 class="grid-key">Tax Identification Number:</h3> <span class="kyc-grid-span">{{data.taxNumber}}</span>
        </div>
    </div>
    <div nz-col class="gutter-row"  [nzMd]="{ span: 5}"  [nzLg]="{ span: 7} "  [nzXl]="{ span: 6}">
        <div>
            <h3 class="grid-key">Address:</h3> <span class="kyc-grid-span">{{data.address}}</span>
        </div>
    </div>
    <div nz-col class="gutter-row"  [nzMd]="{ span: 5}"  [nzLg]="{ span: 7} "  [nzXl]="{ span: 6}">
        <div>
            <h3 class="grid-key">Classification:</h3> <span class="kyc-grid-span">{{data.classification}}</span>
        </div>
    </div>
    <div nz-col class="gutter-row sec-grid"  [nzMd]="{ span: 5}"  [nzLg]="{ span: 7} "  [nzXl]="{ span: 6}">
        <div>
            <h3 class="grid-key">Document:Type</h3> <span class="kyc-grid-span">{{data.doctype}}</span>
        </div>
    </div>

</div>

<button nz-button class="ticket-btn " >Go to Ticket page</button>

</div>

</div>