<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Profile</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a (click)="backButton('profile')">Company</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>W9 Set up</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="co-op-section">
  <div class="user-content">
    <div class="tab-header">
      <span>W9 Set up</span>
    </div>
  </div>
  <div class="body-section">
    <div nz-row [nzGutter]="16">
      <div nz-col nz-col class="gutter-row" [nzSpan]="12">
    <nz-descriptions class="vertical-sec">
      <nz-descriptions-item nzTitle="Legal Name"
        ><b>{{ w9SetUpDate.legalName }}</b></nz-descriptions-item
      >

      <nz-descriptions-item
      nzTitle="Tax Identification Number"
      class="tax-add-ticket"
      ><b>{{
        w9SetUpDate.taxIdentificationNumber
      }}</b></nz-descriptions-item
    >
    <nz-descriptions-item nzTitle="Address" class="tax-add-ticket"
      ><b>{{ w9SetUpDate.address }}</b></nz-descriptions-item
    >
    <nz-descriptions-item nzTitle="Classification" class="tax-add-ticket"
      ><b>{{ w9SetUpDate.classification }}</b></nz-descriptions-item
    >

    <nz-descriptions-item nzTitle="For any changes in W8/W9"
    ><a>click here</a></nz-descriptions-item
  >  


     
    </nz-descriptions>
  </div>

    
      <div style="margin-left: 100px;" nz-col class="gutter-row" [nzSpan]="10">
      <nz-descriptions>
      
      <nz-descriptions-item nzTitle="Document Type"
      ><b>{{ w9SetUpDate.documentType }} 
        
        <a> download</a>
    
    </b></nz-descriptions-item
    >
      </nz-descriptions>
    </div>
 

    <!-- <div class="ticket-btn">
      <button nz-button >Go to Ticket page</button>
    </div> -->
  </div>
  </div>
</div>



