<app-breadcrumb></app-breadcrumb>

<div class="restricted-cannot-ship-ground-section">
  <app-section-header
    [modifyLable]="true"
    [header]="'A10'"
  ></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'A10'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'7'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="restrictedCannotShipGroundList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Reason for Restriction</th>
          <th>Date of Restriction (if Available)</th>
          <th>Shipping Method</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <tr>
            <td>{{ data?.mpn }}</td>
            <td>{{ data?.upc }}</td>
            <td>{{ data?.name }}</td>
            <td>
              <app-asin [asin]="data?.asin"></app-asin>
            </td>
            <td>{{ data?.reason_for_restriction }}</td>
            <td>{{ data?.date_of_restriction }}</td>
            <td>{{ data?.shippingMethod }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                class="action-button"
                style="margin-top: 0; height: 35px"
              >
                Match
              </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total
      >Total <b>{{ total }}</b> items</ng-template
    >

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
</div>
