<app-breadcrumb></app-breadcrumb>

<div class="restricted-cannot-ship-ground-section">
  <app-section-header
    [header]="'Restricted Cannot Ship Ground'"
  ></app-section-header>

  <div class="body-section">
    <div class="button-group">
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo expedita
        aperiam saepe beatae deserunt natus maxime accusantium cum modi nemo.
        Quae dolores error nemo tenetur assumenda similique molestias beatae
        dicta.
      </div>
      <button
        nz-button
        nzType="primary"
        class="action-button"
        style="margin-top: 0"
        (click)="isMultipleProductsVisible = true"
      >
        <span nz-icon nzType="plus"></span> Add Multi Product Edit
      </button>
    </div>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'Handling Time Conflict'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="restrictedCannotShipGroundList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th></th>
          <th>Serial No.</th>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Reason for Restriction</th>
          <th>Date of Restriction (if Available)</th>
          <th>Shipping Method</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <tr>
            <td [(nzExpand)]="data.expand"></td>
            <td>{{ data?.id }}</td>
            <td>{{ data?.mpn }}</td>
            <td>{{ data?.upc }}</td>
            <td>{{ data?.product_Name }}</td>
            <td>{{ data?.amazonASIN }}</td>
            <td>{{ data?.reasonForRestriction }}</td>
            <td>{{ data?.dateOfRestriction }}</td>
            <td>{{ data?.shippingMethod }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                class="action-button"
                style="margin-top: 0; height: 35px"
              >
                Match
              </button>
            </td>
          </tr>
          <tr [nzExpand]="data.expand">
            <nz-table
              #innerTable
              [nzData]="data.boxes"
              [nzShowPagination]="false"
              nzSize="middle"
              style="padding: 10px"
            >
              <thead>
                <tr>
                  <th>length</th>
                  <th>width</th>
                  <th>height</th>
                  <th>weight</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of innerTable.data">
                  <td>{{ data.length }}</td>
                  <td>{{ data.width }}</td>
                  <td>{{ data.height }}</td>
                  <td>{{ data.weight }}</td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isMultipleProductsVisible"
    nzTitle="Add / Edit Multi Product"
    (nzOnCancel)="isMultipleProductsVisible = false"
  >
    <ng-container *nzModalContent>
      <app-add-edit-multiple-products
        (closeModel)="isMultipleProductsVisible = false"
      ></app-add-edit-multiple-products>
    </ng-container>
  </nz-modal>
</div>
