<div #section class="in-transit-section">
  <div class="body-section">
    <app-date-range
      (modelChange)="onChange($event)"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
    ></app-date-range>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectSku]="selectSku"
        [selectCarrier]="selectCarrier"
        [selectStatus]="selectStatus"
      ></app-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzData]="inTransitData"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>PO #</th>
          <th>Customer Name</th>
          <th>Products</th>
          <th>PO Total</th>
          <th>Shipping Details</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>
            <a style="color: #1221c3"
              ><u
                ><b>{{ data.poNumber }}</b></u
              ></a
            >
          </td>
          <td>{{ data.customerName }}</td>
          <td>{{ data.products }}</td>
          <td>$ {{ data.poTotal }}</td>
          <td>
            <div>
              <b>{{ data.shippingDetails.name }}</b>
            </div>
            <div>{{ data.shippingDetails.number }}</div>
          </td>
          <td>{{ data.status }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [sku]="selectSku"
      [carrier]="selectCarrier"
      [status]="selectStatus"
      [tabName]="'inTransit'"
    ></app-filter-section>
  </div>
</div>
