// $border-dark: rgba($base-color, 0.88);
$theme-color: #ec7211;
$white: #fff;
$black: black;
$lightgrey: lightgray;
$gray: gray;
$green: green;
$chartreuse: chartreuse;
$active-btn: #3abe25;
$green-background: #d5ebd5;
$red: red;
$red-background: rgb(253, 218, 218);
$border: #80808026;
$light-background: #f5f5f5;
$transparent-color: #00000000;
$green-btn: rgb(104, 173, 104);
$box-shadow: 2px 4px 10px rgb(0 0 0 / 15%);
$section-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
$three-side-shadow: 0 0 #0003,
    0 0 #00000024,
    0 0 #0000001f;
$chat-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
;
$img-shadow: 0 3px 6px rgb(0 0 0 / 16%),
    0 3px 6px rgb(0 0 0 / 23%);
$teb-font-color: #ec7211;
$select-row-background: #f1faff;
$select-row-border: #44b9d6;
$archived-row-background: #fbe5e88f;
$archived-row-border: rgb(248, 150, 166);
$yellow: #faad14;
$skyBlue: #1890ff;
// $header-of-tab: #6c757d;
$header-of-tab: #1dbae1;
$darkBlue: #2121c3;


::ng-deep .ant-table-thead > tr > th {
    border-top: 3px solid #2121c3;
    background-color: rgba(33, 33, 195, 0.08) !important;
  }