<div #section class="view-edit-products-section">
  <div #content class="content-section">
    <div class="user-content">
      <div class="tab-header">
        <span>View Products</span>
      </div>
    </div>

    <div class="view-edit-products-section-content">
      <div>
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          style="display: block"
          (click)="navigatePage('product/view-list-filter/add-product')"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Add new Product
        </button>
      </div>
    </div>

    <div class="view-edit-products-section-content">
      <div class="action">
        <nz-badge [nzShowZero]="false" [nzCount]="beagetotal">
          <button
            (click)="openNav()"
            nz-button
            nzType="primary"
            nzShape="round"
          >
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-badge>
        <button
          style="margin: 0 10px"
          nz-button
          (click)="showUploadModal('download')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="download" nzTheme="outline"></span>
        </button>
        <button
          style="margin: 0 10px"
          nz-button
          (click)="showUploadModal('upload')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="upload" nzTheme="outline"></span>
        </button>

        <form nz-form [formGroup]="viewEditProducts">
          <nz-form-item style="margin-bottom: 0">
            <nz-form-control nzErrorTip="Please input your valid code!">
              <nz-input-group nzPrefixIcon="search" class="search">
                <input
                  formControlName="search"
                  nz-input
                  placeholder="Search..."
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <div *ngIf="clear_btn && beagetotal !== 0" class="tag-section">
        <nz-tag
          *ngIf="selectCategory"
          nzMode="closeable"
          (nzOnClose)="close('selectCategory')"
          >{{ selectCategory }}</nz-tag
        >
        <nz-tag
          *ngIf="inventory"
          nzMode="closeable"
          (nzOnClose)="close('inventory')"
          >{{ inventory }}</nz-tag
        >

        <nz-tag *ngIf="asin" nzMode="closeable" (nzOnClose)="close('asin')">{{
          asin
        }}</nz-tag>
        <nz-tag
          *ngIf="selectStatus"
          nzMode="closeable"
          (nzOnClose)="close('Selectstatus')"
          >{{ selectStatus }}</nz-tag
        >
        <nz-tag *ngIf="map" nzMode="closeable" (nzOnClose)="close('map')">{{
          map
        }}</nz-tag>
        <nz-tag
          *ngIf="selectBrand"
          nzMode="closeable"
          (nzOnClose)="close('selectBrand')"
          >{{ selectBrand }}</nz-tag
        >
        <nz-tag
          *ngIf="selectCollection"
          nzMode="closeable"
          (nzOnClose)="close('selectCollection')"
          >{{ selectCollection }}</nz-tag
        >
        <nz-tag
          *ngIf="selectSales"
          nzMode="closeable"
          (nzOnClose)="close('selectSales')"
          >{{ selectSales }}</nz-tag
        >
        <button
          *ngIf="beagetotal >= 1"
          nz-button
          nzType="default"
          (click)="tagfunc()"
          style="
            float: none;
            background-color: white;
            color: #1221c3;
            border: 1px solid #1221c3;
          "
          class="action-button clear-btn"
        >
          clear
        </button>
      </div>
      <nz-table
        #nzTable
        nzTableLayout="fixed"
        nzShowSizeChanger
        [nzPageSizeOptions]="pageSizeOptions"
        [nzFrontPagination]="false"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzLoading]="isLoading"
        [nzData]="data"
        [nzScroll]="{ x: '100%' }"
      >
        <thead>
          <tr>
            <th>MPN</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Brand</th>
            <th>Product Status</th>
            <th>ASIN Status</th>
            <th>Inventory</th>
            <th>MAP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.mpn }}</td>
            <td>
              <a
                style="color: #2121c3"
                (click)="
                  navigatePage(
                    'product/view-list-filter/view-single-product/' + data.id
                  )
                "
                ><u>{{ data.productName }}</u></a
              >
            </td>
            <td>{{ data.unitPrice }}</td>
            <td>{{ data.brand }}</td>
            <td>{{ data.productStatus }}</td>
            <td>{{ data.asinStatus }}</td>
            <td>{{ data.inventory }}</td>
            <td>{{ data.map }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider nzText="Inventory" nzOrientation="left"></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'inventory')"
          formControlName="inventory"
        >
          <label nz-radio nzValue="inStock">In Stock</label>
          <label nz-radio nzValue="outOfStock">Out Of Stock</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Asin Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'asin')"
          formControlName="asin"
        >
          <label nz-radio nzValue="approved">Approved</label>
          <label nz-radio nzValue="notapproved">Not Approved</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Product Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select A Status"
          (ngModelChange)="
            change(filter.value.productStatus ? $event : '', 'status')
          "
          formControlName="productStatus"
        >
          <nz-option nzLabel="Discontented" nzValue="discontented"></nz-option>
          <nz-option nzLabel="Active" nzValue="active"></nz-option>
          <nz-option nzLabel="Restricted" nzValue="restricted"></nz-option>
          <nz-option nzLabel="Suppressed" nzValue="suppressed"></nz-option>
          <nz-option nzLabel="LTL" nzValue="ltl"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="MAP"
          nzOrientation="left"
        ></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'map')"
          formControlName="map"
        >
          <label nz-radio nzValue="true">Yes</label>
          <label nz-radio nzValue="false">No</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Brand"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          (ngModelChange)="change(filter.value.brand ? $event : '', 'brand')"
          formControlName="brand"
          nzPlaceHolder="Select A Brand"
        >
          <nz-option
            *ngFor="let item of listOfBrand"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Collection"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Collection"
          (ngModelChange)="
            change(filter.value.collection ? $event : '', 'collection')
          "
          formControlName="collection"
        >
          <nz-option
            *ngFor="let item of listOfCollection"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Category"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Category"
          (ngModelChange)="
            change(filter.value.category ? $event : '', 'category')
          "
          formControlName="category"
        >
          <nz-option
            *ngFor="let item of listOfProductCategory"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Sales Tier"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Sales Tire"
          (ngModelChange)="
            change(filter.value.salesTire ? $event : '', 'salesTire')
          "
          formControlName="salesTire"
        >
          <nz-option
            *ngFor="let item of listOfSalesTier"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </div>

  <nz-modal
    [(nzVisible)]="isDownloadVisible"
    nzTitle="Which item do you want to export?"
    (nzOnCancel)="handleCancel('download')"
    (nzOnOk)="handleOk('download')"
  >
    <ng-container *nzModalContent>
      <div style="padding: 15px">
        <form nz-form [formGroup]="uploadmodal">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <nz-radio-group style="display: grid" formControlName="export">
                  <label nz-radio nzValue="A">All</label>
                  <label nz-radio nzValue="B">Filtered(0)</label>
                </nz-radio-group>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>

        <h4 style="margin-top: 12px">
          Your items and all their data will be downloaded as a CSV file
        </h4>
      </div>
      <div class="model-footer">
        <div class="model-action" style="padding: 15px; padding-bottom: 0">
          <button
            nz-button
            nzType="default"
            style="color: black; margin-right: 5px"
            (click)="handleCancel('download')"
          >
            Cancel
          </button>
          <button
            nz-button
            class="upload-btn"
            [nzType]="'primary'"
            style="
              width: 100px;
              margin-right: 24px;
              background-color: #2121c3;
              border: none;
            "
          >
            Download
          </button>
        </div>
      </div>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isUploadVisible"
    nzTitle="Upload"
    (nzOnCancel)="handleCancel('upload')"
    (nzOnOk)="handleOk('upload')"
  >
    <ng-container *nzModalContent>
      <app-upload-model
        (closeModel)="handleCancel('upload')"
      ></app-upload-model>
    </ng-container>
  </nz-modal>
</div>
