<div #section class="view-edit-products-section">
  <div class="content-section">
    <app-section-header [header]="'Products'"></app-section-header>

    <div class="header-action-button">
      <button
        nz-button
        nzType="primary"
        nzShape="round"
        style="display: block"
        (click)="showUploadModal('import')"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Add/Edit multiple products
      </button>
      <button
        nz-button
        nzType="primary"
        nzShape="round"
        style="display: block"
        (click)="navigatePage('view-product/add-product')"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Add new Product
      </button>
    </div>

    <div class="view-edit-products-section-content">
      <div class="action">
        <nz-badge
          style="margin-right: 10px"
          [nzShowZero]="false"
          [nzCount]="beagetotal"
        >
          <button
            (click)="openNav()"
            nz-button
            nzType="primary"
            nzShape="round"
          >
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-badge>
        <!-- <button
          style="margin-right: 10px"
          nz-button
          (click)="showUploadModal('upload')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="download" nzTheme="outline"></span> Import
        </button> -->
        <button
          style="margin-right: 10px"
          nz-button
          (click)="showUploadModal('download')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="upload" nzTheme="outline"></span> Export
        </button>

        <form nz-form [formGroup]="viewEditProducts">
          <nz-form-item style="margin-bottom: 0 !important">
            <nz-form-control nzErrorTip="Please input your valid code!">
              <nz-input-group nzPrefixIcon="search" class="search">
                <input
                  formControlName="search"
                  nz-input
                  placeholder="Search..."
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <div *ngIf="clear_btn && beagetotal !== 0" class="tag-section">
        <nz-tag
          *ngIf="selectCategory"
          nzMode="closeable"
          (nzOnClose)="close('selectCategory')"
          >{{ selectCategory }}</nz-tag
        >
        <nz-tag
          *ngIf="inventory"
          nzMode="closeable"
          (nzOnClose)="close('inventory')"
          >{{ inventory }}</nz-tag
        >

        <nz-tag *ngIf="asin" nzMode="closeable" (nzOnClose)="close('asin')">{{
          asin
        }}</nz-tag>
        <nz-tag
          *ngIf="selectStatus"
          nzMode="closeable"
          (nzOnClose)="close('Selectstatus')"
          >{{ selectStatus }}</nz-tag
        >
        <nz-tag *ngIf="map" nzMode="closeable" (nzOnClose)="close('map')">{{
          map === "true" ? "MAP-Yes" : "MAP-No"
        }}</nz-tag>
        <nz-tag
          *ngIf="selectBrand"
          nzMode="closeable"
          (nzOnClose)="close('selectBrand')"
          >{{ selectBrand }}</nz-tag
        >
        <nz-tag
          *ngIf="selectCollection"
          nzMode="closeable"
          (nzOnClose)="close('selectCollection')"
          >{{ selectCollection }}</nz-tag
        >
        <nz-tag
          *ngIf="selectSales"
          nzMode="closeable"
          (nzOnClose)="close('selectSales')"
          >{{ selectSales }}</nz-tag
        >
        <button
          *ngIf="beagetotal >= 1"
          nz-button
          nzType="default"
          (click)="tagfunc()"
          style="
            float: none;
            background-color: white;
            color: #1221c3;
            border: 1px solid #1221c3;
          "
          class="action-button clear-btn"
        >
          clear
        </button>
      </div>

      <nz-table
        #nzTable
        nzShowSizeChanger
        [nzPageSizeOptions]="pageSizeOptions"
        [nzFrontPagination]="false"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzLoading]="isLoading"
        [nzData]="productList"
        [nzScroll]="{ x: '100%' }"
        (nzPageIndexChange)="pageIndexChange($event)"
      >
        <!-- (nzPageSizeChange)="pageSizeChange($event)" -->
        <thead>
          <tr>
            <th>MPN</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Brand</th>
            <th class="text-center">Product Status</th>
            <th>ASIN Status</th>
            <th>Inventory</th>
            <th>MAP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.mpn }}</td>
            <td>
              <a
                class="link"
                (click)="
                  navigatePage('view-product/view-single-product/' + data.sku)
                "
                >{{ data.name }}</a
              >
            </td>
            <td>{{ data.unit_price | currency }}</td>
            <td>{{ data.brand }}</td>
            <td class="text-center">
              {{ data.catalog_status }}
              <!-- <app-status-badge
                [type]="
                  data.catalog_status === 'Active'
                    ? statusEnum.Success
                    : statusEnum.Failure
                "
                [text]="data.catalog_status"
              ></app-status-badge> -->
            </td>
            <td>{{ data.asin }}</td>
            <td>{{ data.inventory_status }}</td>
            <td>{{ data.unit_price }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider nzText="Inventory" nzOrientation="left"></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'inventory')"
          formControlName="inventory"
        >
          <label nz-radio nzValue="inStock">In Stock</label>
          <label nz-radio nzValue="outOfStock">Out Of Stock</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Asin Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'asin')"
          formControlName="asin"
        >
          <label nz-radio nzValue="approved">Approved</label>
          <label nz-radio nzValue="notapproved">Not Approved</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Product Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select A Status"
          (ngModelChange)="
            change(filter.value.productStatus ? $event : '', 'status')
          "
          formControlName="productStatus"
        >
          <nz-option nzLabel="Discontented" nzValue="discontented"></nz-option>
          <nz-option nzLabel="Active" nzValue="active"></nz-option>
          <nz-option nzLabel="Restricted" nzValue="restricted"></nz-option>
          <nz-option nzLabel="Suppressed" nzValue="suppressed"></nz-option>
          <nz-option nzLabel="LTL" nzValue="ltl"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="MAP"
          nzOrientation="left"
        ></nz-divider>
        <nz-radio-group
          (ngModelChange)="change($event, 'map')"
          formControlName="map"
        >
          <label nz-radio nzValue="true">Yes</label>
          <label nz-radio nzValue="false">No</label>
        </nz-radio-group>

        <nz-divider
          style="margin-top: 20px"
          nzText="Brand"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          (ngModelChange)="change(filter.value.brand ? $event : '', 'brand')"
          formControlName="brand"
          nzPlaceHolder="Select A Brand"
        >
          <nz-option
            *ngFor="let item of listOfBrand"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Collection"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Collection"
          (ngModelChange)="
            change(filter.value.collection ? $event : '', 'collection')
          "
          formControlName="collection"
        >
          <nz-option
            *ngFor="let item of listOfCollection"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Category"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Category"
          (ngModelChange)="
            change(filter.value.category ? $event : '', 'category')
          "
          formControlName="category"
        >
          <nz-option
            *ngFor="let item of listOfProductCategory"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Sales Tier"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Sales Tire"
          (ngModelChange)="
            change(filter.value.salesTire ? $event : '', 'salesTire')
          "
          formControlName="salesTire"
        >
          <nz-option
            *ngFor="let item of listOfSalesTier"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </div>

  <nz-modal
    [(nzVisible)]="isDownloadVisible"
    nzTitle="Which items do you want to export?"
    (nzOnCancel)="handleCancel('download')"
    (nzOnOk)="handleOk('download')"
  >
    <ng-container *nzModalContent>
      <app-export-model
        [exportType]="exportType"
        (close)="handleCancel('download')"
      ></app-export-model>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isUploadVisible"
    nzTitle="Upload"
    (nzOnCancel)="handleCancel('upload')"
  >
    <ng-container *nzModalContent>
      <app-upload-model
        (closeModel)="handleCancel('upload')"
      ></app-upload-model>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isImportVisible"
    nzTitle="Add / Edit multi product"
    (nzOnCancel)="handleCancel('import')"
  >
    <ng-container *nzModalContent>
      <app-add-edit-multiple-products
        (closeModel)="handleCancel('import')"
      ></app-add-edit-multiple-products>
    </ng-container>
  </nz-modal>
</div>
