<div #section class="view-edit-products-section">
  <div class="content-section">
    <app-section-header [header]="'Products'"></app-section-header>

    <div class="header-action-button">
      <button
        nz-button
        nzType="primary"
        nzShape="round"
        style="display: block"
        (click)="showUploadModal('import')"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Edit Products
      </button>
      <button
        nz-button
        nzType="primary"
        nzShape="round"
        style="display: block"
        (click)="navigatePage('products/add-product')"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Add Product
      </button>
    </div>

    <div class="view-edit-products-section-content">
      <div class="action">
        <nz-badge
          style="margin-right: 10px"
          [nzShowZero]="false"
          [nzCount]="badgeTotal"
        >
          <button
            (click)="openNav()"
            nz-button
            nzType="primary"
            nzShape="round"
          >
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-badge>
        <!-- <button
          style="margin-right: 10px"
          nz-button
          (click)="showUploadModal('upload')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="download" nzTheme="outline"></span> Import
        </button> -->
        <button
          style="margin-right: 10px"
          nz-button
          (click)="showUploadModal('download')"
          nzType="primary"
          nzShape="round"
        >
          <span nz-icon nzType="upload" nzTheme="outline"></span> Export
        </button>

        <form nz-form [formGroup]="viewEditProducts">
          <nz-form-item style="margin-bottom: 0 !important">
            <nz-form-control nzErrorTip="Please input your valid code!">
              <nz-input-group nzPrefixIcon="search" class="search">
                <input
                  (keyup)="accountSearch.next($event)"
                  formControlName="search"
                  nz-input
                  placeholder="Search..."
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
        <nz-tag
          *ngIf="selectStatus"
          nzMode="closeable"
          (nzOnClose)="close('Selectstatus')"
          >{{ selectStatus }}</nz-tag
        >
        <nz-tag
          *ngIf="inventory"
          nzMode="closeable"
          (nzOnClose)="close('inventory')"
          >{{ inventory }}</nz-tag
        >
        <nz-tag
          *ngIf="selectBrand"
          nzMode="closeable"
          (nzOnClose)="close('selectBrand')"
          >{{ selectBrand }}</nz-tag
        >
        <nz-tag
          *ngIf="selectCollection"
          nzMode="closeable"
          (nzOnClose)="close('selectCollection')"
          >{{ selectCollection }}</nz-tag
        >
        <nz-tag
          *ngIf="selectCategory"
          nzMode="closeable"
          (nzOnClose)="close('selectCategory')"
          >{{ selectCategory }}</nz-tag
        >
        <nz-tag
          *ngIf="selectSales"
          nzMode="closeable"
          (nzOnClose)="close('selectSales')"
          >{{ selectSales }}</nz-tag
        >
        <button
          *ngIf="badgeTotal >= 1"
          nz-button
          nzType="default"
          (click)="tagfunc()"
          style="
            float: none;
            background-color: white;
            color: #1221c3;
            border: 1px solid #1221c3;
          "
          class="action-button clear-btn"
        >
          clear
        </button>
      </div>

      <nz-table
        #nzTable
        nzShowSizeChanger
        [nzPageSizeOptions]="pageSizeOptions"
        [nzFrontPagination]="false"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzLoading]="isLoading"
        [nzData]="productList"
        [nzScroll]="{ x: '100%' }"
        (nzPageIndexChange)="pageIndexChange($event)"
      >
        <!-- (nzPageSizeChange)="pageSizeChange($event)" -->
        <thead>
          <tr>
            <th>MPN</th>
            <th>UPC</th>
            <th style="width: 150px">Amazon ASIN</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th style="width: 150px">Unit Price</th>
            <th *ngIf="userPermissions.partner_map" style="width: 150px">
              MAP
            </th>
            <th class="text-center" style="width: 150px">Product Status</th>
            <th style="width: 150px">Inventory Status</th>
            <th nzRight class="action-column"><div>Action</div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data; let no = index">
            <td>{{ data.mpn }}</td>
            <td>{{ data?.upc }}</td>
            <td style="width: 150px">{{ data.asin }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.brand }}</td>
            <td style="width: 150px">{{ data.unit_price | currency }}</td>
            <td *ngIf="userPermissions.partner_map" style="width: 150px">
              {{ data.map_price | currency }}
            </td>
            <td class="text-center" style="width: 150px">
              <app-status-badge
                *ngIf="data.product_status === 'Active'"
                [type]="statusEnum.Success"
                [text]="data.product_status"
              ></app-status-badge>
              <app-status-badge
                *ngIf="
                  data.product_status === 'Discontinued' ||
                  data.product_status === 'LTL' ||
                  data.product_status === 'Restricted'
                "
                [type]="statusEnum.Hold"
                [text]="data.product_status"
              ></app-status-badge>
              <app-status-badge
                *ngIf="data.product_status === 'Suppressed'"
                [type]="statusEnum.Failure"
                [text]="data.product_status"
              ></app-status-badge>
            </td>
            <td style="width: 150px">{{ data.inventory_status }}</td>
            <td nzRight style="width: 50px">
              <!-- <a style="margin: 0 5px; color: #2121c3"
                ><span nz-icon nzType="edit" nzTheme="outline"></span
              ></a> -->
              <a
                (click)="navigatePage('products/details/' + data.sku)"
                style="margin: 0 5px; color: #2121c3; font-size: large"
                ><span nz-icon nzType="eye" nzTheme="outline"></span
              ></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider nzText="Product Status" nzOrientation="left"></nz-divider>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select A Product Status"
          (ngModelChange)="
            change(filter.value.productStatus ? $event : '', 'status')
          "
          formControlName="productStatus"
        >
          <nz-option nzLabel="Active" nzValue="Active"></nz-option>
          <nz-option nzLabel="Discontinued" nzValue="Discontinued"></nz-option>
          <nz-option nzLabel="LTL" nzValue="LTL"></nz-option>
          <nz-option nzLabel="Restricted" nzValue="Restricted"></nz-option>
          <nz-option nzLabel="Supressed" nzValue="Supressed"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Inventory Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select A Product Status"
          (ngModelChange)="
            change(filter.value.inventory ? $event : '', 'inventory')
          "
          formControlName="inventory"
        >
          <nz-option nzLabel="In Stock" nzValue="In Stock"></nz-option>
          <nz-option nzLabel="Low Stock" nzValue="Low Stock"></nz-option>
          <nz-option nzLabel="Out of Stock" nzValue="Out of Stock"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Brand"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          (ngModelChange)="change(filter.value.brand ? $event : '', 'brand')"
          formControlName="brand"
          nzPlaceHolder="Select a Brand"
        >
          <nz-option
            *ngFor="let item of listOfBrand"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Collection"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a Collection"
          (ngModelChange)="
            change(filter.value.collection ? $event : '', 'collection')
          "
          formControlName="collection"
        >
          <nz-option
            *ngFor="let item of listOfCollection"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Product Category"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a Product Category"
          (ngModelChange)="
            change(filter.value.category ? $event : '', 'category')
          "
          formControlName="category"
        >
          <nz-option
            *ngFor="let item of listOfProductCategory"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Sales Tier"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a Sales Tier"
          (ngModelChange)="
            change(filter.value.salesTire ? $event : '', 'salesTire')
          "
          formControlName="salesTire"
        >
          <nz-option
            *ngFor="let item of listOfSalesTier"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </div>

  <nz-modal
    [(nzVisible)]="isDownloadVisible"
    nzTitle="Which Products would you like to export?"
    (nzOnCancel)="handleCancel('download')"
    (nzOnOk)="handleOk('download')"
  >
    <ng-container *nzModalContent>
      <app-export-model
        [exportType]="exportType"
        [sectionName]="'product'"
        [listOfFilter]="listOfFilter"
        [noOfFilter]="total"
        (close)="handleCancel('download')"
      ></app-export-model>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isUploadVisible"
    nzTitle="Upload"
    (nzOnCancel)="handleCancel('upload')"
  >
    <ng-container *nzModalContent>
      <app-upload-model
        (closeModel)="handleCancel('upload')"
      ></app-upload-model>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isImportVisible"
    nzTitle="Edit Products"
    (nzOnCancel)="handleCancel('import')"
  >
    <ng-container *nzModalContent>
      <app-edit-multiple-products
        [actionType]="'Edit'"
        (closeModel)="closeMultiProduct($event)"
      ></app-edit-multiple-products>
    </ng-container>
  </nz-modal>

  <app-show-reference-code
    [isVisible]="isVisible"
    [referenceCode]="referenceCode"
  ></app-show-reference-code>
</div>
