<div class="all-return-section">
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="returnInitiatedList"
    nzTableLayout="fixed"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>PO</th>
        <th>Invoice</th>
        <th>Customer Name</th>
        <th>Return Classification</th>
        <th>MPN</th>
        <th>RA Number</th>
        <th>Tracking No.</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="returnInitiatedList">
        <tr>
          <td>
            <a style="color: #1221c3"
              ><u
                ><b>{{ data?.po }}</b></u
              ></a
            >
          </td>
          <td>{{ data?.invoice }}</td>
          <td>{{ data?.customerName }}</td>
          <td>{{ data?.returnClassification }}</td>
          <td>
            <div>
              <b>{{ data?.mpn }}</b>
            </div>
            <div>{{ data?.orderQty }}</div>
            <div>{{ data?.returnQty }}</div>
          </td>
          <td>
            <span *ngFor="let ra of data?.raNumber">
              <div>
                <b>{{ ra?.name }}</b>
              </div>
              <div>{{ ra?.number }}</div>
            </span>
          </td>
          <td>
            <div>
              <b>{{ data?.trackingNo?.name }}</b>
            </div>
            <div>{{ data?.trackingNo?.number }}</div>
          </td>
          <td>
            {{ data?.status }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>
