<div #section class="cancellation-requested-section">
  <div #content class="body-section">
    <div class="header-section">
      <div class="date-range">
        <nz-range-picker
          [nzRanges]="ranges"
          ngModel
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
      </div>
      <div class="filter">
        <nz-badge [nzShowZero]="false" [nzCount]="badgeTotal">
          <button
            (click)="openNav()"
            nz-button
            nzType="primary"
            nzShape="round"
          >
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-badge>
      </div>
    </div>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <nz-tag
        *ngIf="selectStatus"
        nzMode="closeable"
        (nzOnClose)="close('status')"
        >{{ selectStatus }}</nz-tag
      >

      <button
        *ngIf="badgeTotal >= 1"
        nz-button
        nzType="default"
        (click)="tagRemove()"
        nzShape="round"
        style="
          float: none;
          background-color: white;
          color: #1221c3;
          border: 1px solid #1221c3;
        "
        class="action-button clear-btn"
      >
        clear
      </button>
    </div>
    <nz-table
      #nzTable
      
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzData]="cancellationRequestedData"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>PO #</th>
          <th>Customer Name</th>
          <th>Products</th>
          <th>PO Total</th>
          <th>Committed Ship Date</th>
          <th>Cancel After Date</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>
            <a style="color: #1221c3"
              ><u
                ><b>{{ data.poNumber }}</b></u
              ></a
            >
          </td>
          <td>{{ data.customerName }}</td>
          <td>{{ data.products }}</td>
          <td>$ {{ data.poTotal }}</td>
          <td>{{ data.committedShip }}</td>
          <td>{{ data.afterDate }}</td>
          <td style="display: flex">
            <button class="action-button" nz-button nzType="primary">
              Accept
            </button>
            <button class="action-button" nz-button nzType="primary">
              Already Shipped
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider nzText="Status" nzOrientation="left"></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A status"
          formControlName="status"
          (ngModelChange)="change(filter.value.status ? $event : '')"
        >
          <nz-option nzLabel="Accepted" nzValue="Accepted"></nz-option>
          <nz-option
            nzLabel="Already Shipped"
            nzValue="Already Shipped"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </div>
</div>
