<div #section class="cancellation-requested-section">
  <div class="body-section">
    <app-date-range
      (modelChange)="onChange($event)"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
    ></app-date-range>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectStatus]="selectStatus"
      ></app-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzData]="cancellationRequestedData"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>PO #</th>
          <th>Customer Name</th>
          <th>Products</th>
          <th>PO Total</th>
          <th>Committed Ship Date</th>
          <th>Cancel After Date</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>
            <a style="color: #1221c3"
              ><u
                ><b>{{ data.poNumber }}</b></u
              ></a
            >
          </td>
          <td>{{ data.customerName }}</td>
          <td>
            <div>
              <b class="no-wrap">{{ data?.products }}</b>
            </div>
            <ul class="sub-section">
              <li class="no-wrap">
                <div class="sub-val">
                  <span class="title">Qty&nbsp;&nbsp;-&nbsp;</span
                  >{{ data?.qty }}
                </div>
              </li>
            </ul>
          </td>
          <td>{{ data.poTotal | currency }}</td>
          <td>{{ data.committedShip }}</td>
          <td>{{ data.afterDate }}</td>
          <td style="display: flex">
            <button class="action-button" nz-button nzType="primary">
              Accept
            </button>
            <button class="action-button" nz-button nzType="primary">
              Already Shipped
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [status]="selectStatus"
      [tabName]="'cancellationRequested'"
    ></app-filter-section>
  </div>
</div>
