<app-breadcrumb></app-breadcrumb>

<div class="unit-price-conflict-section">
  <app-section-header [header]="'Unit Price Conflict'"></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'Unit Price Conflict'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'Unit Price Conflict'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="unitPriceConflictList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th style="max-width: 50px">Sr. No.</th>
          <th>Amazon ASIN</th>
          <th>Unit Price provided to 123Stores</th>
          <th>Allowance provided to 123Stores</th>
          <th>Net Unit Price provided to 123Stores</th>
          <th>Retail Price on Amazon offered by Conflicting Provider</th>
          <th>No. of Conflicting Providers</th>
          <th>Conflicting Providers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>{{ no + 1 }}</td>
          <td>{{ data?.asin }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td>{{ data?.unitPriceProvidedTo123Stores | currency }}</td>
          <td>{{ data?.allowanceProvidedTo123Stores }}</td>
          <td>{{ data?.netUnitPriceProvidedTo123Stores | currency }}</td>
          <td>
            {{
              data?.retailPriceOnAmazonOfferedByConflictingProvider | currency
            }}
          </td> -->
          <td>{{ data?.no_of_other_sellers }}</td>
          <td>
            <span *ngFor="let value of data.other_sellers; let sr = index"
              >{{ value
              }}{{ data.other_sellers.length - 1 !== sr ? "," : "" }}</span
            >
          </td>
          <td>
            <button
              nz-button
              nzType="primary"
              class="action-button"
              style="margin-top: 0; height: 35px"
            >
              Match
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
</div>
