<div class="scheduled-promotions-section">
  <!-- <div class="action">
    <nz-badge
      style="margin-right: 10px"
      [nzShowZero]="false"
      [nzCount]="badgeTotal"
    >
      <button (click)="openNav()" nz-button nzType="primary" nzShape="round">
        <span nz-icon nzType="filter" nzTheme="outline"></span>
        Filter
      </button>
    </nz-badge>
    <button
      style="margin-right: 10px"
      nz-button
      nzType="primary"
      nzShape="round"
    >
      <span nz-icon nzType="upload" nzTheme="outline"></span> Export
    </button>
    <form nz-form [formGroup]="searchForm">
      <nz-form-item style="margin-bottom: 0 !important">
        <nz-form-control nzErrorTip="Please input your valid code!">
          <nz-input-group nzPrefixIcon="search" class="search">
            <input
              (keyup)="accountSearch.next($event)"
              formControlName="search"
              nz-input
              placeholder="Search..."
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div> -->

  <app-promotion-table
    [listOfData]="scheduledPromotionsList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'Scheduled Promotions'"
    (action)="editEndDate($event)"
    (pageChange)="pageIndexChange($event)"
  ></app-promotion-table>

  <nz-modal
    [(nzVisible)]="addEndDateVisible"
    nzTitle="Add End Date"
    (nzOnCancel)="addEndDateVisible = false"
  >
    <ng-container *nzModalContent>
      <div class="model-section">
        <form nz-form [formGroup]="addDateForm">
          <nz-form-item>
            <nz-form-label [nzXs]="5" nzRequired>End Date</nz-form-label>
            <nz-date-picker formControlName="endDate"></nz-date-picker>
          </nz-form-item>
        </form>
      </div>
      <div class="model-footer">
        <div class="model-action">
          <button
            nz-button
            nzType="default"
            style="color: black; margin-right: 5px"
            (click)="addEndDateVisible = false"
          >
            Cancel
          </button>
          <button
            nz-button
            class="action-button"
            (click)="submitForm()"
            [nzType]="'primary'"
            style="height: 35px; margin-top: 0px; margin-right: 10px"
          >
            <span
              *ngIf="isLoading"
              style="color: white; font-size: 16px"
              nz-icon
              nzType="loading"
            ></span>
            <span
              *ngIf="!isLoading"
              nz-icon
              nzType="file-text"
              nzTheme="outline"
            ></span>
            Save
          </button>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
