<app-breadcrumb></app-breadcrumb>

<div class="products-losing-importance-on-amazon-section">
  <app-section-header
    [modifyLable]="true"
    [header]="'A22'"
  ></app-section-header>

  <div class="body-section">
    <app-home-header
      [description]="description"
      [tabName]="'A22'"
    ></app-home-header>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      [issueName]="'15'"
      [code]="code"
      (search)="searchValue($event)"
    ></app-home-filter-action>
    <!-- (showFilter)="openNav()" -->

    <!-- <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div> -->

    <app-recommendation-issue-table
      [listOfData]="productsLosingImportanceOnAmazonList"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [isLoading]="isLoading"
      [tabName]="'Products Losing Importance On Amazon'"
      (changePages)="pageIndexChange($event)"
    ></app-recommendation-issue-table>

    <!-- <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Products Losing Importance On Amazon'"
      ></app-home-filter-section>
    </div> -->
  </div>
</div>
