 @import'../../../../../assets/variable/variable.scss';

 .asc-form-section {
     border: 0 solid rgba(0, 0, 0, 0.125);
     background-color: $white;
     background-clip: border-box;
     border-radius: 5px;
     height: 85vh;

     ::ng-deep .ant-divider-horizontal {
         margin: 0;
     }

     .user-content {
         border: 0 solid rgba(0, 0, 0, 0.125);
         background-color: $white;
         background-clip: border-box;
         border-radius: 5px;
         margin-top: 10px;
         background-color: $white;

         .table-layout {
             padding: 15px;
         }
     }

     .body-section {
         padding: 24px;

         form {
             width: 40%;
             padding: 0 2px;

             nz-form-label {
                 font-size: 16px !important;
                 font-weight: 700 !important;
                 padding-bottom: 2px;
             }

             ::ng-deep .ant-input-prefix {
                 font-size: x-large;
                 margin-right: 10px;
             }

             ::ng-deep .ant-input {
                 border-radius: 5px !important;
             }

             ::ng-deep .ant-form-item {
                 margin-bottom: 10px;
             }

             nz-input-group {
                 border-radius: 5px;

                 input {
                     height: 40px;
                     font-size: 16px;
                 }
             }

             button {
                 width: 100%;
                 margin-top: 10px;
             }
         }
     }
 }
