<div class="asc-form-section">
  <div class="heading-section">
    <div class="header">ASC Set Up</div>
    <div class="back-button">
      <button
        (click)="backButton()"
        nz-icon
        nzType="close"
        nzTheme="outline"
      ></button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="body-section">
    <form nz-form [formGroup]="ascSetupForm">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="nameOfAccount">
          <nz-form-label nzFor="name_of_account"
            >Name Of Account<span style="color: red; font-weight: 500">*</span>
          </nz-form-label>
          <span
            nzTooltipTitle="Account Holder Name must match the name on 
            your bank account. Do not include the name of your bank 
            itself. Example: John Doe or Company XYZ. Match what your 
            bank has on file using ISO basic Latin characters. This 
            information must be accurate in order to receive your 
            payments."
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
          <nz-input-group>
            <input
              formControlName="name_of_account"
              type="text"
              nz-input
              placeholder="Insert text hear"
            />
            <ng-template #nameOfAccount let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 1 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 22 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your name of account!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input valid name of account!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="accountNumber!">
          <nz-form-label nzFor="account number"
            >Account Number<span style="color: red; font-weight: 500">*</span>
          </nz-form-label>
          <span
            nzTooltipTitle="Your account must be enabled to receive deposits 
            through the Automated Clearing House (ACH). Please contact 
            your bank for assistance. (Up to 17 digits)"
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
          <nz-input-group>
            <input
              formControlName="account_number"
              type="text"
              nz-input
              placeholder="Insert text hear"
            />
            <ng-template #accountNumber let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 4 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 17 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your account number!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input only number!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="reTypeAccountNumber ? 'error' : ''"
        >
          <nz-form-label nzFor="re_type_account_number"
            >Re-Type Account Number
          </nz-form-label>
          <span
            nzTooltipTitle="not needed"
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
          <nz-input-group>
            <input
              formControlName="re_type_account_number"
              type="text"
              nz-input
              placeholder="Insert text hear"
              (input)="reTypeAccount($event)"
            />
            <span *ngIf="reTypeAccountNumber" style="color: red"
              >Account Number is not match!</span
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="bankName">
          <nz-form-label nzFor="bank_name"
            >Bank Name<span style="color: red; font-weight: 500">*</span>
          </nz-form-label>
          <span
            nzTooltipTitle="Enter your US bank name (e.g., Bank of America, 
            Chase, Wells Fargo) for accurate deposit processing."
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
          <nz-input-group>
            <input
              formControlName="bank_name"
              type="text"
              nz-input
              placeholder="Insert text hear"
            />
            <ng-template #bankName let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 4 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 30 character!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your bank name!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input valid bank name!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="routingTransferNumber">
          <nz-form-label nzFor="routing_transfer_number"
            >Routing Transfer Number<span style="color: red; font-weight: 500"
              >*</span
            >
          </nz-form-label>
          <span
            nzTooltipTitle="(Federal ABA Number) Provide a routing number 
            for Automated Clearing House (ACH) or electronic funds 
            transfers instead of wire transfers. Please contact your bank 
            for assistance."
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
          <nz-input-group>
            <input
              formControlName="routing_transfer_number"
              type="text"
              nz-input
              placeholder="Insert text hear"
            />
            <ng-template #routingTransferNumber let-control>
              <ng-container *ngIf="control.hasError('minlength')"
                >Please input minimum 9 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('maxlength')"
                >Please input maximum 9 number!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your routing transfer number!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Please input only number!</ng-container
              >
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        (click)="submitForm()"
        [disabled]="!ascSetupForm.valid || reTypeAccountNumber"
      >
        Submit
      </button>
    </form>
  </div>
</div>
