<nz-breadcrumb style="margin-bottom: 16px; margin-left: 8px">
  <nz-breadcrumb-item>
    <a (click)="backButton('dashboard')">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Incomplete Offer</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="incomplete-offer-section">
  <div class="user-content">
    <div class="tab-header">
      <span>Incomplete Offer</span>
    </div>
  </div>
  <div class="body-section">
    <div class="button-group">
      <button
        nz-button
        nzType="primary"
        class="action-button"
        style="margin-top: 0"
        (click)="isMultipleProductsVisible = true"
      >
        <span nz-icon nzType="plus"></span> Add Multi Product Edit
      </button>
    </div>

    <app-home-filter-action
      [badgeTotal]="badgeTotal"
      (showFilter)="openNav()"
      [issueName]="'Handling Time Conflict'"
    ></app-home-filter-action>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-home-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="removeAll()"
        [badgeTotal]="badgeTotal"
        [selectInventory]="selectInventory"
        [selectAsin]="selectAsin"
        [selectStatus]="selectStatus"
        [selectMap]="selectMap"
        [selectBrand]="selectBrand"
        [selectCollection]="selectCollection"
        [selectCategory]="selectCategory"
        [selectSalesTire]="selectSalesTire"
      ></app-home-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzOuterBordered
      [nzData]="incompleteOfferList"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>MPN</th>
          <th>UPC</th>
          <th>Product_Name</th>
          <th>Amazon ASIN</th>
          <th>Amazon MPN</th>
          <th>Amazon Page Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>{{ no + 1 }}</td>
          <td>{{ data?.mpn }}</td>
          <td>{{ data?.upc }}</td>
          <td>{{ data?.product_Name }}</td>
          <td>{{ data?.amazonASIN }}</td>
          <td>{{ data?.amazonMPN }}</td>
          <td>{{ data?.amazonPageTitle }}</td>
        </tr>
      </tbody>
    </nz-table>

    <div #mySidenav class="filter-section">
      <app-home-filter-section
        (toggleFilter)="closeNav()"
        (changeData)="change($event)"
        [inventory]="selectInventory"
        [asin]="selectAsin"
        [status]="selectStatus"
        [map]="selectMap"
        [brand]="selectBrand"
        [collection]="selectCollection"
        [category]="selectCategory"
        [salesTire]="selectSalesTire"
        [issueName]="'Handling Time Conflict'"
      ></app-home-filter-section>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isMultipleProductsVisible"
    nzTitle="Import  product to your store"
    (nzOnCancel)="isMultipleProductsVisible = false"
  >
    <ng-container *nzModalContent>
      <app-add-edit-multiple-products
        (closeModel)="isMultipleProductsVisible = false"
      ></app-add-edit-multiple-products>
    </ng-container>
  </nz-modal>
</div>
