<div #section class="all-order-section">
  <div class="body-section">
    <app-date-range
      (modelChange)="onChange($event)"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
    ></app-date-range>
    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectLocation]="selectLocation"
        [selectSku]="selectSku"
        [selectCarrier]="selectCarrier"
        [selectDate]="selectDate"
        [selectStatus]="selectStatus"
      ></app-filter-tag>
    </div>

    <app-order-table
      [listOfData]="allOrdersData"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [isLoading]="isLoading"
      [tabName]="'All'"
    ></app-order-table>
  </div>

  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [shipOutLocation]="selectLocation"
      [sku]="selectSku"
      [carrier]="selectCarrier"
      [committedShipDate]="selectDate"
      [status]="selectStatus"
      [tabName]="'allOrders'"
    ></app-filter-section>
  </div>
</div>
