 @import'../../../../../../assets/variable/variable.scss';

 .return-setting-section {
     border: 0 solid rgba(0, 0, 0, 0.125);
     background-color: $white;
     background-clip: border-box;
     border-radius: 5px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
