<div class="recommendation-issue-table">
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="listOfData"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>MPN</th>
        <th>UPC</th>
        <th>ASIN</th>
        <th>Product Name</th>
        <th>Partner Unit Price provided to 123Stores</th>
        <th>Allowances</th>
        <th>Shipping Price</th>
        <th>Amazon Market Place Fees</th>
        <th>123Stores Listed Price</th>
        <th *ngIf="tabName === 'Price Correction'">
          Retail Price on Amazon offered by Conflicting Provider
        </th>
        <th *ngIf="tabName === 'Lack Of Sales Demand'">Required Unit Price</th>
        <th
          *ngIf="
            tabName === 'Price Correction' ||
            tabName === 'Products Losing Importance On Amazon'
          "
        >
          Required Unit Price to match Retail Price on Amazon
        </th>
        <th
          *ngIf="
            tabName === 'Lack Of Sales Demand' ||
            tabName === 'Price Correction' ||
            tabName === 'Products Losing Importance On Amazon'
          "
        >
          Discount or Promotion Required
        </th>
        <th *ngIf="tabName === 'Shipping Label'">Potential Shipping Price</th>
        <th *ngIf="tabName === 'Shipping Label'">
          Potential 123Stores Listed Price
        </th>
        <th *ngIf="tabName === 'Shipping Label'">
          Potential Retail Price Reduction
        </th>
        <th *ngIf="tabName === 'Shipping Label'">
          Potential Retail Price Reduction %
        </th>
        <th nzRight class="action-column"><div>Action</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let no = index">
        <td>
          <a
            class="link"
            [routerLink]="'/main/products/details/' + data?.mpn"
            >{{ data?.mpn }}</a
          >
        </td>
        <td>{{ data?.upc }}</td>
        <td>
          <a class="link" (click)="navigateAsin(data?.asin)">{{
            data?.asin
          }}</a>
        </td>
        <td>{{ data?.name }}</td>
        <td>{{ data?.unit_price | currency }}</td>
        <td>{{ data?.allowance_price | currency }}</td>
        <td>{{ data?.shipping_price | currency }}</td>
        <td>{{ data?.market_commission | currency }}</td>
        <td>{{ data?.listed_price | currency }}</td>
        <td *ngIf="tabName === 'Price Correction'">
          {{ data?.other_seller_retail_price | currency }}
        </td>
        <td *ngIf="tabName === 'Lack Of Sales Demand'">
          {{ data?.required_unit_price | currency }}
        </td>
        <td
          *ngIf="
            tabName === 'Price Correction' ||
            tabName === 'Products Losing Importance On Amazon'
          "
        >
          {{ data?.required_unit_price | currency }}
        </td>
        <td
          *ngIf="
            tabName === 'Lack Of Sales Demand' ||
            tabName === 'Price Correction' ||
            tabName === 'Products Losing Importance On Amazon'
          "
        >
          {{ data?.discount_required }}
        </td>
        <td *ngIf="tabName === 'Shipping Label'">
          {{ data?.potential_shipping_price | currency }}
        </td>
        <td *ngIf="tabName === 'Shipping Label'">
          {{ data?.potential_listed_price | currency }}
        </td>
        <td *ngIf="tabName === 'Shipping Label'">
          {{ data?.potential_retail_price_reduction | currency }}
        </td>
        <td *ngIf="tabName === 'Shipping Label'">
          {{ data?.potential_retail_price_reduction_percentage }}
        </td>
        <td nzRight>
          <div style="display: flex; align-items: center">
            <a
              (click)="matchValue(data.mpn, data.unit_price)"
              style="margin: 0 5px; color: #2121c3; font-size: large"
              ><span nz-icon nzType="edit" nzTheme="outline"></span
            ></a>
          </div>
          <!-- <button
            nz-button
            nzType="primary"
            class="action-button"
            style="margin-top: 0"
            (click)="matchValue(data.mpn, data.unit_price)"
          >
            {{ tabName === "Shipping Label" ? "Match" : "Edit Unit Price" }}
          </button> -->
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div *ngIf="isVisible">
    <app-edit-time
      [isVisible]="isVisible"
      [editData]="editData"
      [editLabel]="editLabel"
      [section]="'Unit Price'"
      (close)="isVisible = false"
    ></app-edit-time>
  </div>
</div>
