<div class="export-model">
  <div style="padding: 15px">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-radio-group style="display: grid" [(ngModel)]="exportType">
            <label nz-radio nzValue="A">All</label>
            <label nz-radio nzValue="B">Filtered (x)</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <h4 style="margin-top: 12px">
      {{
        description
          ? description
          : "Your Products will be exported as a CSV file and sent to your email."
      }}
    </h4>
  </div>
  <div class="model-footer">
    <div class="model-action" style="padding: 15px">
      <button
        nz-button
        nzType="default"
        style="color: black; margin-right: 5px"
        (click)="handleCancel()"
      >
        Cancel
      </button>
      <button nz-button class="action-button" [nzType]="'primary'">
        Export
      </button>
    </div>
  </div>
</div>
