@import '../../../assets/variable/variable.scss';

.export-model {
    .action-button {
        margin-top: 0 !important;
        width: 90px;
    }

    .model-footer {
        padding: 0 !important;
    }
}
