/* You can add global styles to this file, and also import other style files */
@import'./assets/variable/variable.scss';

.tab-header {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $border;
    // background-color: $header-of-tab;
    color: $black;
    padding: 0.50rem 1rem;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    height: 47px;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $gray;
}
