/* You can add global styles to this file, and also import other style files */
@import'./assets/variable/variable.scss';

.tab-header {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $border;
    // background-color: $header-of-tab;
    color: $black;
    padding: 0.50rem 1rem;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    height: 47px;
}

// Model Footer
.model-footer {
    padding: 0.75rem 0;

    .model-action {
        padding-top: 10px;
        padding-left: 23px;
        border-top: 1px solid $border;
        display: flex;
        align-items: center;
        // justify-content: end;

        button {
            color: $white;
            font-weight: 400;
            border-radius: 4px;
            // padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            height: 35px !important;
        }

        .action-btn {
            background-color: $darkBlue ;
            border: none;
            margin-right: 24px;
        }

        button:hover {
            color: $white;
        }

        .button-disabled,
        .button-disabled:hover {
            background: $darkBlue;
            opacity: 0.8;
        }
    }
}



.action-button,
.action-button:hover {
    background-color: $darkBlue;
    color: $white;
    // float: right;
    border: none;
    color: $white;
    font-weight: 400;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 14px !important;
    line-height: 1.5;
    height: 35px;
    margin-top: 10px;
}

.sub-section {
    margin-bottom: 4px;
    padding-left: 15px;

    .sub-val {
        font-size: 12px;

        .title {
            font-weight: 500;
        }
    }
}

.sub-date {
    font-size: 12px;
    font-weight: 500;
}

::ng-deep .ant-pagination-item-active a {
    color: $darkBlue !important;
}

::ng-deep .ant-pagination-item-active {
    border-color: $darkBlue !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $gray;
}

// table header
.ant-table-thead>tr>th {
    border-top: 3px solid #2121c3;
    background-color: rgba(33, 33, 195, 0.08) !important;
}
