<app-breadcrumb></app-breadcrumb>

<div class="view-single-product-section">
  <app-section-header [header]="'Product Details'"></app-section-header>

  <div class="body-section">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Details">
        <app-add-edit-product [editSection]="true"></app-add-edit-product>
      </nz-tab>
      <nz-tab nzTitle="Insights / Analytics">
        <app-insights-and-analytics></app-insights-and-analytics>
      </nz-tab>
      <nz-tab nzTitle="History"> <app-history></app-history></nz-tab>
    </nz-tabset>
  </div>
</div>
