<div class="profile-section">
  <app-section-header [header]="'Profile'"></app-section-header>

  <div class="body-section" nz-row>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="hdd" class="card-icon"></span>
            <span class="card-title">Company</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('company/company-profile')"
            ><li nz-submenu nzTitle="Company Profile"></li
          ></a>
          <!-- <a href=""><li nz-submenu nzTitle="Company Profile"></li></a> -->
          <a (click)="navigate('company/w9-setup')"
            ><li nz-submenu nzTitle="W9 Set up"></li
          ></a>
          <a (click)="navigate('company/certi-of-insu')"
            ><li nz-submenu nzTitle=" Certificate of Insurance"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="home" class="card-icon"></span>
            <span class="card-title">Order processing</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a
            (click)="
              navigate('order-processing/po-label-and-invoice-preferences')
            "
            ><li nz-submenu nzTitle="PO, Label and Invoice Preferences"></li
          ></a>
          <a (click)="navigate('order-processing/manage-pickup-address')"
            ><li
              nz-submenu
              nzTitle="Shipout Location/Manage pickup Address"
            ></li
          ></a>
          <a (click)="navigate('order-processing/courier-preferences')"
            ><li nz-submenu nzTitle="Courier Preferences"></li
          ></a>
          <a (click)="navigate('order-processing/holidays')"
            ><li nz-submenu nzTitle="Holidays"></li
          ></a>
          <!-- <a href=""
            ><li nz-submenu nzTitle="Invoice Set-up/Prefernaces"></li
          ></a> -->
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="dollar" class="card-icon"></span>
            <span class="card-title">Catalog & feed (inventory)</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('catalog-feed/catalog-preferences')"
            ><li nz-submenu nzTitle="Catalog prefernaces"></li
          ></a>

          <a (click)="navigate('catalog-feed/feed-preferences')"
            ><li nz-submenu nzTitle="Feed prefernaces"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="file" class="card-icon"></span>
            <span class="card-title">Return</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('return/return-setting')"
            ><li nz-submenu nzTitle="Return settings/Prefernace"></li
          ></a>
          <a (click)="navigate('return/return-location')"
            ><li nz-submenu nzTitle="Return Location/Address"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="user-delete" class="card-icon"></span>
            <span class="card-title">Allowances</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('allowances/rebate')"
            ><li nz-submenu nzTitle="Rebate"></li
          ></a>
          <a (click)="navigate('allowances/co-op')"
            ><li nz-submenu nzTitle="Co-op"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="book" class="card-icon"></span>
            <span class="card-title">Payments</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('payment/ach-section')"
            ><li nz-submenu nzTitle="ACH Set Up / Verification"></li
          ></a>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="8" [nzXl]="5">
      <nz-card>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="bell" class="card-icon"></span>
            <span class="card-title">Communications</span>
          </li>
        </ul>
        <nz-divider></nz-divider>
        <ul nz-menu>
          <a (click)="navigate('communications/contact-preferences')"
            ><li nz-submenu nzTitle="Contact preferences"></li
          ></a>
          <a (click)="navigate('communications/notification-preferences')"
            ><li nz-submenu nzTitle="Notification preferences"></li
          ></a>
        </ul>
      </nz-card>
    </div>
  </div>
</div>
