<div #section class="pending-shipment-section">
  <div #content class="body-section">
    <div class="header-section">
      <div class="date-range">
        <nz-range-picker
          [nzRanges]="ranges"
          ngModel
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
      </div>
      <div class="filter">
        <nz-badge [nzShowZero]="false" [nzCount]="badgeTotal">
          <button nz-button nzType="primary" nzShape="round">
            <!-- (click)="openNav()" -->
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-badge>
      </div>
    </div>

    <!-- <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <nz-tag
        *ngIf="selectLocation"
        nzMode="closeable"
        (nzOnClose)="close('shipOutLocation')"
        >{{ selectLocation }}</nz-tag
      >
      <nz-tag *ngIf="selectSku" nzMode="closeable" (nzOnClose)="close('sku')">{{
        selectSku
      }}</nz-tag>

      <nz-tag
        *ngIf="selectCarrier"
        nzMode="closeable"
        (nzOnClose)="close('carrier')"
        >{{ selectCarrier }}</nz-tag
      >
      <nz-tag
        *ngIf="selectDate"
        nzMode="closeable"
        (nzOnClose)="close('committedShipDate')"
        >{{ selectDate }}</nz-tag
      >
      <button
        *ngIf="badgeTotal >= 1"
        nz-button
        nzType="default"
        (click)="tagRemove()"
        nzShape="round"
        style="
          float: none;
          background-color: white;
          color: #1221c3;
          border: 1px solid #1221c3;
        "
        class="action-button clear-btn"
      >
        clear
      </button>
    </div> -->
    <nz-table
      #nzTable
      nzTableLayout="fixed"
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzData]="pendingShipmentData"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>PO Number</th>
          <th>Customer Name</th>
          <th>Products</th>
          <th>PO Total</th>
          <th>Committed Ship Date</th>
          <th>Cancel After Date</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>{{ data.poNumber }}</td>
          <td>{{ data.customerName }}</td>
          <td>{{ data.products }}</td>
          <td>$ {{ data.poTotal }}</td>
          <td>{{ data.committedShip }}</td>
          <td>{{ data.afterDate }}</td>
          <td style="display: flex">
            <button class="action-button" nz-button nzType="primary">
              Mark as shipped
            </button>
            <button
              nz-button
              nz-dropdown
              [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"
              nzShape="round"
              style="color: #1221c3"
            >
              <span nz-icon nzType="more" nzTheme="outline"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Download PO</li>
                <li nz-menu-item>Download Label</li>
                <li (click)="isCancelOrderVisible = true" nz-menu-item>
                  Cancel Order
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider
          nzText="Ship Out Locations"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Location"
          formControlName="shipOutLocation"
          (ngModelChange)="
            change(
              filter.value.shipOutLocation ? $event : '',
              'shipOutLocation'
            )
          "
        >
          <nz-option nzLabel="Ahmadabad" nzValue="ahmadabad"></nz-option>
          <nz-option nzLabel="Surat" nzValue="surat"></nz-option>
          <nz-option nzLabel="Rajkot" nzValue="rajkot"></nz-option>
          <nz-option nzLabel="Bhavnagar" nzValue="bhavnagar"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="SKU"
          nzOrientation="left"
        ></nz-divider>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                formControlName="sku"
                type="text"
                nz-input
                placeholder="Enter SKU"
                (input)="
                  change(filter.value.sku ? filter.value.sku : '', 'sku')
                "
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-divider nzText="Carrier " nzOrientation="left"></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Carrier "
          formControlName="carrier"
          (ngModelChange)="
            change(filter.value.carrier ? $event : '', 'carrier')
          "
        >
          <nz-option nzLabel="Carrier 1" nzValue="carrier1"></nz-option>
          <nz-option nzLabel="Carrier 2" nzValue="carrier2"></nz-option>
          <nz-option nzLabel="Carrier 3" nzValue="carrier3"></nz-option>
        </nz-select>

        <nz-divider
          nzText="Committed Ship Date"
          nzOrientation="left"
        ></nz-divider>
        <nz-range-picker
          formControlName="committedShipDate"
          (ngModelChange)="
            change(
              filter.value.committedShipDate ? $event : '',
              'committedShipDate'
            )
          "
          [nzShowWeekNumber]="false"
        ></nz-range-picker>
      </div>
    </form>
  </div> -->
</div>

<nz-modal
  [(nzVisible)]="isCancelOrderVisible"
  nzTitle="Cancel Order"
  (nzOnCancel)="isCancelOrderVisible = false"
>
  <ng-container *nzModalContent>
    <app-cancel-order
      (closeModel)="isCancelOrderVisible = false"
    ></app-cancel-order>
  </ng-container>
</nz-modal>
