<div #section class="pending-shipment-section">
  <div class="body-section">
    <app-date-range
      (modelChange)="onChange($event)"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
    ></app-date-range>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectLocation]="selectLocation"
        [selectDate]="selectDate"
        [selectStatus]="selectStatus"
      ></app-filter-tag>
    </div>

    <nz-table
      #nzTable
      nzShowSizeChanger
      [nzPageSizeOptions]="pageSizeOptions"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      [nzData]="pendingShipmentData"
      [nzScroll]="{ x: '100%' }"
    >
      <thead>
        <tr>
          <th>PO #</th>
          <th>Customer Name</th>
          <th>Products</th>
          <th>PO Total</th>
          <th>Committed Ship Date</th>
          <th>Cancel After Date</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>
            <a style="color: #1221c3"
              ><u
                ><b>{{ data.poNumber }}</b></u
              ></a
            >
          </td>
          <td>{{ data.customerName }}</td>
          <td>{{ data.products }}</td>
          <td>$ {{ data.poTotal }}</td>
          <td>{{ data.committedShip }}</td>
          <td>{{ data.afterDate }}</td>
          <td>
            <div style="display: flex; align-items: center">
              <button class="action-button" nz-button nzType="primary">
                Mark as shipped
              </button>
              <app-three-dot-menu-btn [menu]="menu"></app-three-dot-menu-btn>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Download PO</li>
                  <li nz-menu-item>Download Label</li>
                  <li (click)="isCancelOrderVisible = true" nz-menu-item>
                    Cancel Order
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [shipOutLocation]="selectLocation"
      [status]="selectStatus"
      [committedShipDate]="selectDate"
      [tabName]="'pendingShipment'"
    ></app-filter-section>
    <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider
          nzText="Ship Out Locations"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A Location"
          formControlName="shipOutLocation"
          (ngModelChange)="
            change(
              filter.value.shipOutLocation ? $event : '',
              'shipOutLocation'
            )
          "
        >
          <nz-option nzLabel="Ahmadabad" nzValue="ahmadabad"></nz-option>
          <nz-option nzLabel="Surat" nzValue="surat"></nz-option>
          <nz-option nzLabel="Rajkot" nzValue="rajkot"></nz-option>
          <nz-option nzLabel="Bhavnagar" nzValue="bhavnagar"></nz-option>
        </nz-select>

        <nz-divider
          style="margin-top: 20px"
          nzText="Status"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select A status"
          formControlName="status"
          (ngModelChange)="change(filter.value.status ? $event : '', 'status')"
        >
          <nz-option nzLabel="Manifested" nzValue="Manifested"></nz-option>
          <nz-option
            nzLabel="Not yet Manifested"
            nzValue="Not yet Manifested"
          ></nz-option>
        </nz-select>

        <nz-divider
          nzText="Committed Ship Date"
          nzOrientation="left"
        ></nz-divider>
        <nz-date-picker
          formControlName="committedShipDate"
          (ngModelChange)="
            change(
              filter.value.committedShipDate ? $event : '',
              'committedShipDate'
            )
          "
        ></nz-date-picker>
      </div>
    </form> -->
  </div>
</div>

<nz-modal
  [(nzVisible)]="isCancelOrderVisible"
  nzTitle="Cancel Order"
  (nzOnCancel)="isCancelOrderVisible = false"
>
  <ng-container *nzModalContent>
    <app-cancel-order
      (closeModel)="isCancelOrderVisible = false"
    ></app-cancel-order>
  </ng-container>
</nz-modal>
