@import '../../../../../../assets/variable/variable.scss';

.pending-shipment-section {
    .body-section {
        transition: margin-left .5s;

        td {
            button {
                height: 35px;
                margin: 5px;
                border: 1px solid $darkBlue;
            }

            ::ng-deep .ant-btn-round {
                padding: 4px 10px !important;
            }
        }

        .tag-section {
            border-left: 1px solid $border;
            border-right: 1px solid $border;
            padding-bottom: 13px;
            padding-left: 10px;
        }
    }

    .filter-section {
        width: 0;
        position: fixed;
        z-index: 10;
        top: 90px;
        right: 16px;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding-top: 30px;
        height: 90%;
        overflow-y: scroll;
        background-color: $white;

        .filter-content {
            padding: 5px 15px;

            input {
                height: 35px;
                font-size: 16px;
                border-radius: 5px;
            }

            nz-select {
                width: 100%;
            }

            ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector,
            .ant-picker {
                border-radius: 5px !important;
                height: 35px !important;
                font-size: 16px;
            }

            h3 {
                margin-top: 20px;
            }
        }

        nz-date-picker {
            width: 100%;
        }

        a {
            // padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .closebtn {
            position: absolute;
            top: -10px;
            right: 6px;
            font-size: 36px;
        }

        nz-divider {
            margin-bottom: 10px;
        }

        ::ng-deep .ant-divider-horizontal.ant-divider-with-text-left::before {
            width: 0% !important;

        }

        ::ng-deep .ant-divider-inner-text {
            padding-left: 0px !important;
        }
    }


    ::ng-deep .ant-input-prefix {
        font-size: x-large;
        margin-right: 10px;
    }

    ::ng-deep .ant-input {
        border-radius: 5px !important;
    }

    ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector,
    .ant-picker {
        border-radius: 5px !important;
        height: 35px !important;
        font-size: 16px;
    }

    ::ng-deep .ant-form-item {
        margin-bottom: 0px;
        // padding: 5px;
    }

    nz-input-group {
        border-radius: 5px;

        input {
            height: 40px;
            font-size: 16px;
        }
    }

    nz-time-picker {
        width: 90%;
    }


}
