<div class="login-form-layout" nz-row>
  <div
    class="side-image gutter-row"
    nz-col
    [nzXs]="24"
    [nzMd]="12"
    [nzLg]="14"
  ></div>
  <div class="card gutter-row" nz-col [nzXs]="24" [nzMd]="12" [nzLg]="10">
    <div class="logo">
      <img nz-image height="60px" nzSrc="assets/img/logo.png" alt="" />
    </div>
    <span class="headers"
      ><span style="color: #2121c3">Log In </span>Your Account</span
    >
    <form nz-form [formGroup]="loginForm">
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            submitError && !loginForm.controls['userName'].value ? 'error' : ''
          "
          nzErrorTip="Please input your user name!"
        >
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="userName"
            >User Name
          </nz-form-label>
          <nz-input-group>
            <input
              formControlName="userName"
              type="text"
              nz-input
              placeholder="Enter Your User Name"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzValidateStatus]="
            submitError && !loginForm.controls['password'].value ? 'error' : ''
          "
          nzErrorTip="Please input your password!"
        >
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="password"
            >Password
          </nz-form-label>
          <nz-input-group>
            <input
              formControlName="password"
              type="password"
              nz-input
              [type]="passwordShow ? 'password' : 'text'"
              placeholder="Enter password"
            />
            <a (click)="passwordShow = !passwordShow"
              ><span
                *ngIf="!passwordShow"
                nz-icon
                nzType="eye"
                nzTheme="outline"
              ></span
              ><span
                *ngIf="passwordShow"
                nz-icon
                nzType="eye-invisible"
                nzTheme="outline"
              ></span
            ></a>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <h4>
        <a (click)="forgotPassword()">Forgot Password?</a>
      </h4>
      <div class="action-btn">
        <button
          nz-button
          nzType="primary"
          (click)="submitForm()"
          [disabled]="isLoading"
          [ngClass]="{
            'button-disabled': isLoading
          }"
        >
          <span
            *ngIf="isLoading"
            style="color: white; font-size: 16px"
            nz-icon
            nzType="loading"
          ></span>
          Log In
        </button>
      </div>
    </form>
  </div>
</div>
