<div class="filter-action">
  <nz-badge
    style="margin-right: 10px"
    [nzShowZero]="false"
    [nzCount]="badgeTotal"
  >
    <button
      (click)="openFilterSection()"
      nz-button
      nzType="primary"
      nzShape="round"
    >
      <span nz-icon nzType="filter" nzTheme="outline"></span>
      Filter
    </button>
  </nz-badge>
  <button
    style="margin-right: 10px"
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="isDownloadVisible = true"
  >
    <span nz-icon nzType="upload" nzTheme="outline"></span> Export
  </button>

  <nz-form-item style="margin-bottom: 0">
    <nz-form-control nzErrorTip="Please input your valid code!">
      <nz-input-group nzPrefixIcon="search" class="search">
        <input [(ngModel)]="searchValue" nz-input placeholder="Search..." />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</div>

<nz-modal
  [(nzVisible)]="isDownloadVisible"
  nzTitle="Which item do you want to export?"
  (nzOnCancel)="isDownloadVisible = false"
>
  <ng-container *nzModalContent>
    <div style="padding: 15px">
      <form nz-form [formGroup]="exportForm">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <nz-radio-group style="display: grid" formControlName="export">
                <label nz-radio nzValue="A">All</label>
                <label nz-radio nzValue="B">Filtered(0)</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>

      <h4 style="margin-top: 12px">
        Your items and all their data will be downloaded as a CSV file
      </h4>
    </div>
    <div class="model-footer">
      <div class="model-action" style="padding: 15px; padding-bottom: 0">
        <button
          nz-button
          nzType="default"
          style="color: black; margin-right: 5px"
          (click)="isDownloadVisible = false"
        >
          Cancel
        </button>
        <button
          nz-button
          class="upload-btn"
          [nzType]="'primary'"
          style="
            width: 100px;
            margin-right: 24px;
            background-color: #2121c3;
            border: none;
          "
        >
          Download
        </button>
      </div>
    </div>
  </ng-container>
</nz-modal>
