<div class="filter-action">
  <nz-badge
    *ngIf="isFiltersVisible"
    style="margin-right: 10px"
    [nzShowZero]="false"
    [nzCount]="badgeTotal"
  >
    <button
      (click)="openFilterSection()"
      nz-button
      nzType="primary"
      nzShape="round"
    >
      <span nz-icon nzType="filter" nzTheme="outline"></span>
      Filter
    </button>
  </nz-badge>
  <button
    style="margin-right: 10px"
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="isDownloadVisible = true"
  >
    <span nz-icon nzType="upload" nzTheme="outline"></span> Export
  </button>

  <nz-form-item style="margin-bottom: 0">
    <nz-form-control nzErrorTip="Please input your valid code!">
      <nz-input-group nzPrefixIcon="search" class="search">
        <input [(ngModel)]="searchValue" nz-input placeholder="Search..." />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</div>

<nz-modal
  [(nzVisible)]="isDownloadVisible"
  [nzTitle]="'Which Products would you like to export?'"
  (nzOnCancel)="isDownloadVisible = false"
>
  <ng-container *nzModalContent>
    <app-export-model
      [description]="
        'Your Data will be exported as a CSV file and sent to your email.'
      "
      [exportType]="exportType"
      [code]="code"
      [showFilterOptions]="false"
      (close)="isDownloadVisible = false"
    ></app-export-model>
  </ng-container>
</nz-modal>
