@import "../../../../../../assets/variable/variable.scss";

.new-order-section {
  .body-section {
    transition: margin-left 0.5s;

    .tag-section {
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      padding-bottom: 13px;
      padding-left: 10px;
    }


  }

  .filter-section {
    width: 0;
    position: fixed;
    z-index: 10;
    top: 90px;
    right: 16px;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    height: 90%;
    overflow-y: scroll;
    background-color: white;
  }
}
