<div #section class="new-order-section">
  <div class="body-section">
    <app-date-range
      (modelChange)="onChange($event)"
      [badgeTotal]="badgeTotal"
      (filterChange)="openNav()"
    ></app-date-range>

    <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
      <app-filter-tag
        (closeTag)="close($event)"
        (tagRemove)="tagRemove()"
        [badgeTotal]="badgeTotal"
        [selectLocation]="selectLocation"
        [selectSku]="selectSku"
        [selectCarrier]="selectCarrier"
        [selectDate]="selectDate"
      ></app-filter-tag>
    </div>

    <app-order-table
      [listOfData]="newOrdersData"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [isLoading]="isLoading"
      [tabName]="'new'"
      (changeModel)="selectAction($event)"
    ></app-order-table>
  </div>
  <div #mySidenav class="filter-section">
    <app-filter-section
      (closeNav)="closeNav()"
      (changeData)="change($event)"
      [shipOutLocation]="selectLocation"
      [sku]="selectSku"
      [carrier]="selectCarrier"
      [committedShipDate]="selectDate"
      [tabName]="'new'"
    ></app-filter-section>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isCancelOrderVisible"
  nzTitle="Cancel Order"
  (nzOnCancel)="isCancelOrderVisible = false"
>
  <ng-container *nzModalContent>
    <app-cancel-order
      (closeModel)="isCancelOrderVisible = false"
    ></app-cancel-order>
  </ng-container>
</nz-modal>
