<div class="upload-model">
  <div class="body-section">
    <form [formGroup]="uploadForm">
      <div class="Neon Neon-theme-dragdropbox">
        <input
          style="
            z-index: 999;
            opacity: 0;
            width: 320px;
            height: 155px;
            position: absolute;
            right: 0px;
            left: 0px;
            margin-right: auto;
            margin-left: auto;
          "
          name="files"
          id="filer_input2"
          type="file"
          formControlName="name"
          (input)="selectFiles($event)"
          #modelvel
        />
        <div class="Neon-input-dragDrop">
          <div
            *ngIf="modelvel.value == ''; else elseBlock"
            class="Neon-input-inner"
          >
            <div class="Neon-input-icon">
              <i class="fa fa-file-image-o"></i>
            </div>
            <div class="Neon-input-text">
              <h3>Drag&amp;Drop files here</h3>
              <span style="display: inline-block; margin: 15px 0">or</span>
            </div>
            <a class="Neon-input-choose-btn blue">Browse Files</a>
          </div>
          <ng-template #elseBlock
            ><span nz-icon nzType="file" nzTheme="outline"></span>
            {{ setFileName(uploadForm.value.name) }}</ng-template
          >
        </div>
      </div>
    </form>
  </div>
  <div class="model-footer">
    <div class="model-action">
      <button
        nz-button
        nzType="default"
        style="color: black; margin-right: 5px"
        (click)="handleCancel()"
      >
        Cancel
      </button>
      <button
        nz-button
        class="action-btn"
        [nzType]="'primary'"
        style="width: 100px"
        (click)="submit()"
      >
        <span
          *ngIf="isLoading"
          style="color: white; font-size: 16px"
          nz-icon
          nzType="loading"
        ></span>
        Upload
      </button>
    </div>
  </div>
</div>
