<div class="home-header">
  <div class="button-group">
    <div class="description">
      <div class="container" [class.show]="show">
        <div [innerHTML]="description"></div>
      </div>
      <a class="link" (click)="show = !show">
        {{ show ? "Show less" : "Show More" }}
      </a>
    </div>
    <button
      nz-button
      nzType="primary"
      class="action-button"
      style="margin-top: 0"
      (click)="isMultipleProductsVisible = true"
    >
      <span nz-icon nzType="plus"></span> Edit Products
    </button>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isMultipleProductsVisible"
  nzTitle="Edit Products"
  (nzOnCancel)="isMultipleProductsVisible = false"
>
  <ng-container *nzModalContent>
    <app-add-edit-multiple-products
      [templateType]="templateType"
      (closeModel)="closeMultiProduct($event)"
    ></app-add-edit-multiple-products>
  </ng-container>
</nz-modal>

<div *ngIf="isVisible">
  <app-show-reference-code
    [isVisible]="isVisible"
    [referenceCode]="referenceCode"
  ></app-show-reference-code>
</div>
